[2018-05-31 07:43] cyberyoung opened #1 "奥琦玮bug"
# 标题title
- [ ] 清单check list
1. 有序列表sorted list
* 无序列表unsorted list
![20841527752213_ pic_hd](https://user-images.githubusercontent.com/501691/40768972-60125a78-64e9-11e8-8486-46bd0a4c4784.jpg)

[2018-05-31 08:56] zhaosy0415 opened #2 "能看到我吗？"

[2018-06-05 10:33] zhaosy0415 opened #3 "协作的数据源不能进行聚合操作"
**步骤：**
1. 用户A创建应用并添加数据集，协作给用户B
2. 用户B使用被协作的数据源进行数据聚合
3. 用户B自己创建应用并添加数据集，进行数据聚合
**结果：**
步骤2： 不能聚合，不能选择字段
步骤3： 可以聚合，可以选择字段
**期望：**
步骤2：可以聚合

[2018-06-06 01:57] #2 closed, assigned to nobody

[2018-06-06 02:05] #1 closed, assigned to cyberyoung

[2018-06-06 02:19] zhaosy0415 opened #4 "杨慧: [需求] 在数据源聚合页面添加'只显示重复字段'功能"
原因:
1.重复字段后缀有随机数字,得将重复字段后面的数字手动一一删除,增加不必要的工作量
2.目前虽然可以搜索该重复字段(搜索的在聚合阶段完成后才可以进行),依然得手动一个个查看有哪些重复字段.
3.假如门店id(1),门店id(2),起码能知道门店id(2)是重复的,但由于在同一个表中重复字段后缀数字是随机的,有可能会导致误删.增加不必要的工作量.

[2018-06-06 02:43] zhaosy0415 opened #5 "【bug】dll-计算字段-if条件无法使用"
步骤：
1、数据管理/仪表盘中添加计算列
2、列名，文本字段
3、编辑表达式 【if({是否赠菜}=1,'是','否')】
4、下一步

结果：
无显示，报错

期望：
下一步成功显示是&否

![if](https://user-images.githubusercontent.com/39791844/41012887-67696442-6976-11e8-8593-47191e5fbdea.png)

[2018-06-06 02:49] zhaosy0415 opened #6 "杨慧: [bug] 源表和fusion表不能进行聚合"
源表要左关联fusion表,但是找不到fusion表,两个表都进行了engine,但依然找不到.

[2018-06-06 03:00] zhaosy0415 opened #7 "【bug】司宇：数据聚合页面，点击返回按钮，报错"
步骤：
1. 进入应用->数据管理->新建数据集->聚合，点击返回按钮

结果：
报错

期望：
显示正常

[2018-06-06 03:05] cyberyoung commented on #6
源表和fusion表都导入了Engine，是吗？
可以截图给我们看看吗？

[2018-06-06 03:07] cyberyoung commented on #7
截个图我们看看？

[2018-06-06 03:08] zhaosy0415 commented on #7
刚刚截图一直上传不上去
![_20180606104844](https://user-images.githubusercontent.com/39791844/41013684-dddb08d0-6979-11e8-8e11-6b5d084500dc.png)

[2018-06-06 03:09] cyberyoung commented on #3
第一步中，协作的是应用？

[2018-06-06 03:10] zhaosy0415 commented on #3
把整个应用协作
![image](https://user-images.githubusercontent.com/39791844/41013770-51403ab6-697a-11e8-9cfe-494f87e62edd.png)

[2018-06-06 03:44] zhaosy0415 opened #8 "【bug】【block】司宇：使用数据库源表不能创建图表"
步骤：
1. 在仪表盘中点击添加图表，选择数据库中的表作为数据集，选择图表类型

结果：
页面一直在loading，不能进行创建图表的操作

期望：
可以正常操作

URL：http://52.83.102.127:8090/#/app/7/dashboard/3/chart/12

[2018-06-06 05:12] cyberyoung commented on #3
我是问第一步是A协作“应用”给B吧？ 因为第二步写的是“被协作的数据源”，我理解产品中数据源是无法协作的

[2018-06-06 05:17] cyberyoung commented on #6
![image](https://user-images.githubusercontent.com/501691/41018340-dfef02a4-698b-11e8-881e-8c3419c943bb.png)

[2018-06-06 05:54] zhaosy0415 commented on #3
是把应用协作给B

[2018-06-06 07:11] zhaosy0415 opened #9 "【需求】司宇：KPI图表框和数字的大小不匹配，不美观"
选择KPI指标类型的图表，添加数值之后返回仪表盘，调整图表的大小，图表空白处很大，数字很小，不美观

[2018-06-06 07:25] zhaosy0415 opened #10 "【需求】司宇：图表可以设置显示数值标签"
![image](https://user-images.githubusercontent.com/39791844/41022929-9174e9f6-699d-11e8-94ed-815c5f95e25f.png)
![image](https://user-images.githubusercontent.com/39791844/41023047-e011908c-699d-11e8-83ea-27bf27ef29c7.png)

创建柱状图图表，建议可以设置显示数值

[2018-06-06 08:15] zhaosy0415 opened #11 "杨慧:[bug] [block] 两张源表无法选择聚合筛选条件"
依然是之前出现的问题,两张源表无法选择聚合筛选条件,这些表都是随机的,没有特定说哪些表不能聚合,通常我选择某几个表进行聚合的时候,突然其中两张表就无法进行聚合条件的筛选了.
![image](https://user-images.githubusercontent.com/39791844/41025568-cf914430-69a4-11e8-89b4-7a63f8d2d566.png)
![_20180606161502](https://user-images.githubusercontent.com/39791844/41025574-d3e3663a-69a4-11e8-8075-9cfb6d559a0a.png)

[2018-06-06 08:22] cyberyoung commented on #11
聚合o_dish这个数据集，后端未取到schema
当访问这个数据集时
![image](https://user-images.githubusercontent.com/501691/41025699-2c8a4c72-69a5-11e8-800e-8c917ddaaa57.png)

当聚合时，左侧栏list接口时
![image](https://user-images.githubusercontent.com/501691/41025736-509ada5a-69a5-11e8-92f2-41503a624378.png)

[2018-06-06 08:29] #6 closed, assigned to nobody

[2018-06-06 08:30] zhaosy0415 opened #12 "【需求】司宇：建议在高级计算页面，增加公式的示例和解释"
![image](https://user-images.githubusercontent.com/39791844/41026328-d9b84ab0-69a6-11e8-9af3-63920c8bb4d8.png)
对于公式，不能掌握正确的使用方法和格式

[2018-06-06 08:45] zhaosy0415 opened #13 "杨慧[bug] 源表中添加新列选项中的搜索无法使用"
如下图
![image](https://user-images.githubusercontent.com/39791844/41027215-09495164-69a9-11e8-8f15-d1321ab1199c.png)

[2018-06-06 08:46] weishishuo commented on #7
@MarshallChen
http://192.168.211.4:9981/api/apps/22/datasets/create
http://192.168.211.4:9981/api/apps/22/datasets/create/import/config
聚合页面返回怎么调这两个接口？应该返回app页面

[2018-06-06 08:53] zhaosy0415 commented on #8
目前可以创建图表

[2018-06-06 08:53] #8 closed, assigned to cyberyoung

[2018-06-06 08:55] zhaosy0415 opened #14 "【需求】司宇：可以修改维度的排序"
可以修改维度，按照时间的顺序排序
![image](https://user-images.githubusercontent.com/39791844/41027698-4c3c59a2-69aa-11e8-8723-9d0e1f9be5f2.png)

[2018-06-06 09:02] zhaosy0415 commented on #11
我重新将源表数据导进来,发现可以了,昨天也有这种情况,就是有的表之间不能进行条件关联的时候,重新导入表然后就可以了,这个聚合条件这块还是不稳定.
![image](https://user-images.githubusercontent.com/39791844/41028132-525092c6-69ab-11e8-8e09-6a432c87a477.png)

[2018-06-06 09:11] zhaosy0415 opened #15 "杨慧 [bug] concat函数不支持数值格式"
如题,fusion表中无法使用concat,源表可以.

[2018-06-06 09:13] zhaosy0415 opened #16 "【需求】dll-未知类型允许修改"
需求：

如果字段为未知类型，可以自定义修改该类型，而不是只可以修改为文本。

图无法提交，如果需要请微信联系哈。

[2018-06-06 09:18] zhaosy0415 opened #17 "杨慧 [bug] [block] 聚合后无法操作下一步"
如题,图片无法上传,具体情况是这样的:聚合后点击'数据预览' ,接着报空指针异常

[2018-06-06 09:20] zhaosy0415 commented on #5
【if({是否赠菜}=1,'是','否')】ok了
【if({测试门店名称} in ('测试门店1','测试门店2','测试门店3'),'华北','华东')】报错
code:1
msg:
"NullPointerException: ↵java.lang.NullPointerException↵	at com.hengshi.nangaparbat.hql.BaseEval.callContain(BaseEval.java:86)↵	at com.hengshi.nangaparbat.sql.SqlEval.evalFunction(SqlEval.java:110)↵	at com.hengshi.nangaparbat.hql.BaseEval.eval(BaseEval.java:175)↵	at com.hengshi.nangaparbat.hql.BaseEval.the

[2018-06-06 09:39] zhaosy0415 opened #18 "杨慧:[bug] fusion表中很多数值都是null?"
fusion表中很多数值都是null,只有少数几个整数可以显示.

[2018-06-06 09:39] zhaosy0415 opened #19 "【bug】司宇：使用DAYOFWEEK，返回的星期不正确"
![image](https://user-images.githubusercontent.com/39791844/41030309-9bd0024c-69b0-11e8-9d17-e70321a1389d.png)

![image](https://user-images.githubusercontent.com/39791844/41030292-92b60d96-69b0-11e8-98a0-3873c499fd81.png)

[2018-06-06 09:43] zhaosy0415 opened #20 "图表前端不显示-dll"
步骤：
1、多选柱状图/折线图选择维度和数值
2、添加筛选条件实收金额！=0

结果：
1、只有数值，不显示图表  图1&图2
2、显示图表 图3
期望：
不加筛选条件也显示图表

图1
![image](https://user-images.githubusercontent.com/39791844/41030263-7ffb3fa0-69b0-11e8-90ce-c132b551156e.png)
图2
![image](https://user-images.githubusercontent.com/39791844/41030369-c4fcd316-69b0-11e8-8548-77c6edfd270a.png)
图3
![image](https://user-images.githubusercontent.com/39791844/41031207-b79aa822-

[2018-06-06 09:45] zhaosy0415 opened #21 "司宇：使用MONTH期望返回的是单独的月份的数字"
![image](https://user-images.githubusercontent.com/39791844/41030643-54e8e442-69b1-11e8-8e39-35462f123063.png)
![image](https://user-images.githubusercontent.com/39791844/41030702-7600ff7a-69b1-11e8-8a11-a9d01375cff4.png)

[2018-06-06 09:46] cyberyoung commented on #17
![image](https://user-images.githubusercontent.com/501691/41030708-77f403ea-69b1-11e8-94a5-7d67d6a303ca.png)

[2018-06-06 09:46] cyberyoung commented on #18
哪个dataset，用的什么join方式，基于哪些dataset，给一个说明？

[2018-06-06 10:02] zhaosy0415 opened #22 "杨慧:能否在表中的搜索页面搜索到多个字段,这样可以进行对比."

[2018-06-06 10:02] zhaosy0415 commented on #21
season同理

[2018-06-06 10:04] zhaosy0415 commented on #18
就数据库中的数据集,左连接.

[2018-06-06 10:29] zhaosy0415 opened #23 "司宇：删除源表中添加的计算字段，进入数据管理报错"
步骤：
1. 在应用->功能验证->数据管理->o_order_history中添加计算字段后删除计算字段
2. 再次进入表o_order_history
结果：
提示数据库错误
期望：
正常显示

![image](https://user-images.githubusercontent.com/39791844/41032869-3a3e2c14-69b7-11e8-8e6a-0c6f96dc44de.png)

[2018-06-06 10:57] weishishuo commented on #15
concat的bug今天fix了

[2018-06-06 12:07] weishishuo commented on #18
左连接，如果连接字段没有匹配，连接表中对应的的字段就是null

[2018-06-07 01:40] zhaosy0415 commented on #18
连接条件没有选错,都是匹配的.,如果没匹配怎么能聚合成功呢? 那假如都以门店id做为关联 ,那么这俩类型不一样,也会导致字段为null吗?

[2018-06-07 01:51] cyberyoung commented on #19
这个是因为MySQL将周日作为一周的第一天
我们可以统一处理下

[2018-06-07 02:01] iamtianyuan commented on #5
公式应该写成
``` ifelse({是否赠菜}='1', '是', '否') ```
今天给你们的版本应该就可以了

[2018-06-07 02:27] zhaosy0415 commented on #3
验证通过

[2018-06-07 02:27] #3 closed, assigned to xuyian252

[2018-06-07 02:27] weishishuo commented on #18
你们能区分left join和inner join的区别吗？如果不清楚，聚合的时候选择inner join吧。

[2018-06-07 02:34] weishishuo commented on #17
能不能把你们的账户开放给我们看看？或者把"收银工作表"应用协作给hengshi_test账户？

[2018-06-07 03:09] cyberyoung commented on #11
应该好了，你们测试下

[2018-06-07 03:20] zhaojunliRain commented on #11
Fix commit:
https://github.com/henglabs/everest/commit/d48b27c788e217968b4a0df6bda0f65356c8d093

henglabs/everest@d48b27c

[2018-06-07 03:30] cyberyoung commented on #11
👌

[2018-06-07 03:43] iamtianyuan commented on #23
这个是随便增加一个计算字段，然后删除就会报错吗？还是说在某个特定情况下才会出现？

[2018-06-07 03:55] cyberyoung commented on #18
![image](https://user-images.githubusercontent.com/501691/41077092-5f652908-6a47-11e8-8c2d-0be0c5443651.png)

[2018-06-07 06:19] cyberyoung commented on #18
omids 点菜全单备注id
[code]

[2018-06-07 06:28] zhaosy0415 opened #24 "司宇：使用不同列的文件替换已上传的数据，提示替换成功，但是数据没有变化"
步骤：
1. 上传一个本地的文件
2. 在步骤1的文件中新增一列
3. 在数据集页面点击替换，上传修改后新增列的文件
结果：
替换成功，但是数据集页面数据无变化
期望：
提示结构不一致不能替换或者可以成功修改数据

![image](https://user-images.githubusercontent.com/39791844/41081768-a481a676-6a5e-11e8-8b85-eb933660c327.png)

[2018-06-07 06:32] zhaosy0415 commented on #15
![image](https://user-images.githubusercontent.com/39791844/41082017-7040201c-6a5f-11e8-92dc-80e3d8e2f5b6.png)
字段来源于excel表.

[2018-06-07 06:34] cyberyoung commented on #18
canceloriginoid 反结帐原订单id
[code]

[2018-06-07 06:36] cyberyoung commented on #18
cancelantioid 反结账反向订单id
[code]

[2018-06-07 06:37] cyberyoung commented on #18
cancelnewoid  反结账新订单id
[code]

[2018-06-07 06:39] cyberyoung commented on #18
这个，实际上，你访问下http://52.83.102.127:8090/#/app/2/dataset/40 这个页面就可以看到，在字段搜索那里填入id，底下就能显示
也就是说，原始表里，这些字段就绝大部分为空或者NULL，和fusion无关
![image](https://user-images.githubusercontent.com/501691/41082434-eba93ab2-6a60-11e8-854d-904a074ac148.png)

[2018-06-07 06:41] zhaosy0415 commented on #17
已经协作给hengshi_test了.

[2018-06-07 06:46] #18 closed, assigned to weishishuo

[2018-06-07 06:58] zhaosy0415 opened #25 "司宇：建议错误提示更友好"
![image](https://user-images.githubusercontent.com/39791844/41083199-24dbe6f2-6a63-11e8-8036-ebc528a70a81.png)

公式格式错误，提示不友好

[2018-06-07 07:28] zhaosy0415 opened #26 "杨慧:多层if无法使用"
![image](https://user-images.githubusercontent.com/39791844/41084653-5f09da56-6a67-11e8-932b-9722c28ec9af.png)

[2018-06-07 07:29] zhaosy0415 opened #27 "添加字段无法进行编辑-dll"
步骤：

1、数据管理中添加计算字段
2、保存
3、编辑

结果：
无反应

期望：
跳转至编辑计算公式页面

![image](https://user-images.githubusercontent.com/39791844/41083564-12778b6e-6a64-11e8-8d17-ec398af023b7.png)

[2018-06-07 07:29] #26 closed, assigned to nobody

[2018-06-07 07:38] zhaosy0415 opened #28 "司宇：创建图表，维度时间按周显示，显示的不是周，是日期"
![image](https://user-images.githubusercontent.com/39791844/41085042-6226f128-6a68-11e8-918a-5713890d3fbf.png)

步骤：
1. 选择数据集创建柱状图表，维度选择时间，按周分组
2. 选择金额为度量
3. 查看维度显示样式
结果：
显示为日期
期望：
显示为第几周

[2018-06-07 08:31] zhaosy0415 opened #29 "司宇：聚合表时数据膨胀无提示"
步骤：
1. 选择两个需要多个字段才能确定唯一关系的表进行关联，关联时只选择一个关联字段
2. 预览，导入
结果：
开始导入数据
期望：
提示数据会膨胀，检查关联条件

[2018-06-07 08:50] zhaosy0415 opened #30 "数字显示格式有误-dll"
步骤：
1、KPI选择指标为计算字段
2、对该字段进行2位小数设置

结果：
无法找寻显示规律见附图

期望：
显示两位小数

![gif](https://user-images.githubusercontent.com/39791844/41088672-b1175052-6a72-11e8-9879-8d17bdcef5cb.gif)

[2018-06-07 08:56] #13 closed, assigned to MarshallChen

[2018-06-07 09:05] zhaosy0415 opened #31 "杨慧 now()函数显示时间错误"
日期正确,时间要比当年时间晚八个小时.

[2018-06-07 09:35] zhaosy0415 opened #32 "杨慧: 数据结构中关于 '类型'和'默认聚合'的疑问"
![image](https://user-images.githubusercontent.com/39791844/41090373-a519a4fe-6a76-11e8-9470-8e7840e69e8c.png)
1.'类型'字段有的匹配不准确,同样都是数字,有的就是文本有的就是数字,聚合的时候因为不能保存,所以的反反复复修改字段类型,一遍遍的重新聚合.
2.'默认聚合'可否去掉?实际上我不明白的是,前提我有很多字段,我不可能一个个检查,那假如'金额'默认聚合为计数,那么在我用这个字段进行仪表盘展示的时候是否就只能选择计数了,如下图
![image](https://user-images.githubusercontent.com/39791844/41090934-fc715476-6a77-11e8-899e-a6a55bf54731.png)

![image](https

[2018-06-07 09:44] weishishuo commented on #17
fixed

[2018-06-07 11:52] cyberyoung commented on #32
1. 这个和数据源数据存储是有关联的，之前看到过，同样的字段，在TiDB不同表里，设置了不同的类型
    1. “聚合的时候因为不能保存,所以的反反复复修改字段类型,一遍遍的重新聚合.” 没看懂这句话。
1. 默认聚会只是“默认”，是为了方便做图时可以一键选择。这个是可以修改的。分别回答图中问题：
    1. 图1里面“实收金额”在维度上，只能选择分组，如果是度量，就可以选择其它聚合方式
    1. 图2里面的实收金额是文本类型，所以只能选择“计数”。注意看字段前面的图标，T代表是文本。你可以在数据集里修改这个字段的类型，改成数字或者整型，就可以采用别的聚合方式。

[2018-06-08 02:39] iamtianyuan commented on #15
现在TiDB上的数据，不管是否导入引擎，文本和数字类型都可以使用concat了

[2018-06-08 02:42] iamtianyuan commented on #21
应该用`monthofyear`函数

[2018-06-08 03:56] #27 closed, assigned to MarshallChen

[2018-06-08 03:57] zhaosy0415 commented on #30
还是不可以，和之前一样。

[2018-06-08 07:10] zhaosy0415 commented on #24
验证通过

[2018-06-08 07:10] #24 closed, assigned to cyberyoung

[2018-06-08 07:12] zhaosy0415 commented on #7
验证通过

[2018-06-08 07:12] #7 closed, assigned to MarshallChen

[2018-06-08 07:15] zhaosy0415 commented on #21
![image](https://user-images.githubusercontent.com/39791844/41144197-aa718f94-6b2e-11e8-8f1c-e9549e89c4c2.png)
没有monthofyear这个函数

[2018-06-08 07:41] zhaosy0415 opened #33 "司宇：图表不能导出csv"
步骤：
1. 打开已经创建的图表，点击导出csv
结果：
导出失败
期望：
成功导出
![image](https://user-images.githubusercontent.com/39791844/41145313-4afad314-6b32-11e8-9751-e133a457f6d5.png)

[2018-06-08 08:42] zhaosy0415 commented on #33
png也不能导出
![image](https://user-images.githubusercontent.com/39791844/41148163-ea1bcefa-6b3a-11e8-9ed0-13d01be6503b.png)

[2018-06-08 08:54] iamtianyuan commented on #21
没有列出来，你先直接用吧，后面会加上的 ;)

[2018-06-08 08:58] zhaosy0415 commented on #32
'聚合的时候因为不能保存,所以的反反复复修改字段类型,一遍遍的重新聚合. '这句话是说假如我要上传一张表,然后我选择我得数据库中某一张表,在进行到如第一张图所示的那一步后,这个类型不能正确匹配,就像实收金额明明是数值类型,但自动成了'文本'类型,如果字段很多,我们不能一个个查它们是什么类型把?这就导致在聚合或者做仪表盘得时候突然发现这个字段不能达成想要的结果时(比如时候金额肯定是要求和的,但因为自动选择类型的问题,只能计数),必须返回去重新修改该字段得类型,才能在进行之前得工作. 所以这个'类型'如果不能正确匹配,会导致重复工作量.
 第二点,默认聚合只是默认,那就是说假如某个字段默认聚合是求和,那么在做仪表盘的时候还是可以选择其他的方式是吗?

[2018-06-08 08:59] zhaosy0415 commented on #23
![image](https://user-images.githubusercontent.com/39791844/41149103-43b19f92-6b3d-11e8-9aa7-b0caed029037.png)
在别的表里添加了字段删除并未报错，但是这个表一直在报错

[2018-06-08 09:01] #31 closed, assigned to nobody

[2018-06-08 09:01] cyberyoung commented on #32
1. 可以把相应的dataset id和字段名给我，我去查一下，大部分原因是因为原始数据库类型问题
2. 对，默认是为了方便用户，在创建数据集选择了默认的聚合方式，创建图表时选择此字段就会使用默认聚合方式，如果需要其它方式，则还需要手动选择

[2018-06-08 09:02] #15 closed, assigned to iamtianyuan

[2018-06-08 09:04] zhaosy0415 commented on #21
使用了之后报错
![image](https://user-images.githubusercontent.com/39791844/41149363-f0059f8c-6b3d-11e8-9c6d-ca9ebc10f5e8.png)

[2018-06-08 09:45] #17 closed, assigned to weishishuo

[2018-06-09 03:24] wwgracie commented on #15
请加UT。@iamtianyuan

[2018-06-09 03:38] iamtianyuan commented on #15
b2e97e2

[2018-06-09 03:43] wwgracie commented on #15
#b2e97e2bbf5277fff0ce3ff9f03d2b6353db2505

[2018-06-11 01:56] zhaosy0415 commented on #32
数据集id :  dataset/42

[2018-06-11 01:59] zhaosy0415 opened #34 "杨慧: 同环比不能使用"
如题,同环比都报如下错误.
![image](https://user-images.githubusercontent.com/501691/41209435-356a5faa-6d5e-11e8-8043-08f7ff6d1068.png)

[2018-06-11 02:09] #11 closed, assigned to zhaojunliRain

[2018-06-11 02:16] zhaosy0415 opened #35 "【P0】司宇：不支持跨库追加表"

[2018-06-11 02:23] wwgracie commented on #15
henglabs/everest@5851430

[2018-06-11 02:49] zhaosy0415 opened #36 "杨慧 : day_of_week 中的周日改成7"

[2018-06-11 03:18] zhaosy0415 opened #37 "【block】司宇：创建图表页面崩溃"
http://52.83.102.127:8090/#/app/8/dashboard/6
![image](https://user-images.githubusercontent.com/39791844/41211211-5f71aca4-6d68-11e8-8e6f-0df690b3e2ca.png)

步骤：
1. 创建一个图表，选择表格样式，添加一个时间作为维度，一个门店作为对比
2. 增加一个维度，选择门店
结果：
页面freeze，刷新之后再进入图表页面崩溃
期望：
正常显示

[2018-06-11 03:44] zhaosy0415 opened #38 "司宇：图表中，选择时间按月展示，希望显示为月份，不带日期"
![image](https://user-images.githubusercontent.com/39791844/41211843-acbfa0d4-6d6c-11e8-9052-2a549372a184.png)
![image](https://user-images.githubusercontent.com/39791844/41211859-c29e3c44-6d6c-11e8-8126-8811b1a7cd69.png)

[2018-06-11 03:56] zhaosy0415 opened #39 "司宇：计算同期值报错"
http://52.83.102.127:8090/#/app/8/dashboard/8/chart/60
![image](https://user-images.githubusercontent.com/39791844/41211918-1effa252-6d6d-11e8-889c-768cd0bb8a50.png)
![image](https://user-images.githubusercontent.com/39791844/41212152-75f99f12-6d6e-11e8-924e-78c893f827aa.png)

步骤：
1. 创建图表，选择表格样式，选择时间维度，选择数值，设置为求和->同/环比，选择同期值
结果：
报错
期望：
显示正确的数值

[2018-06-11 06:12] zhaosy0415 opened #40 "杨慧: 探索里面的发布功能无法使用"
如图,首先在数据集中设置了一个权限，
数据集url:http://52.83.102.127:8090/#/app/2/dataset/42,
![image](https://user-images.githubusercontent.com/39791844/41215005-c799a526-6d80-11e8-8200-34116384a836.png)
给该数据集限定了xuxf只能看到测试门店12的数据，然后创建仪表盘
仪表盘url:http://52.83.102.127:8090/#/app/2/dashboard/5
![image](https://user-images.githubusercontent.com/39791844/41215052-005729ec-6d81-11e8-8de6-af55e9f97fdd.png)
创建完成后，进行发布，测试xuxf是否

[2018-06-11 06:18] zhaosy0415 opened #41 "司宇：累计计算，报错"
http://52.83.102.127:8090/#/app/8/dashboard/8/chart/60
![image](https://user-images.githubusercontent.com/39791844/41215263-1f76976c-6d82-11e8-8dcd-b93bfd6c2ce6.png)
步骤：
创建图表，选择表格样式，选择时间维度，选择数值，设置为求和->累计计算，选择按季度累计
结果：
报错
期望：
显示正确的数值

[2018-06-11 06:19] zhaosy0415 commented on #34
{version: "1.2-SNAPSHOT@5f15e0a", code: 1,…}
code
:
1
msg
:
"NullPointerException: ↵java.lang.NullPointerException↵	at com.hengshi.nangaparbat.sql.vendor.EngineVendor.refine(EngineVendor.java:71)↵	at com.hengshi.nangaparbat.sql.vendor.EngineVendor.fetchSqlData(EngineVendor.java:42)↵	at com.hengshi.nangaparbat.sql.vendor.BaseVendor.fetchSqlData(BaseVendor.java:128)↵	at com.hengshi.nangaparbat.proxy

[2018-06-11 06:21] zhaosy0415 opened #42 "仪表盘中列值分组支持搜索-dll"
仪表盘中列值分组中字段支持分组。
![image](https://user-images.githubusercontent.com/39791844/41215394-ad5603e2-6d82-11e8-9592-0f5206b7514b.png)

[2018-06-11 06:22] zhaosy0415 opened #43 "司宇：移动计算，报错"
http://52.83.102.127:8090/#/app/8/dashboard/8/chart/60
![image](https://user-images.githubusercontent.com/39791844/41215408-ba371484-6d82-11e8-9891-fae8f8d95fc2.png)
步骤：
创建图表，选择表格样式，选择时间维度，选择数值，设置为求和->移动计算，选择前1个月后1个月，求和
结果：
报错
期望：
显示正确的数值

[2018-06-11 06:39] zhaosy0415 opened #44 "列值分组分组移动后数据错误-dll"
http://52.83.102.127:8090/#/app/5/dataset/50
步骤：
1、仪表盘中选添加字段-列值分组（文本字段），下一步
2、选择字段，分组方式，下一步
3、新增分组【0-8】
4、默认分组中，移动到【0-8】，点击6后面的‘+’

结果：
6移入【0-8】，其他数值为空

期望：
6移入【0-8】，其他数值依旧在默认分组中

![image](https://user-images.githubusercontent.com/39791844/41215494-3bf74e94-6d83-11e8-9024-07f106fb8d9f.png)
![image](https://user-images.githubusercontent.com/39791844/41215977-31feee7c-6d85-11e8-984a-5efea1696ca4.png

[2018-06-11 06:44] zhaosy0415 commented on #41
维度中包含门店名称

[2018-06-11 06:50] zhaosy0415 opened #45 "筛选条件中对子项进行搜索，搜索项不存在会显示-dll"
步骤：
1、仪表盘筛选项-选择一个文本字段
2、输入一个不存在子项【不存在啊啊啊啊】

结果：
显示这个不存在子项，造成干扰。

期望：
提示不存在

![image](https://user-images.githubusercontent.com/39791844/41216370-aa4a648c-6d86-11e8-8a9b-72493836cd8c.png)

[2018-06-11 06:59] zhaosy0415 opened #46 "司宇：表格建议可以锁定列"
![image](https://user-images.githubusercontent.com/39791844/41216706-f93b00b4-6d87-11e8-8d92-5de10eb42889.png)

可以设置锁定某一列，当需要展示的数据过多时，可以固定表头，方便查看数值

[2018-06-11 07:04] ThomasChan commented on #28
这个 feature 加上了，旧的图的轴需要重新选择才能将结果显示为`第几周`

[2018-06-11 07:07] ThomasChan commented on #20
如何复现？

[2018-06-11 07:07] ThomasChan commented on #20
使用如下测试数据无法复现
[code]

[2018-06-11 07:09] ThomasChan commented on #37
表格渲染大量数据时有性能问题，待解决。

[2018-06-11 07:12] zhaosy0415 opened #47 "杨慧:修改维度后的粒度,好几分钟没反应"
图片稍后上传
![image](https://user-images.githubusercontent.com/39791844/41217274-fce1c3a4-6d89-11e8-86ad-3e121c6e32a3.png)

[2018-06-11 07:16] zhaosy0415 opened #48 "杨慧:维度设置为周,但是聚焦到某周不显示日期"
![image](https://user-images.githubusercontent.com/501691/41217602-f60f09e6-6d8a-11e8-9518-9ac096c70634.png)

[2018-06-11 07:44] zhaosy0415 opened #49 "扩展excel的容量-dll"
目前只支持50M。希望增大。

[2018-06-11 07:58] zhaosy0415 opened #50 "杨慧: 数据集打开速度慢"
url: http://52.83.102.127:8090/#/app/2/dataset/57
![image](https://user-images.githubusercontent.com/39791844/41219241-4b156868-6d90-11e8-9981-808dcd39cf79.png)
所有的数据集打开都特别慢

[2018-06-11 08:42] zhaosy0415 opened #51 "杨慧:添加计算字段中,多个if函数嵌套会卡掉"
url: http://52.83.102.127:8090/#/app/2/dataset/42
多次加载失败,然后重新添加该计算字段依然无法使用
![image](https://user-images.githubusercontent.com/501691/41221352-7629ff40-6d96-11e8-961e-dd23adfa7e42.png)

而且关掉字段,重新添加计算字段,然后又开始转圈,刷新好几次也没用

[2018-06-11 08:58] zhaosy0415 opened #52 "杨慧:计算字段删除报错"
url:http://52.83.102.127:8090/#/app/2/dataset/42

[2018-06-11 09:29] zhaosy0415 opened #53 "司宇：权限控制，增加了数据分配规则但是没有选择内容，点击保存，报错"
![image](https://user-images.githubusercontent.com/39791844/41223613-e2f518c0-6d9c-11e8-9905-9ceff3315f93.png)
![image](https://user-images.githubusercontent.com/39791844/41223626-ebd62434-6d9c-11e8-8d77-77a31a4b49d0.png)

步骤：
1. 选择数据集，进入权限控制
2. 创建规则，选择用户，点击数据
3. 在数据页面增加一条行权限控制，选好字段设置好条件
4. 再次点击加号，但是不选择任何内容
5. 预览并保存
结果：
报错
期望：
弹出提示，要设置条件

[2018-06-11 09:31] zhaosy0415 opened #54 "分辨率1366*768右侧的滚动条无法拖动-邓凯红"
步骤：
1、导入Excel

结果：
因为无法拖动滚动条，所以无法看到下一步

期望：
可拖动滚动条，看到下一步

[2018-06-11 09:44] zhaosy0415 commented on #29
在engine中会膨胀的数据也没有任何提示

[2018-06-11 09:51] zhaosy0415 commented on #28
已修复

[2018-06-11 09:51] #28 closed, assigned to ThomasChan

[2018-06-11 09:52] zhaosy0415 opened #55 "杨慧: 仪表盘没有图表,但依然显示如下情况(excel表无法删除)"
http://52.83.102.127:8090/#/app/2

所有仪表盘里面的图表都删除了,但excel的表无法删除

[2018-06-11 09:57] zhaosy0415 opened #56 "司宇：权限控制，增加一条行权限控制条件后预览，再增加一条行权限控制条件，希望按钮自动变回预览并保存"
![456546](https://user-images.githubusercontent.com/39791844/41225205-e307b4a4-6da0-11e8-858f-57867ff5d3b4.png)

[2018-06-11 10:31] cyberyoung commented on #55
删除哪个excel表？这个app里有多个excel数据集

[2018-06-12 02:05] zhaosy0415 opened #57 "【block】司宇：折线柱状组合图，右侧的度量的高级计算选择框显示不全"
步骤：
1. 创建图表，选择折线柱状组合图
2. 选择维度和左侧数值
3. 选择右侧度量，尝试设置同环比
结果：
选择框显示不全
期望：
可以自适应页面

![061203](https://user-images.githubusercontent.com/39791844/41266101-1c53c720-6e28-11e8-8d3f-7b8bb9580488.png)

[2018-06-12 02:06] zhaosy0415 opened #58 "【critical】司宇：同样的图表，刷新几次，展示的样式不一致"
账号：zhaosy
密码：请咨询我
chart：http://52.83.102.127:8090/#/app/8/dashboard/9/chart/92

![061202](https://user-images.githubusercontent.com/39791844/41266106-20696608-6e28-11e8-8c69-fbc0cc53af06.png)
![061201](https://user-images.githubusercontent.com/39791844/41266105-200f4d76-6e28-11e8-93b4-96f4f34f4289.png)

[2018-06-12 02:06] zhaosy0415 opened #59 "【block】自己账号数据管理看不到自己刚上传的文件-邓凯红"
步骤：
1.上传Excel文件，显示成功

结果：
1.数据管理看不到，别人的账号可以看到我的上传

期望：
可以看到自己上传的文件

[2018-06-12 02:08] cyberyoung commented on #59
给一下dataset的id

[2018-06-12 02:11] zhaosy0415 commented on #21
![image](https://user-images.githubusercontent.com/39791844/41266278-dc89a258-6e28-11e8-879e-9968f733ee84.png)
返回的月份不正确，使用monthofyear
http://52.83.102.127:8090/#/app/8/dashboard/9/chart/93

[2018-06-12 02:19] zhaosy0415 commented on #19
验证通过

[2018-06-12 02:19] #19 closed, assigned to iamtianyuan

[2018-06-12 02:24] zhaosy0415 commented on #23
已经不报错了

[2018-06-12 02:24] #23 closed, assigned to iamtianyuan

[2018-06-12 02:56] zhaosy0415 opened #60 "日期字段在度量中无法使用-dll"
步骤：
1、在仪表盘的度量中添加字段，其中包含date类型
2、下一步
http://52.83.102.127:8090/#/app/5/dashboard/4/chart/59

结果：
报错

期望：
显示数值，同时希望报错易懂。

[2018-06-12 03:23] zhaosy0415 opened #61 "【block】司宇：导入Excel并再次替换数据后，制作图表，提示数据库错误"
![image](https://user-images.githubusercontent.com/39791844/41268316-08c493a6-6e32-11e8-9400-cc0f7bed8316.png)
![image](https://user-images.githubusercontent.com/39791844/41268510-015fe40c-6e33-11e8-8dbe-cf0e2ba45b6a.png)
步骤：
1. 导入Excel
2. 在数据管理中，替换数据
3. 制作热力图
结果：
提示数据库错误
期望：
正常显示
备注：
该表被替换过数据
http://52.83.102.127:8090/#/app/18/dashboard/10/chart/96
http://52.83.102.127:8090/#/app/18/dataset/245

[2018-06-12 03:26] zhaosy0415 opened #62 "司宇：仪表盘名字有英文，显示不全"
![image](https://user-images.githubusercontent.com/39791844/41268584-6417f648-6e33-11e8-8900-6637509b5b29.png)

[2018-06-12 03:48] zhaosy0415 commented on #59
http://52.83.102.127:8090/#/app/18

[2018-06-12 04:02] cyberyoung commented on #45
这是一个设计上的考虑
由于表格可能会很大，出于性能考虑，导致我们在抽取distinct value的时候选取的行数有一定限制，所以这里的搜索框不仅是一个搜索框，而且是一个输入框，如果搜索框不存在于我们取到的value set里面时，我们会把输入作为一个用户填入的值放进来，也作为过滤项

[2018-06-12 04:53] cyberyoung commented on #58
我刷新都没问题诶……

[2018-06-12 04:55] cyberyoung commented on #59
这个是APP的，数据集叫什么名字？

[2018-06-12 05:48] zhaosy0415 commented on #59
我看不到数据集，应用名字叫“运营驾驶舱”，上传的数据有7、8个名字叫：出库数据、入库数据、库存明细表、库存预警、采购单价和公共数据关联分析、原料投诉次数金额、菜品耗料表-1、菜品耗料表-2

[2018-06-12 05:50] zhaosy0415 commented on #58
多刷新几次，有惊喜

[2018-06-12 06:03] zhaosy0415 commented on #59
![1528712857 1](https://user-images.githubusercontent.com/39791844/41272814-4f05e826-6e49-11e8-8621-6a6c1e5a095a.jpg)

[2018-06-12 06:03] zhaosy0415 commented on #59
![1528783289 1](https://user-images.githubusercontent.com/39791844/41272852-716030f2-6e49-11e8-9084-b2b5037feb4c.jpg)

[2018-06-12 06:31] zhaosy0415 commented on #40
还是无法进行发布

[2018-06-12 06:38] zhaosy0415 opened #63 "司宇：设置数值格式，调整小数位数，需要先选择其他的内容再点击小数位数，才能成功"
步骤：
1. 创建图表，选择数值，设置展示格式
2. 点击设置小数位数的按钮
3. 点击其他样式，再点击设置小数位数的按钮
结果：
步骤2：无反应
步骤3：可以设置小数位数
期望：
可以直接设置小数位数
截图：
传不上来，见群聊

[2018-06-12 06:57] zhaosy0415 opened #64 "司宇：希望可以复制图表仪表盘或者复制整个探索文件夹"
在我们实际应用中，会有一部分的仪表盘或者图表是复用的，比如按照角色（区域经理->门店经理），大部分的内容都是一样的，只是会需要调整一些维度，如果都需要手动创建，就属于浪费劳动力，希望可以直接复制过来，进行简单的修改即可

[2018-06-12 07:00] zhaosy0415 opened #65 "【P1】杨慧:不同的探索之间的数据集能否共享"
![image](https://user-images.githubusercontent.com/39791844/41274790-465d9856-6e51-11e8-8b28-35303c8adf7c.png)

[2018-06-12 07:10] zhaosy0415 opened #66 "【P0】司宇：图表中的计算字段可以复用"
创建表格类型图表，需要创建一个计算字段并且求同期值、同比增长值和同比增长率，但是计算字段不能复用，需要创建四次，重复劳动

[2018-06-12 07:41] zhaosy0415 commented on #55
![image](https://user-images.githubusercontent.com/39791844/41276508-021fb466-6e57-11e8-92bf-e0d83d441b78.png)

[2018-06-12 07:42] zhaosy0415 opened #67 "杨慧:追加数据到99%不动了"
![image](https://user-images.githubusercontent.com/39791844/41276546-1cbd9d6a-6e57-11e8-9678-6ebaffde64b8.png)
url : http://52.83.102.127:8090/#/app/24/dataset/361

[2018-06-12 07:43] zhaosy0415 opened #68 "司宇：探索中文件夹的logo需要换成ACEWILL"
![061204](https://user-images.githubusercontent.com/39791844/41276574-319fa836-6e57-11e8-9625-576428e1f204.png)

[2018-06-12 08:04] zhaosy0415 opened #69 "杨慧:金额默认全为文本类型"
1.上传excel表格,然后做指标卡出现 url :http://52.83.102.127:8090/#/app/24/dashboard/12/chart/120
![image](https://user-images.githubusercontent.com/39791844/41277487-f0f8d232-6e59-11e8-9047-e034521f58ea.png)

2.接着又的返回去从头修改字段类型为数字,然后查看了下金额默认全都是文本类型
![image](https://user-images.githubusercontent.com/39791844/41277626-522c88be-6e5a-11e8-97b8-acaf90d9afa8.png)

[2018-06-12 08:10] zhaosy0415 opened #70 "杨慧: KPI图表添加筛选条件显示'资源未找到'"
http://52.83.102.127:8090/#/app/24/dashboard/12/chart/124
![image](https://user-images.githubusercontent.com/39791844/41277868-fb528574-6e5a-11e8-968d-87b21d94af65.png)

[2018-06-12 08:23] zhaosy0415 opened #71 "【block】司宇：饼图应该支持多个数值对比"
![061205](https://user-images.githubusercontent.com/39791844/41278047-780740f0-6e5b-11e8-809b-9246668c38ab.png)

目前只支持一个维度一个数值

[2018-06-12 08:23] zhaosy0415 opened #72 "杨慧: 图表自定义同环比当选择前几个月的时候是否可以显示具体月份"
图片稍后上传

![image](https://user-images.githubusercontent.com/501691/41278952-c91e3956-6e5d-11e8-95df-90392d659119.png)

[2018-06-12 08:35] zhaosy0415 opened #73 "邓凯红-仪表盘里建好的图表总是消失不见"
步骤：
1.在应用“运营驾驶舱-总经理”的名为“总监驾驶舱”的仪表盘中，新建的几个图表
结果：
1.退出仪表盘后，再进去就看不到了
期望：
1.新建的图表，若没有删除要一直存在

[2018-06-12 08:37] cyberyoung commented on #59
你的用户名是啥？密码如果可以也给一下，我方便去看看

[2018-06-12 08:42] zhaosy0415 opened #74 "司宇：多选柱状图数值差异对比不明显"
![061206](https://user-images.githubusercontent.com/39791844/41279601-86aa6872-6e5f-11e8-9a6a-3361c6ade7ab.png)
![061207](https://user-images.githubusercontent.com/39791844/41279608-8aa7fc3c-6e5f-11e8-8fb5-faa7614747af.png)

[2018-06-12 08:44] zhaosy0415 commented on #59
用户名：dengkh
密码： gaoxiong

[2018-06-12 08:44] zhaosy0415 opened #75 "杨慧:同环比的值结果为null"
url:http://52.83.102.127:8090/#/app/24/dashboard/12/chart/126
![image](https://user-images.githubusercontent.com/39791844/41279739-df7f7e2e-6e5f-11e8-96c9-ff60b795e2ea.png)

[2018-06-12 09:08] zhaosy0415 opened #76 "【block】堆叠柱形图应该支持多个数值堆积"
其他产品

![061208](https://user-images.githubusercontent.com/39791844/41281125-377f295a-6e63-11e8-92bf-423c5e1d0c6b.png)

[2018-06-12 09:15] zhaosy0415 opened #77 "司宇：建议筛选器中支持时间格式字段"
场景：
在菜品表中通过退菜时间来区分是否退菜，退菜时间为空即为正常菜品

[2018-06-12 09:21] zhaosy0415 opened #78 "杨慧:if函数嵌套循环使用"
sum(if()),
count(if()),
count(distinct(concat())),
count(distinct(if()))

[2018-06-12 09:24] zhaosy0415 opened #79 "邓凯红-饼图不显示数值"
步骤：
1.在仪表盘中创建饼图
结果：
1.显示值如下
![1528795370 1](https://user-images.githubusercontent.com/39791844/41281938-494fcb7e-6e65-11e8-8692-f1f209ad21c5.jpg)
期望：
1.正常显示

[2018-06-12 09:25] #79 closed, assigned to nobody

[2018-06-12 09:31] zhaosy0415 opened #80 "【block】司宇：添加对比之后，同环比数值有问题"
![061209](https://user-images.githubusercontent.com/39791844/41281991-6faf9e3e-6e65-11e8-89f3-5d8b1e77c791.png)

步骤：
1. 创建表格类型的图表，维度设置为时间，按周分组；数值设置为营业额，添加对比维度为门店
2. 再次在数值中添加一个营业额，选择求和->同/环比，选择对比相对日期，对比值，偏移到之前一周
3. 查看数值
结果：
数值不正确，并不是前一周的数值
期望：
显示正确的数值

[2018-06-12 09:35] zhaosy0415 opened #81 "杨慧:图表中的计算字段无法保存"
如题,url:http://52.83.102.127:8090/#/app/24/dashboard/12/chart/137
首先数据源都是同一个,然后添加图表,接着添加计算字段,由于柱状图只支持一个数值显示,所以添加计算字段

接着退出该表,重新打开该表,又的重新添加该计算字段.

[2018-06-12 09:46] zhaosy0415 opened #82 "累计计算默认的周期是英文"
![image](https://user-images.githubusercontent.com/39791844/41283172-790fb07e-6e68-11e8-9405-69008aaea0ff.png)

[2018-06-12 09:46] cyberyoung commented on #20
并且翻台率不在筛选里

[2018-06-12 10:04] zhaosy0415 commented on #80
![image](https://user-images.githubusercontent.com/39791844/41284151-112fda94-6e6b-11e8-8020-00f2e72bb9e7.png)
增加门店维度，也不正确

[2018-06-12 10:05] zhaosy0415 opened #83 "邓凯红-柱形图度量不显示日期字段，无法选择"
![image](https://user-images.githubusercontent.com/39791844/41284018-bd618728-6e6a-11e8-8a45-7211c0f00ff5.png)
步骤：
1.数据集里有日期字段，柱形图度量里不显示日期字段
结果：
1.度量无法选择日期字段
期望：
1.度量可以选择日期字段

[2018-06-12 10:11] zhaosy0415 opened #84 "司宇：累计计算设置框，起始时间选为指定日期，日历图表和时间重叠"
![image](https://user-images.githubusercontent.com/39791844/41284416-cc6e171c-6e6b-11e8-808c-7695dd782a3e.png)

[2018-06-12 10:18] zhaosy0415 opened #85 "【block】司宇：有门店维度后，累计计算不是按照门店维度计算的"
![image](https://user-images.githubusercontent.com/39791844/41284825-0435c2c0-6e6d-11e8-9442-be650a28da83.png)

[2018-06-12 10:19] zhaosy0415 opened #86 "杨慧:数据集中有字段是未知类型,无法修改其类型"
![image](https://user-images.githubusercontent.com/39791844/41284813-fde298d0-6e6c-11e8-89fa-2e7f3631a650.png)

[2018-06-13 03:02] zhaosy0415 opened #87 "杨慧 : 饼图不显示占比"
url : http://52.83.102.127:8090/#/app/24/dashboard/12/chart/163

![image](https://user-images.githubusercontent.com/501691/41328751-553ee93c-6efc-11e8-9f79-d1f22337fbe6.png)

[2018-06-13 03:25] zhaosy0415 opened #88 "邓凯红-创建柱形图，度量选中一个数字字段后报错"
http://52.83.102.127:8090/#/app/24/dashboard/22/chart/229
![image](https://user-images.githubusercontent.com/39791844/41328693-0259004a-6efc-11e8-8519-05cdc048dcac.png)
步骤：
1.创建柱形图，度量：小计（求和）
结果：
1.报错，无法显示图形
期望：
1.可以显示图形，不要报错

[2018-06-13 03:25] zhaosy0415 opened #89 "公式计算错误-dll"
http://52.83.102.127:8090/#/app/5/dataset/492

毛利润收银字段计算错误
公式：sum({应收金额}) - sum({标准成本})
![image](https://user-images.githubusercontent.com/39791844/41328778-7eae95ec-6efc-11e8-8ea2-abc8f547a2aa.png)

[2018-06-13 03:27] zhaosy0415 opened #90 "杨慧 : 去重计算无法实现"
![image](https://user-images.githubusercontent.com/39791844/41328811-b81b39e8-6efc-11e8-8590-8ee28bd4843c.png)
 count(distinct(订单id))或者单纯的count()都不能计算

[2018-06-13 03:29] zhaosy0415 opened #91 "编辑计算字段后，计算公式不显示-dll"
步骤：
http://52.83.102.127:8090/#/app/5/dataset/492
1、对已有计算公式进行编辑
2、不修改后关闭
3、再次编辑该字段

结果：
计算公式为空

期望：
显示该字段计算公式

[2018-06-13 03:32] iamtianyuan commented on #21
这个结果不是bug，红框中的那一行其实真实时间是在5月份，之所以显示成2018-04-30是因为这一天是属于从2018-04-30开始的这一周，这个图表上的数据是按照`周`来分组的。
月份那一列得到的结果是对的。

[2018-06-13 03:34] zhaosy0415 opened #92 "数据集和仪表盘添加列报错不统一-dll"
数据集里面正常汉字  仪表盘里的是机器码
但是数据集里也有机器码的情形。

[2018-06-13 06:07] zhaosy0415 opened #93 "杨慧 : [block]数据追加的时候,数据集中的数据不能在图表中被引用,否则追加失败"
http://52.83.102.127:8090/#/app/24/dataset/488
要追加数据, 前提要保证没有用该数据集进行过创建图表,否则显示追加失败.但是数据是不断更新的,
然后删除所有用数据集创建的图表,显示这个
![image](https://user-images.githubusercontent.com/39791844/41333169-643ecd46-6f13-11e8-958c-aeb7ad8cbd93.png)

[2018-06-13 06:07] iamtianyuan commented on #90
用`distinc_count()`函数

[2018-06-13 06:11] iamtianyuan commented on #89
你期望结果是什么样的呢?

[2018-06-13 06:29] #20 closed, assigned to ThomasChan

[2018-06-13 06:40] zhaosy0415 opened #94 "杨慧: 图表设置展示格式不生效"
![image](https://user-images.githubusercontent.com/39791844/41334293-a9cbe674-6f17-11e8-8828-e2820aa4c9bc.png)
url :.83.102.127:8090/#/app/24/dashboard/12/chart/184
![image](https://user-images.githubusercontent.com/39791844/41334315-c13d61b6-6f17-11e8-9fd0-69b928d72a3a.png)

[2018-06-13 06:44] zhaosy0415 commented on #90
![image](https://user-images.githubusercontent.com/39791844/41334447-367393d8-6f18-11e8-9ff8-2c70f174fbf2.png)

[2018-06-13 06:46] #21 closed, assigned to cyberyoung

[2018-06-13 06:55] iamtianyuan commented on #90
sorry,写错了，应该是`distinct_count()`

[2018-06-13 07:09] zhaosy0415 opened #95 "杨慧:图表格式是否能行列转换"
![image](https://user-images.githubusercontent.com/39791844/41335563-c892d208-6f1b-11e8-9a19-e4e07a0d18ea.png)

![image](https://user-images.githubusercontent.com/39791844/41335527-a8aff088-6f1b-11e8-8f36-6b5d4fd3704f.png)

[2018-06-13 07:15] zhaosy0415 opened #96 "连续性分组值无法修改-dll"
步骤：
1、仪表盘中添加连续性分组字段
2、修改边界值

结果：
无法修改

期望：
可以修改成需要值

![gif1](https://user-images.githubusercontent.com/39791844/41335743-75b3bff6-6f1c-11e8-9211-c1bef9562c3f.gif)

[2018-06-13 08:08] #38 closed, assigned to cyberyoung

[2018-06-13 10:42] zhaosy0415 opened #97 "杨慧: 表格有多个列时,无法左右滑动"
添加很多列之后,后面的列无法显示.
url:http://52.83.102.127:8090/#/app/24/dashboard/12/chart/220
![image](https://user-images.githubusercontent.com/39791844/41346581-777f418a-6f39-11e8-86d7-eda4bcdc7f18.png)

[2018-06-14 02:28] zhaosy0415 opened #98 "司宇：账号中的角色名称需要汉化"
![061401](https://user-images.githubusercontent.com/39791844/41388277-bb5667b0-6fbd-11e8-8b78-e18ca9b8794d.png)

[2018-06-14 02:44] #90 closed, assigned to nobody

[2018-06-14 03:00] zhaosy0415 opened #99 "司宇：外链管理里面，点击名称提示未找到文件"
![061402](https://user-images.githubusercontent.com/39791844/41389214-106cbe76-6fc2-11e8-94e1-e277f64b29bd.png)

步骤：
1. 分享某一个仪表盘
2. 进入外链管理，点击名称
结果：
提示未找到文件
期望：
显示仪表盘

[2018-06-14 03:01] zhaosy0415 opened #100 "时间无法拖动筛选-dll"
步骤：
http://52.83.102.127:8090/#/app/5/dashboard/4/chart/269
数据集
1、结账时间为维度
2、对结账时间进行筛选

结果：
无法拖动选择

期望：
时间可以拖动筛选

[2018-06-14 03:21] zhaosy0415 opened #101 "司宇：不能播放幻灯片"
点击没有反应
![061403](https://user-images.githubusercontent.com/39791844/41389745-1388b7c4-6fc5-11e8-88e4-560abb0e7f63.png)

[2018-06-14 03:22] zhaosy0415 opened #102 "司宇：协作之后没有收到系统消息"
步骤：
1. 账户A把应用协作给账户B
2. 账户B查看系统消息
结果：
没有消息
期望：
有消息

[2018-06-14 03:54] zhaosy0415 opened #103 "司宇：发布后的图表可以删除筛选条件"
步骤：
1. 将探索进行发布
2. 进入应用查看发布的仪表盘
3. 选择有筛选条件的图表打开
4. 删除筛选条件
结果：
可以删除筛选条件
期望：
发布的应用不可以修改
![061404](https://user-images.githubusercontent.com/39791844/41390756-a06fc28c-6fc9-11e8-9c9d-8083d4fb3289.gif)

[2018-06-14 08:19] zhaosy0415 opened #104 "司宇：OEM，具体内容见邮件<衡石OEM-0614>"
- [x] 临时屏蔽帮助文档入口
- [x] 创建聚合表，拖入一个导入engine的表，再将鼠标悬停在没导入engine的表上，弹出提示“请先把数据集导入**衡石**加速引擎后再进行聚合”
- [x] 系统设置 - 用 name @MarshallChen
- [x] 探索和应用中的logo  @MarshallChen
- [x] 技术支持邮箱，替换成bigdata@acewill.cn @MarshallChen

[2018-06-14 08:21] #52 closed, assigned to cyberyoung

[2018-06-14 08:33] #89 closed, assigned to nobody

[2018-06-14 08:48] zhaosy0415 opened #105 "杨慧: 柱状图添加聚焦"
![image](https://user-images.githubusercontent.com/39791844/41401450-7cb4f852-6ff2-11e8-8399-a6245e49aa12.png)

[2018-06-15 01:27] zhaosy0415 opened #106 "6.14更新后图不显示报错，6.15未修复"
http://52.83.102.127:8090/#/app/5/dashboard/4/chart/83

[2018-06-15 02:16] zhaosy0415 opened #107 "杨慧[block] : 追加合并报错"
![image](https://user-images.githubusercontent.com/39791844/41446906-e9b84886-7084-11e8-9f61-f4efd2af68b4.png)
http://52.83.102.127:8090/#/app/2/dataset/42
1.追加合并选择字段报如图所示的错误.
2.右边的'已选字段'不能进行搜索

[2018-06-15 02:39] zhaosy0415 opened #108 "杨慧: 建图表选择对比维度显示'资源未找到'"
![image](https://user-images.githubusercontent.com/39791844/41447510-2d59d322-7088-11e8-8901-cb17c02c7b31.png)
如图, url:http://52.83.102.127:8090/#/app/2/dashboard/5/chart/377

[2018-06-15 02:40] zhaosy0415 opened #109 "多选柱状图数据显示错误-dll"
http://52.83.102.127:8090/#/app/2/dashboard/5/chart/378

[2018-06-15 02:45] zhaosy0415 opened #110 "杨慧:移动计算无法使用"
![image](https://user-images.githubusercontent.com/39791844/41447713-25f33974-7089-11e8-90e5-4812b18e68f4.png)
http://52.83.102.127:8090/#/app/2/dashboard/5/chart/379

[2018-06-19 02:05] #60 closed, assigned to nobody

[2018-06-19 02:05] #5 closed, assigned to iamtianyuan

[2018-06-19 08:28] xuyian252 commented on #103
前端：
1、删除操作后，无论返回结果是否成功，页面都会将所选筛选条件隐藏
2、是否应该隐藏筛选条件的删除操作按钮
@MarshallChen

[2018-06-19 09:05] cyberyoung commented on #58
这个是由于结果集超过了1k，gp返回顺序随机导致的
目前的解决方案是散点图按照group by排序，返回结果固定
从逻辑上，这个方案有一定的问题，就是可能错过某些异常值；从概率上，应该可以接受

[2018-06-19 09:43] xuyian252 commented on #55
这个app发布过吗？ @zhaosy0415

[2018-06-19 09:47] cyberyoung commented on #74
豪哥，合并y轴得加回来

[2018-06-19 09:48] cyberyoung commented on #104
#68 是其中之一

[2018-06-19 09:48] #68 closed, assigned to MarshallChen

[2018-06-19 09:50] cyberyoung commented on #83
http://52.83.102.127:8090/#/app/24/dashboard/21/chart/380

![image](https://user-images.githubusercontent.com/501691/41589879-36f31e1c-73e8-11e8-88b8-ceabda476e0c.png)
![image](https://user-images.githubusercontent.com/501691/41589881-389aa6d6-73e8-11e8-87d4-20ee687500a0.png)

[2018-06-19 09:52] cyberyoung commented on #83
度量不支持日期时间字段
但是在添加字段里可以
![image](https://user-images.githubusercontent.com/501691/41590435-8b8080a4-73e9-11e8-8c1e-9b4abfe33c56.png)

[2018-06-19 09:57] cyberyoung commented on #91
@MarshallChen 后端返回了expr，前端未显示
![screen](https://user-images.githubusercontent.com/501691/41590746-557b9772-73ea-11e8-8f47-2ab94adc779b.png)

[2018-06-20 02:07] weishishuo commented on #107
字段名列表|label|次数
---|---|---
 pwd_27_42,uuid_27_42      | uuid (27) (42)                                  | 2
 brid_37_42,brid_41_42     | 餐段id (42)                                     | 2
 rid_33_42,rid_41_42       | 理由id (42)                                     | 2
 bid_33,bid_33_42          | 品牌id (33)                                     | 2
 id_23_42,sid_32_42        | 主键id (42)

[2018-06-20 02:17] weishishuo commented on #107
@cyberyoung

[2018-06-20 02:36] iamtianyuan commented on #36
henglabs/everest@83d92fb

[2018-06-20 02:38] ThomasChan commented on #97
没看出来哪列没显示啊

[2018-06-20 03:39] zhaosy0415 opened #111 "杨慧:[block]多个数据集聚合后报错"
1. 多个数据集聚合，有Excel和Tidb，Tidb已经使用拉取方式。数据探索是[真实数据测试](http://52.83.102.127:8090/#/app/37)
![image](https://user-images.githubusercontent.com/1694674/41636181-752026ac-747f-11e8-97c8-f6a930203a4d.png)

2. 数据预览成功，生成数据集以后报错。
![image](https://user-images.githubusercontent.com/1694674/41636204-9beab8b0-747f-11e8-8f33-5fd210c98fbc.png)
![image](https://user-images.githubusercontent.com/1694674/41636225-aef6

[2018-06-20 03:53] ThomasChan commented on #82
develop 没复现

[2018-06-20 03:54] MarshallChen commented on #91
@linhualai GET `/api/apps/{app}/datasets/{dataset}/fields/{field}` 未返回 readableFormula

[2018-06-20 05:49] ThomasChan commented on #92
这可能说的是 `系统错误` 跟 `NullPointException` 的错误吧，`NullPointException` 不应该抛出来 @linhualai    或者说在 debug 模式下抛出来

[2018-06-20 07:41] ThomasChan commented on #108
在操作该图表的时候，该图表已经被人删掉了

[2018-06-20 07:42] ThomasChan commented on #108
不是 bug

[2018-06-20 07:42] ThomasChan commented on #70
该图也是被人删掉了，不是 bug

[2018-06-20 09:16] MarshallChen commented on #103
应该隐藏删除按钮

[2018-06-20 11:13] ThomasChan commented on #73
我看了一下   是  http://52.83.102.127:8090/api/apps/24/dashboards/12/charts 这个接口返回有些慢？有 2.2 MB 的数据，请求到返回要花 20 多秒的时间，并不是看不到了，而是还没等到看到。。。。

[2018-06-20 11:52] zyy528 commented on #40
verified

[2018-06-20 12:10] zyy528 commented on #94
verified

[2018-06-21 07:31] weishishuo commented on #111
这个跟 #29 是一样的，数据膨胀了，请确认join条件是否正确。

[2018-06-21 08:26] ThomasChan commented on #100
schema min max 解析失败

[2018-06-21 08:27] ThomasChan commented on #109
图没了，需要重新复现

[2018-06-22 01:35] zhaosy0415 opened #112 "杨慧:[block] 仪表盘图表不能选择维度和数值等信息"
![image](https://user-images.githubusercontent.com/39791844/41753366-94f93c30-75ff-11e8-9d05-a7fa587749c1.png)
url:http://52.83.102.127:8090/#/app/37/dashboard/32/chart/494

[2018-06-22 03:49] zhaosy0415 opened #113 "杨慧:上传excel文件，数据数据行显示不一致"
从BDP导出excel表格,导入衡石,数据最终显示不一致

1. 从BDP中导出`yhy收银订单明细合表18012day`，上传到衡石。[ yhy收银订单明细合表18012day.xlsx](s3://hengshi-data/customers/acewill/issues/yhy收银订单明细合表18012day.xlsx)在S3中。

2. BDP显示的行数。
![image](https://user-images.githubusercontent.com/1694674/41757388-70a1179e-7614-11e8-88ad-00bbff6bd42a.png)

3. 衡石显示的行数。
![image](https://user-images.githubusercontent.com/1694674/41757404-7a1d2df8-7614-11e8-9942-9

[2018-06-22 04:07] firelyu commented on #113
用excel打开文件，显示行数为`172670`，去掉表头，数据行为`172669`，行数显示正确。

需要杨慧确认BDP显示的问题。

![image](https://user-images.githubusercontent.com/1694674/41757441-aa0bbb56-7614-11e8-9777-1fdc30ae3cd6.png)

[2018-06-22 09:39] zhaosy0415 opened #114 "杨慧:if计算函数显示错误"
if (actionA || actionB,result1,result2)不能计算
,或者if(action in(数字,数字),result1,result2)不行了 ifelse也一样

[2018-06-25 02:39] zhaosy0415 opened #115 "杨慧:打开某个探索报错,个别图表无法显示数据"
![image](https://user-images.githubusercontent.com/39791844/41827784-0cfdf444-7864-11e8-9442-34e7ef7eee05.png)

[2018-06-25 05:52] linhualai commented on #75
fixed.

[2018-06-25 05:53] linhualai commented on #43
fixed @zhaosy0415

[2018-06-25 05:53] linhualai commented on #41
fixed @zhaosy0415

[2018-06-25 05:53] linhualai commented on #39
fixed @zhaosy0415

[2018-06-25 05:53] linhualai commented on #34
fixed @zhaosy0415

[2018-06-25 05:55] linhualai commented on #80
@zhaosy0415 fixed. 图可能需要重新做一个. 或者在老图中删掉数值维度再加回来.

[2018-06-25 05:59] linhualai commented on #85
fixed. @zhaosy0415

[2018-06-25 06:01] linhualai commented on #110
fixed. @zhaosy0415

[2018-06-25 06:49] linhualai commented on #110
@zhaosy0415 移动计算累计计算大部分问题应该都fix了. 如果有几个图还是刷不出来, 可以尝试删掉, 再创建一个同样的图.  如果还是出错的话, 欢迎再报bug.

[2018-06-25 06:57] linhualai commented on #88
fixed. @zhaosy0415

[2018-06-25 06:58] linhualai commented on #100
@janplus valueset/min/max 的 issue 你来fix.

[2018-06-25 07:51] wwgracie commented on #112
点击字段右边的+号才能选中。

[2018-06-25 08:18] cyberyoung commented on #69
这个删掉了？找不到资源了

[2018-06-25 08:43] wwgracie commented on #115
http://52.83.102.127:8090/#/app/24/dashboard/21
报bug时加上链接会更便于dev复现、调试。

[2018-06-25 08:48] zhaosy0415 opened #116 "杨慧:A协作探索给B之后,B不知道协作人是谁"
如题.

[2018-06-25 08:58] zhaosy0415 opened #117 "杨慧:上传excel，不能识别成数字"
excel中的数字格式设置为数值,接着衡石导入该数据集,数据集显示格式为'文本',并且不能修改.

[2018-06-25 09:02] firelyu commented on #117
`收银最终作图表1702月`中的`目标营业额`已经设置成数据格式，上传到衡石以后，只能识别成文字，不能修改成数字。

s3位置：s3://hengshi-data/customers/acewill/issues/收银最终作图表1702月.xlsx

[2018-06-25 09:04] zhaosy0415 opened #118 "杨慧:仪表盘数值计算不准确"
1.   url: http://52.83.102.127:8090/#/app/37/dashboard/32/chart/501

同样的筛选条件,数值计算除了退菜率,其他都不正确.加上门店维度后,个别门店数据正确,但是总体门店数值不正确.

2.   url: http://52.83.102.127:8090/#/app/37/dashboard/32/chart/502

同样的筛选条件,以菜品类别为维度,菜品销售数量总体正确,但销售金额不正确.个别门店数据菜品销售数量和金额正确.

[2018-06-25 09:05] zhaosy0415 opened #119 "杨慧:维度按周划分方式错误"
url: http://52.83.102.127:8090/#/app/37/dashboard/32/chart/505

结账时间按照周为维度来算,但是日期划分不正确, 衡石上面的周是以周日-周六为一周,这个需要改一下.

[2018-06-25 09:13] zhaosy0415 opened #120 "杨慧:仪表盘添加计算指标后,再次选择该指标报错"
![image](https://user-images.githubusercontent.com/39791844/41841472-f05bc258-789a-11e8-8666-465ff0299dee.png)

[2018-06-25 09:16] zhaosy0415 opened #121 "杨慧:添加计算字段报错"
![image](https://user-images.githubusercontent.com/39791844/41841666-79c73d24-789b-11e8-860b-ad41dec2f8f3.png)
http://52.83.102.127:8090/#/app/24/dashboard/34/chart/530

[2018-06-25 09:26] zhaosy0415 commented on #112
不是这个意思.是选择好的显示不到上面
![image](https://user-images.githubusercontent.com/39791844/41842281-ef3e376e-789c-11e8-9afb-9000cd78593d.png)

[2018-06-25 10:14] #113 closed, assigned to weishishuo

[2018-06-25 10:29] wwgracie commented on #109
@zhaosy0415  帮忙复现一下

[2018-06-25 10:50] wwgracie commented on #86
@zhaosy0415 是否还能重现？

[2018-06-25 12:10] ThomasChan commented on #119
???
我们用的周划分格式是中国国家标准, 每个星期从星期一开始啊
http://www.cmaph.org/attachment/2013530/1369881489484.pdf

[2018-06-26 01:14] weishishuo commented on #93
提示信息已经很明确了，新的数据的类型，和已经创建的图表使用的类型有冲突，如果随便追加，会破坏图表的。 具体的冲突，麻烦旸哥沟通下，能不能拿到那些数据。 @cyberyoung

[2018-06-26 01:28] cyberyoung commented on #93
杨慧，你把复现的步骤，所用到的追加的数据集写明一下吧

[2018-06-26 01:43] cyberyoung commented on #119
@ThomasChan 这个网页上，我们是从周日开始的, 2017.01.01是周日
[code]

[2018-06-26 02:30] zhaosy0415 commented on #115
![image](https://user-images.githubusercontent.com/39791844/41885702-bc043a26-792b-11e8-95af-7bbb0e7a0ec1.png)
![image](https://user-images.githubusercontent.com/39791844/41885714-c830fb36-792b-11e8-853e-3a88529dc185.png)

[2018-06-26 02:47] zhaosy0415 opened #122 "杨慧:聚合后的模型刷新后能否保存?"
1.首先我要做一个聚合表
![image](https://user-images.githubusercontent.com/39791844/41886188-f4db6c82-792d-11e8-917a-9835ba958539.png)
2.接着选择关联条件,发现字段类型不一致的时候,的重新修改字段然后在建模.此时刷新这个模型就不在了.所以能不能刷新后让这个模型保存?

[2018-06-26 02:54] zhaosy0415 commented on #111
join条件是的正确的.然后依然无法进行聚合.

[2018-06-26 03:09] #110 closed, assigned to linhualai

[2018-06-26 03:10] zhaosy0415 opened #123 "杨慧:累计计算不同维度计算错误"
url:http://52.83.102.127:8090/#/app/37/dashboard/35/chart/535
维度切换成周的时候,累计计算是错误的.没有反应
![image](https://user-images.githubusercontent.com/39791844/41886909-f1fb6b9a-7930-11e8-8494-8d6eea20f73c.png)
但是切换成天,计算就正确了.

[2018-06-26 03:13] firelyu commented on #112
1. 用户选择了9列数据。
2. 在下图方框中的编辑窗口，只显示了4列数据。用户不能编辑剩下5列数据的聚合方式。
![image](https://user-images.githubusercontent.com/1694674/41887078-cbb3b5cc-7931-11e8-88f9-b3668bcfb62c.png)

[2018-06-26 03:19] ThomasChan commented on #123
Blocked by henglabs/everest#1480

[2018-06-26 03:24] #101 closed, assigned to ThomasChan

[2018-06-26 03:24] #98 closed, assigned to cyberyoung, MarshallChen

[2018-06-26 03:25] ThomasChan commented on #119
@hhmob  解释一下周的定义

[2018-06-26 03:26] #94 closed, assigned to ThomasChan

[2018-06-26 03:30] #88 closed, assigned to linhualai

[2018-06-26 03:35] ThomasChan commented on #119
http://week-number.net/calendar-with-week-numbers-2017.html
搞清楚了，周的划分是正确的，是显示错误

[2018-06-26 03:41] #85 closed, assigned to linhualai

[2018-06-26 03:44] #83 closed, assigned to cyberyoung

[2018-06-26 03:47] ThomasChan commented on #47
麻烦贴一下该图表 URL 地址

[2018-06-26 03:48] ThomasChan commented on #37
Block by henglabs/everest#1406

[2018-06-26 03:49] ThomasChan commented on #33
@cyberyoung  assigness 应该是谁？

[2018-06-26 03:51] ThomasChan commented on #118
@cyberyoung  解释一下

[2018-06-26 05:15] ThomasChan commented on #120
fixed

[2018-06-26 05:17] ThomasChan commented on #112
http://52.83.102.127:8090/#/app/37/dashboard/32/chart/494
这个 chart 被删了？用哪个帐号登录？是 dll@acewill.cn 这个不？

[2018-06-26 05:22] ThomasChan commented on #112
![image](https://user-images.githubusercontent.com/5715335/41890811-d3c37bfa-7943-11e8-80bb-2a1f2bff9b79.png)
 @zhaosy0415 你用的是哪个浏览器呀？这里如果选择了很多字段的话应该会出现滚动条的，看你们的描述是滚动条没有出现

[2018-06-26 05:23] #80 closed, assigned to linhualai

[2018-06-26 05:27] ThomasChan commented on #106
这个图没报错啊  @zhaosy0415

[2018-06-26 06:00] #75 closed, assigned to linhualai

[2018-06-26 06:03] zhaosy0415 commented on #61
![image](https://user-images.githubusercontent.com/39791844/41892140-ac5470fa-7949-11e8-9a6b-bf767ee8093c.png)

[2018-06-26 06:04] #59 closed, assigned to nobody

[2018-06-26 06:08] #58 closed, assigned to cyberyoung

[2018-06-26 06:11] cyberyoung commented on #61
@weishishuo 这个数据集应该是文件的，导入了engine，没做cast，导致func失败
[code]
chart地址是http://52.83.102.127:8090/#/app/18/dashboard/10/chart/96

[2018-06-26 06:21] #45 closed, assigned to cyberyoung

[2018-06-26 06:25] #43 closed, assigned to linhualai

[2018-06-26 06:28] #41 closed, assigned to linhualai

[2018-06-26 06:35] #36 closed, assigned to iamtianyuan

[2018-06-26 06:35] #34 closed, assigned to linhualai

[2018-06-26 06:36] #32 closed, assigned to linhualai

[2018-06-26 06:39] ThomasChan commented on #37
现在 Table chart 有两个限制

1. 列数超过 5000 ，不进行渲染
2. 列数 乘 行数 超过 10万，不进行渲染，但是提供渲染前 10 行的选项

[2018-06-26 06:44] #40 closed, assigned to xuyian252

[2018-06-26 06:44] ThomasChan commented on #121
这个图被删掉了？ @zhaosy0415

[2018-06-26 06:44] wwgracie commented on #120
移除计算指标，重新添加，问题消失。

[2018-06-26 06:56] #112 closed, assigned to ThomasChan

[2018-06-26 09:21] cyberyoung commented on #115
删除添加字段，重新来一次就好了 @zhaosy0415

[2018-06-26 11:59] zhaosy0415 opened #124 "【block】仪表盘图表不会自动排放位置"
http://52.83.122.18:3000/embed/#/382c8a15cd7c4e64eacbb2714aea9904
添加图表后，不会按照顺序自动往下排列，页面非常混乱，而且不会自动填充空白

[2018-06-27 05:29] xuyian252 commented on #99
@zhaosy0415 是在分享仪表盘以后做了删除操作吗？

[2018-06-27 06:49] zhaosy0415 commented on #121
有好几个图都有这种情况,就是原来某个指标一删除就出现上面提示的sql语句错误.

[2018-06-27 07:02] #120 closed, assigned to ThomasChan

[2018-06-27 07:08] zhaosy0415 commented on #119
那就让它显示正确啊,刚才看了一下显示还是错误的.

[2018-06-27 07:42] #115 closed, assigned to linhualai

[2018-06-27 07:55] zhaosy0415 commented on #118
就是说筛选条件什么的都没有问题,只有退菜率能和BDP对应上, 总体的数值都不正确,然后添加了一个门店维度,个别门店维度的字段值能对的上.

[2018-06-27 08:04] #109 closed, assigned to ThomasChan

[2018-06-27 08:05] #108 closed, assigned to ThomasChan

[2018-06-27 08:06] linhualai commented on #117
<img width="1187" alt="image" src="https://user-images.githubusercontent.com/1201463/41961059-fe154704-7a23-11e8-8129-6e2e87c7a71b.png">

我直接detect引擎中的tb_xxx 是可以的. @cyberyoung 你看下为啥上传文件不行.

[2018-06-27 08:09] linhualai commented on #50
就是 parboiled 的问题. henglabs/everest#1394 将会fix它.
[code]

[2018-06-27 08:12] linhualai commented on #69
文件见 #117

[2018-06-27 08:15] linhualai commented on #114
will be fix by henglabs/everest#1546

[2018-06-27 08:16] linhualai commented on #47
是否已经fix? @zhaosy0415

[2018-06-27 08:17] linhualai commented on #86
@zhaosy0415 是否已经fix?

[2018-06-27 08:23] wwgracie commented on #114
没有if函数了，有ifelse函数，用法：ifelse({rate_num} < 5,'差评','好评')

[2018-06-27 08:29] linhualai commented on #78
@zhaosy0415 你这么写是ok的.
<img width="557" alt="image" src="https://user-images.githubusercontent.com/1201463/41962209-04e59d92-7a27-11e8-92d7-c776d6900351.png">
<img width="729" alt="image" src="https://user-images.githubusercontent.com/1201463/41962222-0c922e8e-7a27-11e8-9be1-c8120d6217fb.png">
<img width="1152" alt="image" src="https://user-images.githubusercontent.com/1201463/41962249-1e3bc58c-7a2

[2018-06-27 08:44] zhaosy0415 opened #125 "杨慧:新建探索报'执行sql失败'"
http://52.83.102.127:8090/#/app/18/dashboard/10/chart/546
![image](https://user-images.githubusercontent.com/39791844/41963101-51451986-7a29-11e8-8c68-2333a2054b4c.png)

[2018-06-27 08:51] #103 closed, assigned to MarshallChen, xuyian252

[2018-06-27 08:59] linhualai commented on #125
@zhaosy0415 历史遗留bug, 数据重新导入就可以了.

[2018-06-27 09:03] #102 closed, assigned to xuyian252

[2018-06-27 09:29] #99 closed, assigned to xuyian252

[2018-06-27 09:29] #97 closed, assigned to ThomasChan

[2018-06-27 09:32] #87 closed, assigned to ThomasChan

[2018-06-27 09:50] #78 closed, assigned to linhualai

[2018-06-27 09:59] zhaosy0415 commented on #125
数据集重新导入是吗?

[2018-06-28 01:48] #81 closed, assigned to ThomasChan

[2018-06-28 01:54] zhaosy0415 opened #126 "杨慧:累计计算能否增加'天'和'小时'的粒度"
![image](https://user-images.githubusercontent.com/39791844/42008618-1cdbaf8a-7ab9-11e8-8dcc-5aee976b6072.png)
没有天和小时的粒度.希望可以添加上去.

[2018-06-28 01:57] #73 closed, assigned to xuyian252

[2018-06-28 01:58] #70 closed, assigned to ThomasChan

[2018-06-28 02:12] zhaosy0415 commented on #69
![image](https://user-images.githubusercontent.com/39791844/42008984-f3c17556-7aba-11e8-8a2f-a696af6194b8.png)
还是文本啊.资源删不删掉没有关系.关键是只要我上传一个数据集,然后进行到如图所示的那一步之后.就看到的还是文本.

[2018-06-28 02:30] #91 closed, assigned to MarshallChen

[2018-06-28 02:36] #125 closed, assigned to linhualai

[2018-06-28 03:01] #61 closed, assigned to weishishuo

[2018-06-28 03:14] zhaosy0415 commented on #53
![default](https://user-images.githubusercontent.com/39791844/42011085-60d71502-7ac4-11e8-906a-6c09bc3a24f3.gif)

[2018-06-28 03:18] zhaosy0415 opened #127 "邓凯红-表格设置合并单元格不能取消，勾选总计却不显示总计"
![image](https://user-images.githubusercontent.com/39791844/42010924-91f62fd4-7ac3-11e8-9efc-31015f09191c.png)
步骤：
1.表格设置中的合并单元格前面的勾选无法取消掉（在我的电脑上操作不行，别人的电脑可以）
2.行总计和列总计勾选后没有显示总计（这个是我们操作了都不显示）
结果：
无
期望：
1.能正常操作
2.能正常显示

[2018-06-28 03:19] zhaosy0415 commented on #53
![default](https://user-images.githubusercontent.com/39791844/42011230-1d875162-7ac5-11e8-97ca-689bb75a1679.gif)

[2018-06-28 03:38] #30 closed, assigned to MarshallChen

[2018-06-28 04:52] weishishuo commented on #111
确实有bug，结果我们估计过大了，看来explain的也是不可靠的。需要想其他方案。

[2018-06-28 04:53] cyberyoung commented on #67
追加数据的文件可以提供一下吗？

[2018-06-28 06:07] zhaosy0415 commented on #117
![default](https://user-images.githubusercontent.com/39791844/42016073-9f468666-7adc-11e8-832a-100f2c43b7fb.gif)

[2018-06-28 06:24] zhaosy0415 commented on #55
![default](https://user-images.githubusercontent.com/39791844/42016650-ee209aa4-7ade-11e8-99fd-1c02b77ab2d9.gif)

[2018-06-28 06:31] #67 closed, assigned to MarshallChen

[2018-06-28 06:32] #93 closed, assigned to cyberyoung, weishishuo

[2018-06-28 06:35] zhaosy0415 commented on #37
不能接受这样的限制，一年还有12个月，如果给客户展示经营明细，按月展示连一年的数据都显示不全

[2018-06-28 06:44] zhaosy0415 commented on #37
暂时接受，关闭bug

[2018-06-28 07:31] cyberyoung commented on #118
![image](https://user-images.githubusercontent.com/501691/42019677-4ea53462-7ae8-11e8-8a85-fd7bfa90a9b4.png)
![image](https://user-images.githubusercontent.com/501691/42019682-52e4c0ec-7ae8-11e8-814e-03fe3334cea1.png)

[2018-06-28 07:31] cyberyoung commented on #118
![image](https://user-images.githubusercontent.com/501691/42019686-57bfb310-7ae8-11e8-8a6b-370a54a58789.png)
![image](https://user-images.githubusercontent.com/501691/42019691-5acb4f4c-7ae8-11e8-875d-721f377e5b3c.png)

[2018-06-28 07:32] cyberyoung commented on #55
![default](https://user-images.githubusercontent.com/501691/42019722-7159741e-7ae8-11e8-8c43-20341e75e109.gif)

[2018-06-28 07:33] ThomasChan commented on #33
@janplus  api/apps/id/dashboards/id/charts/id/download 地址之前是为啥被注释了？
现在让 @zhaojunliRain 恢复了。

[2018-06-28 07:41] zhaosy0415 commented on #55
@xuyian252 没有发布过.

[2018-06-28 07:45] ThomasChan commented on #33
@meredith620 在看截图的问题。

[2018-06-28 07:49] cyberyoung commented on #55
![image](https://user-images.githubusercontent.com/501691/42020593-dca7d4a2-7aea-11e8-90e6-b672eaac82ba.png)

看起来是应该发布过的

[2018-06-28 07:49] ThomasChan commented on #118
菜品分类这张图，    为什么我们的系统里的  “团购” 和 “套餐”  的 “菜品营业额” 是 0？而 BDP 里的 “团购” 的 “菜品营业额” 是 7053 ，“套餐” 的 “菜品营业额” 是 181298 ？

[2018-06-28 07:50] ThomasChan commented on #118
@zhaosy0415

[2018-06-28 07:51] ThomasChan commented on #118
麻烦仔细核对一遍数据

[2018-06-28 10:47] wwgracie commented on #51
应该已经fix了。

[2018-06-28 11:07] wwgracie commented on #100
应该已经fix了，可以重试一下或者等升级后重试。

[2018-06-28 11:09] wwgracie commented on #92
应该已经fix了，如果重现可以报具体的bug。

[2018-06-29 02:30] ThomasChan commented on #92
这个还没呢 @linhualai 安排一下这个事

[2018-06-29 02:31] linhualai commented on #92
@ThomasChan 和你说的不是一个事情. 应该说的是 %2B => 汉字 => 乱码的问题

[2018-06-29 02:34] ThomasChan commented on #92
@zhaosy0415  麻烦截个图贴上来吧，没看懂你说的是哪儿的错误。。。。。

[2018-06-29 02:41] zhaosy0415 commented on #92
请联系李旸，已经和旸总沟通过

[2018-06-29 02:46] zhaosy0415 commented on #118
@ThomasChan
1. 首先 这两个数据集的数据是一致的.也就是说数据源没有问题
![image](https://user-images.githubusercontent.com/39791844/42070440-fc921bb2-7b88-11e8-89c4-1795d25177d4.png)
![image](https://user-images.githubusercontent.com/39791844/42070474-24d5440a-7b89-11e8-8b8a-7081f570ec8b.png)
2.“团购” 和 “套餐” 的 “菜品营业额” 是 0?这不就是数据不准确吗?数据集一样,维度一样,筛选条件一样.然后你们为什么显示的就不正确?这本身就是我提的这个问题.

[2018-06-29 03:15] cyberyoung commented on #92
豪哥说得对

[2018-06-29 10:02] weishishuo commented on #107
之前fusion编辑/新建可能有显示的字段名冲突，现在fix了。新部署版本后，你们需要重新建一下聚合数据集。旧的不会自动修复。

[2018-06-30 09:16] meredith620 commented on #33
@MarshallChen 在处理electroshot.js监听前端渲染chart后的事件问题

[2018-06-30 09:39] wwgracie commented on #33
导出csv已经可以用了，截屏还没解决。

[2018-07-02 02:06] zyy528 commented on #116
verified

[2018-07-02 02:09] zyy528 commented on #53
verified

[2018-07-02 02:35] #116 closed, assigned to xuyian252

[2018-07-02 02:40] wwgracie commented on #55
已经有删除提示了，删除提示有些词还需修改，等再次升级后会看到。

[2018-07-02 02:42] #48 closed, assigned to nobody

[2018-07-02 02:44] #119 closed, assigned to ThomasChan

[2018-07-02 03:02] zhaosy0415 commented on #53
经验证，当添加了没有条件任何内容的条件并保存后，不会报错，只保存有内容的条件

[2018-07-02 03:02] #53 closed, assigned to meredith620, xuyian252

[2018-07-02 03:07] #54 closed, assigned to MarshallChen

[2018-07-02 03:08] zhaosy0415 opened #128 "司宇：权限控制，点击条件删除按钮会增加一个条件"
![070201](https://user-images.githubusercontent.com/39791844/42143523-05e5ce00-7de8-11e8-90e0-2361c953e9b9.gif)

步骤：
1. 选择数据集，进入权限控制
2. 创建规则，选择用户，点击数据
3. 点击条件后面的减号
结果：
增加了一条条件
期望：
无变化或者弹出提示不能删除

[2018-07-02 03:16] #50 closed, assigned to linhualai

[2018-07-02 03:27] zhaosy0415 commented on #104
临时屏蔽帮助文档入口 - 未实现

[2018-07-02 03:31] zhaosy0415 commented on #57
验证通过

[2018-07-02 03:31] #57 closed, assigned to ThomasChan

[2018-07-02 03:33] #100 closed, assigned to ThomasChan

[2018-07-02 03:34] zhaosy0415 commented on #84
经验证，去除了时分秒，暂时可以接受这样的处理

[2018-07-02 03:34] #84 closed, assigned to ThomasChan

[2018-07-02 03:34] #106 closed, assigned to ThomasChan

[2018-07-02 03:37] zhaosy0415 commented on #63
验证通过

[2018-07-02 03:37] #63 closed, assigned to MarshallChen

[2018-07-02 03:41] #47 closed, assigned to linhualai

[2018-07-02 03:44] zhaosy0415 commented on #62
仍有问题
![image](https://user-images.githubusercontent.com/39791844/42144362-335a7336-7ded-11e8-899b-8ba07409859a.png)

[2018-07-02 03:44] #86 closed, assigned to linhualai

[2018-07-02 03:46] #69 closed, assigned to cyberyoung

[2018-07-02 03:47] #51 closed, assigned to linhualai

[2018-07-02 03:48] zhaosy0415 commented on #39
验证通过

[2018-07-02 03:48] #39 closed, assigned to linhualai

[2018-07-02 05:59] firelyu commented on #107
![default](https://user-images.githubusercontent.com/1694674/42147378-0533fa82-7e00-11e8-917c-096d5ca8fcc8.gif)
1.首先重新聚合数据
2.聚合完成后自动实时更新
3.更新完成后一直点击'追加数据集',显示如上图所示得情况,一直闪退得那种感觉.

[2018-07-02 06:18] weishishuo commented on #107
@firelyu ,这个时什么情况下触发的？

[2018-07-02 06:24] zhaosy0415 opened #129 "杨慧:计算同环比中得对比值时候,对比值随着维度改变,而没有其他选择."
![default](https://user-images.githubusercontent.com/39791844/42148132-983d8746-7e03-11e8-996f-498eed2f7338.gif)

[2018-07-02 07:26] zhaosy0415 opened #130 "【徐晓凤】使用订单主表时创建柱状图时系统报错"
http://52.83.102.127:8090/#/app/37/dashboard/48/chart/605

[2018-07-02 07:27] zhaosy0415 commented on #130
![image](https://user-images.githubusercontent.com/39791844/42150414-5e773da0-7e0c-11e8-9d89-4f35eda34277.png)

[2018-07-02 07:32] zhaosy0415 opened #131 "司宇：追加数据表，类型相同的字段提示是冲突字段"
![image](https://user-images.githubusercontent.com/39791844/42150682-23a09c52-7e0d-11e8-8329-2c09c1e7a957.png)
![image](https://user-images.githubusercontent.com/39791844/42150693-26bc5a20-7e0d-11e8-9a22-fbd4d4b53c5c.png)
![image](https://user-images.githubusercontent.com/39791844/42150699-298e3e80-7e0d-11e8-852b-f49c99556b2e.png)

[2018-07-02 07:37] wwgracie commented on #62
我看到的是正常的，是不是也跟分辨率有关。@MarshallChen
<img width="1005" alt="2018-07-02 3 36 26" src="https://user-images.githubusercontent.com/38898981/42150873-bfad2d40-7e0d-11e8-86c8-0eeb7f7008c0.png">

[2018-07-02 07:52] zhaosy0415 opened #132 "【徐晓凤】成本金额字段的高级计算没有重复率、活跃率、留存率"
![image](https://user-images.githubusercontent.com/39791844/42151508-d2715fee-7e0f-11e8-89da-861d07a3ba39.png)

http://52.83.102.127:8090/#/app/37/dashboard/48/chart/599

[2018-07-02 07:52] zhaosy0415 opened #133 "司宇：追加的数据集不显示行数和大小"
![image](https://user-images.githubusercontent.com/39791844/42151520-dde49008-7e0f-11e8-990f-d70c35cd68a0.png)
http://52.83.102.127:8090/#/app/44/dataset/614

[2018-07-02 07:59] #121 closed, assigned to ThomasChan

[2018-07-02 08:03] zhaosy0415 commented on #82
验证通过

[2018-07-02 08:03] #82 closed, assigned to ThomasChan

[2018-07-02 08:04] zhaosy0415 opened #134 "杨慧:点击'过滤条件'按钮没反应?"
![default](https://user-images.githubusercontent.com/39791844/42152050-95e4d7f2-7e11-11e8-9280-d2103229cc4e.gif)

[2018-07-02 08:04] #44 closed, assigned to MarshallChen

[2018-07-02 08:14] #117 closed, assigned to cyberyoung

[2018-07-02 08:21] zhaosy0415 opened #135 "杨慧:筛选条件没有in(数字,数字,数字)"
![default](https://user-images.githubusercontent.com/39791844/42152856-fbe7f668-7e13-11e8-81b4-c866c7bbac73.gif)
url:http://52.83.102.127:8090/#/app/37/dashboard/32/chart/612
筛选条件没有'或'得选项并且没有'且'的选项
比如 类别 in(3,9,10), 或者类别=3 and 类别=9.总的来说筛选条件选项太单一了,之能选择一个.

[2018-07-02 08:24] zhaosy0415 opened #136 "司宇：图表中度量升降序不正确"
![image](https://user-images.githubusercontent.com/39791844/42152955-44ad0500-7e14-11e8-94a8-4bb5e6fbc6d3.png)
![image](https://user-images.githubusercontent.com/39791844/42152977-54c645f0-7e14-11e8-8719-f779230ae027.png)

[2018-07-02 08:24] wwgracie commented on #135
@zhaosy0415
试一下in({类别},[3,9,10])

[2018-07-02 08:26] ThomasChan commented on #129
没看懂什么意思，什么是 “没有其他选择” ？ @zhaosy0415

[2018-07-02 08:30] ThomasChan commented on #135
我们还没有支持这样的功能， @hhmob  继续跟进。

[2018-07-02 08:33] ThomasChan commented on #74
这个 issue 的解决方案目前有两种：
1. 上周加了一个 feature 是可以自定义每个数值的刻度范围，现在可以先通过手动设置数值的刻度范围来解决这个问题
2. 等 `合并数值轴刻度范围` 的功能加回来

[2018-07-02 08:34] ThomasChan commented on #123
等重新部署后重新试一下。

[2018-07-02 08:36] ThomasChan commented on #127
@zhaosy0415 麻烦给一下该图表的 URL 地址，我想看一下

[2018-07-02 08:36] ThomasChan commented on #134
@zhaosy0415 麻烦给一下该图表的 url

[2018-07-02 08:53] zhaosy0415 opened #137 "杨慧:留存率显示问题"
url:http://52.83.102.127:8090/#/app/37/dashboard/32/chart/612
![image](https://user-images.githubusercontent.com/39791844/42154481-720ef31a-7e18-11e8-97fe-972b2747545a.png)
![default](https://user-images.githubusercontent.com/39791844/42154494-797fb166-7e18-11e8-86ba-a2128e8954ad.gif)

[2018-07-02 08:54] zhaosy0415 commented on #124
暂时没有发现问题，有问题再重新打开或者提新问题

[2018-07-02 08:54] #124 closed, assigned to cyberyoung

[2018-07-02 09:02] zhaosy0415 commented on #127
http://52.83.102.127:8090/embed/#/12d0e91cbc208c7a4c57e694b27fe0c4

[2018-07-02 09:07] ThomasChan commented on #127
不能复现。

[2018-07-02 09:12] zhaosy0415 opened #138 "杨慧:活跃率能否添加一个'连续活跃'按钮"
![default](https://user-images.githubusercontent.com/39791844/42155411-eda8e11e-7e1a-11e8-9eb1-f83c3186b53c.gif)
![image](https://user-images.githubusercontent.com/39791844/42155456-0ac12f04-7e1b-11e8-9f30-25563e677fd9.png)

[2018-07-02 09:13] zhaosy0415 commented on #134
@ThomasChan http://52.83.102.127:8090/#/app/37/dashboard/32/chart/612

[2018-07-02 09:21] #127 closed, assigned to ThomasChan

[2018-07-02 09:24] firelyu commented on #129
![wechatimg288](https://user-images.githubusercontent.com/1694674/42156121-c6cb1c0e-7e1c-11e8-98dd-b9d184fea2de.png)

[2018-07-02 09:33] wwgracie commented on #55
先删除发布，再删除数据集。

[2018-07-02 09:36] zhaosy0415 commented on #55
@wwgracie 发布,探索都没有,全删干净了,但是这个表格就是删除不了!

[2018-07-02 09:38] zhaosy0415 opened #139 "杨慧:trim报错"
url:http://52.83.102.127:8090/#/app/37/dataset/607
![image](https://user-images.githubusercontent.com/39791844/42156797-a03704d4-7e1e-11e8-9325-9501e34efb68.png)

[2018-07-02 09:40] zhaosy0415 commented on #62
全屏；分辨率1920*1080；请问可以兼容的分辨率是多少？

[2018-07-02 09:46] zhaosy0415 opened #140 "杨慧:计算字段hour希望返回的仅仅是时间"
![image](https://user-images.githubusercontent.com/39791844/42157269-da0a53d6-7e1f-11e8-9319-f074573122e2.png)

[2018-07-02 10:03] zhaosy0415 opened #141 "司宇：表格中时间维度设为周，选择数值累计计算按月累计，切换时间维度为月，再查看累计计算框，重复周期变成英文"
![image](https://user-images.githubusercontent.com/39791844/42158131-30d2b760-7e22-11e8-9ecc-4d4a935793c6.png)

[2018-07-02 10:06] iamtianyuan commented on #139
trim的参数应该是字符串类型，而不能是数字类型。
后续我们会完善报错信息。

[2018-07-02 10:16] zhaosy0415 commented on #139
@iamtianyuan 那后续得参数会有其他类型吗? 因为去空格这个不应该只限制'字符串类型'能去空格吧.

[2018-07-02 10:22] ThomasChan commented on #134
Fixd by https://github.com/henglabs/lhotse/commit/68f39769af14703ff901dde714641009924aa58a

[2018-07-02 10:22] ThomasChan commented on #134
等重新部署后重新试一下

[2018-07-02 10:27] ThomasChan commented on #129
这里没有下拉的原因是：
你已经在轴上选择了日期的聚合，那么随着你更改日期的聚合函数，日期偏移的粒度也是随之改变的。

@hhmob 解释一下为什么是这样的设计。

[2018-07-02 10:36] iamtianyuan commented on #139
只有字符串类型才会有空格。
如果有一列是 ' 123 '(123前后都有空格)，那么这一列应该是一个字符串列，想要当成数字用的话，应该是先trim字符串列，然后再转换成数字。

[2018-07-02 10:49] ThomasChan commented on #136
已修复，等重新部署后重新试一下

[2018-07-02 11:03] hhmob commented on #137
和BDP的是一个意思哈

[2018-07-02 11:16] xuyian252 commented on #55
删除图表操作分为两步:发送请求更新图表所在的仪表盘->发送请求删除图表

导致该问题的原因:第一个更新请求成功，仪表盘和图表之间的逻辑关系被删除，但第二个请求失败，图表没有被删除。

最终结果:逻辑关系被删除导致在仪表盘里看不到该图表，但该图表实际没有被删除

解决方式：
修改图表删除接口的请求逻辑，将两个删除操作在同一次请求里执行
@zhaosy0415 @wwgracie

[2018-07-02 11:35] wwgracie commented on #140
hod({结账时间}) 是否满足需求？ @zhaosy0415

[2018-07-02 13:09] weishishuo commented on #111
这个我们先放开不检查数据膨胀了，现在不会导致聚合失败了。

[2018-07-02 13:10] weishishuo commented on #111
数据膨胀在这里追踪。 https://github.com/henglabs/issues/issues/29

[2018-07-03 02:29] zhaosy0415 opened #142 "邓凯红-数据聚合缺少表"
![image](https://user-images.githubusercontent.com/39791844/42195452-7ddf4d00-7eab-11e8-84c4-808cc03ba82a.png)
![image](https://user-images.githubusercontent.com/39791844/42195457-830b3988-7eab-11e8-8ddb-3c27fd781bb1.png)

步骤：
1.数据管理里有50张表，只查看了前20张表（lgt_rejectin在后30张表里）
2.数据聚合->搜索lgt_rejectin
数据管理url：http://52.83.102.127:8090/#/app/45
结果：
1.搜索不到lgt_rejectin
期望：
1.期望搜索的到

[2018-07-03 04:02] MarshallChen commented on #62
不是分辨率的问题，windows与mac上对行高跟overflow hidden的渲染不同，这个我已经fix了，下个版本应该会好。 @zhaosy0415

[2018-07-03 05:15] zhaosy0415 opened #143 "杨慧[P0]:图表中计算字段无法复用"
![default](https://user-images.githubusercontent.com/39791844/42199788-0dc97da2-7ec3-11e8-8117-2899493bbf59.gif)

[2018-07-03 06:31] zhaosy0415 opened #144 "司宇：累计计算指定日期，计算不出数值"
步骤：
1. 选择数据集建立表格图表
2. 选择时间维度和数值，对于数值进行累计计算，指定累计时间为2017年1月1日
结果：
没有数值
期望：
显示正确的数值
![image](https://user-images.githubusercontent.com/39791844/42202335-894d5e6c-7ecd-11e8-8234-375c0f1696c0.png)

![image](https://user-images.githubusercontent.com/39791844/42202341-93a8fa06-7ecd-11e8-945a-7534c8e01ba7.png)

[2018-07-03 06:45] zhaosy0415 opened #145 "邓凯红-创建图表时无法显示数据集中已有的数据"
![image](https://user-images.githubusercontent.com/39791844/42202709-f4b306ce-7ece-11e8-9cdd-ff735e07db08.png)

![image](https://user-images.githubusercontent.com/39791844/42202624-af0b4f64-7ece-11e8-9103-5e6cade014de.png)
步骤：
1.查看数据集，单据类型为“库存表”的数量和小计有数据
2.创建图表
结果：
1.创建Excel表格，以单据类型为维度时，没有库存表
2.创建KPI图表，过滤单据类型为库存表，结果为null
期望：
正常显示，有数据

[2018-07-03 06:57] zhaosy0415 opened #146 "司宇：表格的数值建议可以兼容文本类型字段计数或者去重计数"
![image](https://user-images.githubusercontent.com/39791844/42203462-6881c34a-7ed1-11e8-930c-c9dd0207ad33.png)

现在表格中数值列只支持数字类型字段，建议支持文本类型字段计数或者去重计数

[2018-07-03 07:00] zhaosy0415 opened #147 "杨慧:图表中添加的计算字段是无法做为筛选条件来选择的"
http://52.83.102.127:8090/#/app/50/dashboard/56/chart/672

[2018-07-03 07:01] linhualai commented on #147
你可以在dataset上添加计算字段的.

[2018-07-03 07:42] ThomasChan commented on #143
图表里添加的字段  不可以 在 再新添加字段时使用。

[2018-07-03 07:54] zhaosy0415 opened #148 "仪表盘中chart支持复制或移动到其他仪表盘-dll"
使用同样数据集，可支持将chart从A仪表盘复制或移动到B仪表盘

[2018-07-03 08:02] zhaosy0415 opened #149 "邓凯红-时间作为全局过滤器时，降序排列"
![image](https://user-images.githubusercontent.com/39791844/42206390-88b93a1e-7ed9-11e8-92c7-b7dd31953b82.png)

步骤：
1.添加时间作为全局过滤器
2.设置为：按年份/按月份/按季度
结果
1.时间显示方式是升序，如图
期望
1.按年份/按月份/按季度时，从上到下依次是2018,2017,2016等降序排列
2.按时间段，从上到下依次是：今天/昨天/本周/上周/本月/上月/本季度/上季度/本年/去年/自定义时间段

[2018-07-03 08:05] zhaosy0415 opened #150 "杨慧:堆叠柱状图或者百分比堆叠柱状图显示建议"
如图显示, 因为衡石的堆叠柱状图或者说百分比堆叠柱状图 有两个维度, 一个主维度,一个次维度,以及度量,就是说这三个同时选择,结果才会出现,因为具体实施过程中这个图不需要这么展示,能否设置成就算有N个维度,但是我选一个维度和度量,结果就会展示?

[2018-07-03 08:24] zhaosy0415 opened #151 "司宇：添加到仪表盘最后的图表不能调节大小"
![070301](https://user-images.githubusercontent.com/39791844/42207898-86ec3e30-7edd-11e8-949a-46e0bb47d6d7.gif)

[2018-07-03 08:25] zhaosy0415 opened #152 "杨慧:饼图占比希望能显示维度名称"
![image](https://user-images.githubusercontent.com/39791844/42207983-a2ba0c28-7edd-11e8-8f5c-98788859c039.png)
urlhttp://52.83.102.127:8090/#/app/50/dashboard/56/chart/691

[2018-07-03 08:30] zhaosy0415 opened #153 "司宇：图表点击详情，报错"
![070302](https://user-images.githubusercontent.com/39791844/42208281-698ac090-7ede-11e8-80bc-61af579a7e23.gif)

[2018-07-03 08:39] zhaosy0415 opened #154 "【晓凤】追加合并后的字段无法修改字段类型"
http://52.83.102.127:8090/#/app/37/dataset/607

[2018-07-03 08:41] zhaosy0415 opened #155 "公式计算有误-dll"
http://52.83.102.127:8090/#/app/5/dashboard/46/chart/683
distinct_count({订单id})/(max({门店桌台总数})*distinct_count(date({结账时间})))
分子/分母   计算错误，详细见图。

[2018-07-03 08:43] zhaosy0415 opened #156 "邓凯红-year、month、day、minute和second函数返回值类型改为整数，分别只返回日期里面的年，月、日、分、秒"
比如原字段{审核时间}，其中值为“2018-02-05 14:23:52”的结果如下
year({审核时间})=2018
month({审核时间})=2
day({审核时间})=5
minute({审核时间})=14
second({审核时间})=23

[2018-07-03 08:44] zhaosy0415 opened #157 "【晓凤】追加合并后筛选条件选择原始字段或者全部字段，系统反应慢，且字段字字显示为‘宇’"
http://52.83.102.127:8090/#/app/37/dataset/607

[2018-07-03 08:49] zhaosy0415 opened #158 "【晓凤】concat函数的使用说明建议增加上例子"

[2018-07-03 08:51] zhaosy0415 opened #159 "【徐晓凤】concat函数使用不规范系统报错例如写入concat({订单id}{门店id (581)})，系统报错"
![image](https://user-images.githubusercontent.com/39791844/42209469-46f92aa0-7ee1-11e8-981a-ede95fba6b7a.png)

[2018-07-03 08:55] zhaosy0415 opened #160 "杨慧:新版图表无法灵活移动"
![default](https://user-images.githubusercontent.com/39791844/42209602-a751e90a-7ee1-11e8-9ad6-c3246a11f9c9.gif)
url:http://52.83.102.127:8090/#/app/50/dashboard/56

[2018-07-03 08:59] zhaosy0415 opened #161 "司宇：上传的excel，建立图表之后，再追加excel，报错，不清楚错误信息表达的意图"
![image](https://user-images.githubusercontent.com/39791844/42209294-dcd6c146-7ee0-11e8-9f3b-76710850e501.png)
步骤：
1. 导入excel，http://52.83.102.127:8090/#/app/44/dataset/679
2. 创建一些图表
3. 追加另一个excel
结果：
报错，而且从报错信息看不出是哪一列有问题
期望：
追加成功

[2018-07-03 08:59] zhaosy0415 opened #162 "【徐晓凤】if函数使用字段is null，系统报错，具体例子"
if({订单id} is null,{订单id},0)
http://52.83.102.127:8090/#/app/37/dataset/607

[2018-07-03 09:05] zhaosy0415 commented on #96
连续性分组可修改但并不能保存。。。。

[2018-07-03 09:07] zhaosy0415 commented on #96
连续性分组可修改，下一步之后再返回，之前修改的就重置了。。。

[2018-07-03 09:08] zhaosy0415 opened #163 "邓凯红-substring改为可以截取日期字段"
![image](https://user-images.githubusercontent.com/39791844/42210425-96da27a2-7ee3-11e8-89ca-ba62ba687bd7.png)

{审核时间}为“2018-02-15 14:23:52”时 可以返回以下值
substring({审核时间},9,2)=15
substring({审核时间},6,2)=02

[2018-07-03 09:12] zhaosy0415 opened #164 "司宇：已追加的数据集，点击追加，取消勾选追加的数据集，报错"
![070303](https://user-images.githubusercontent.com/39791844/42210703-41fdaadc-7ee4-11e8-8010-33b7eb2f0d9e.gif)

[2018-07-03 09:12] zhaosy0415 opened #165 "司宇：追加的数据集，点击导入引擎，报错"
![image](https://user-images.githubusercontent.com/39791844/42210691-3d0497ac-7ee4-11e8-9b17-783fb9741ccd.png)

[2018-07-03 09:29] zhaosy0415 opened #166 "司宇：追加后的数据集不能删除"
![image](https://user-images.githubusercontent.com/39791844/42211541-725aa6ce-7ee6-11e8-881c-92c22a046076.png)
该数据集没有再追加其他的数据集

[2018-07-03 09:39] zhaosy0415 opened #167 "【晓凤】追加合并表数据导出时，长时间停留在99.9进度，而且最后导出失败"
http://52.83.102.127:8090/#/app/37/dataset/607

[2018-07-03 09:42] zhaosy0415 opened #168 "【晓凤】A、B两张表追加合并成功后，想去掉B表，系统报错"
![image](https://user-images.githubusercontent.com/39791844/42212342-61524cc2-7ee8-11e8-9df4-c5956f6f623c.png)

[2018-07-03 09:57] zhaosy0415 opened #169 "司宇：瀑布图图例为改为中文"
![image](https://user-images.githubusercontent.com/39791844/42213082-77f85334-7eea-11e8-89f7-65366eaf9f1b.png)

[2018-07-03 10:01] firelyu commented on #150
![default](https://user-images.githubusercontent.com/1694674/42213341-0d7ad9d6-7eeb-11e8-89c6-75d306510ae1.gif)

[2018-07-03 10:01] firelyu commented on #114
![wechatimg319](https://user-images.githubusercontent.com/1694674/42213377-2788c892-7eeb-11e8-98f1-c1a28cfd53b3.png)

[2018-07-03 10:10] wwgracie commented on #114
http://52.83.102.127:8090/#/app/50/dashboard/56/chart/705
if({活动金额}>0.00,1,if({活动金额}=0.00 and {商户实收总价}!=0.00,1,if({活动类型}=23,1,0)))
确实还有错。

[2018-07-03 10:12] iamtianyuan commented on #163
用dom()和moy吧，分别是dayofmonth和monthofyear
这两个函数返回的都是整数类型。

[2018-07-03 10:41] wwgracie commented on #162
不支持is null，支持if(isnull({订单id}),{订单id},0)

[2018-07-03 10:47] wwgracie commented on #159
@linhualai  去掉后面内部代码部分，只保留前面的出错信息。

[2018-07-03 10:52] weishishuo commented on #168
by design，不能去掉B

[2018-07-03 10:52] wwgracie commented on #155
@ThomasChan  我感觉算的是对的啊
<img width="867" alt="2018-07-03 6 52 08" src="https://user-images.githubusercontent.com/38898981/42215804-359ff5ac-7ef2-11e8-84bb-5392b83e1637.png">

[2018-07-03 11:00] ThomasChan commented on #160
@firelyu  解释一下。

[2018-07-03 11:12] wwgracie commented on #114
@zhaosy0415  @firelyu
使用
if({活动金额}>0.00,1,if({活动金额}=0.00 and {商户实收总价}!=0.00,1,if({活动类型}='23',1,0)))

[2018-07-03 11:15] wwgracie commented on #114
@linhualai  提供更友好的错误信息

[2018-07-03 11:31] weishishuo commented on #168
目前不支持取消合并，

[2018-07-03 11:39] wwgracie commented on #133
等升级后验证一下。

[2018-07-03 11:39] weishishuo commented on #154
你说的是哪个字段啊，为什么我可以修改？ 我修改字段 门店id (581) 的类型成文本了。 @zhaosy0415

[2018-07-03 11:40] weishishuo commented on #167
先不要下载这种列比较多的数据集了，可能会造成系统假死，我们修复了再使用。

[2018-07-03 11:41] wwgracie commented on #131
@imzhangjunjie  赶快看一下。

[2018-07-03 11:41] weishishuo commented on #111
这个数据集已经可以正常聚合了。

[2018-07-03 11:56] wwgracie commented on #168
目前不支持，考虑支持。
@linhualai  @weishishuo  什么时候支持？

[2018-07-03 12:03] imzhangjunjie commented on #131
Fix commit:
henglabs/everest@fe43d24ea506a0690db197ecee78f3b2e88f2454

[2018-07-03 12:17] iamtianyuan commented on #156
前三个可以用如下的函数：
yoy({审核时间}) => yearofyear
moy({审核时间}) => monthofyear
dom({审核时间}) => dayofmonth

minuteofhour和secondofminut暂时还没有

[2018-07-03 12:19] weishishuo commented on #161
这个估计是某列类型有冲突，我们提示信息不够清晰。我们也不知道你那边的文件是什么样的。能给我们一份吗？

[2018-07-03 12:19] weishishuo commented on #161
提示信息我们会优化一下。

[2018-07-03 12:20] wwgracie commented on #64
复制会做，但没确定哪个版本支持。

[2018-07-03 12:22] weishishuo commented on #4
see https://github.com/henglabs/everest/issues/1595 计划中。

[2018-07-03 12:23] weishishuo commented on #4
重复字段你们不要手动改成一样的！！！我们系统要求字段名必须全局唯一。你们不想看到可以隐藏！

[2018-07-03 12:30] weishishuo commented on #165
操作的流程，能详细说明一下吗？ 我们要求必须都是导入引擎的，才能做追加合并，并且追加合并后，也是导入引擎的，不要修改数据连接属性，我们后续会限制随意修改连接属性。

[2018-07-03 12:33] ThomasChan commented on #145
这里有几个问题

1. 字段 `制单时间` 在数据集里隐藏了，但是在图表的时间轴上还存在，这是个问题，修复了
2. 时间字段默认是过滤 `所有有效时间`，所以不论是 `制单时间` 还是 `审核时间` 都会正好过滤掉 `库存表` 那一行数据

[2018-07-03 12:37] ThomasChan commented on #153
Fixed in henglabs/everest#1580

[2018-07-03 12:38] imzhangjunjie commented on #166
Fix commit:
henglabs/everest@17aa8fdab303e2c1e6477741c93070e90fcc6dcc

[2018-07-03 12:40] zyy528 commented on #165
@janplus 追加后的数据集，实时连接应该禁用。

[2018-07-03 12:42] weishishuo commented on #165
https://github.com/henglabs/everest/issues/1174 这个来处理。

[2018-07-03 13:01] weishishuo commented on #153
新版本已经fix

[2018-07-03 17:11] hhmob commented on #129
设计就是这样，选择了“天”作为时间维度的聚合单位，那么在同环比里面可以选择多种对比类型，你展示的“时间偏移”的设置只是“对比类型”选定为“对比相对日期”时出现。你当然还可以环比，可以对比上周同期，上月同期和上年同期。如下图所示：

![image](https://user-images.githubusercontent.com/15355269/42234455-33166ce6-7f27-11e8-9bff-a66f7199ffa0.png)

[2018-07-03 17:11] #129 closed, assigned to hhmob

[2018-07-04 01:56] zhaosy0415 commented on #163
![image](https://user-images.githubusercontent.com/39791844/42252699-66285d80-7f70-11e8-853a-4efa23bc02e1.png)
试用了可以，您添加到函数列表里面吧，不然我们不知道还可以这样使用

[2018-07-04 01:58] zhaosy0415 commented on #156
好的，看到了

[2018-07-04 01:59] zhaosy0415 commented on #163
好的，看到了他们的简写了

[2018-07-04 01:59] #163 closed, assigned to iamtianyuan

[2018-07-04 01:59] #156 closed, assigned to iamtianyuan

[2018-07-04 02:07] zhaosy0415 commented on #155
麻烦计算一下4975/1100=2826.70?   咱们计算公式不考虑优先级么?

[2018-07-04 02:08] zhaosy0415 commented on #147
![default](https://user-images.githubusercontent.com/39791844/42252991-216e3550-7f72-11e8-93b0-8407630ef56e.gif)
这个'来源中文名'是我在图表中添加的一个计算字段.但是过滤依然无法选择.

[2018-07-04 02:08] zhaosy0415 commented on #145
嗯嗯，明白了

[2018-07-04 02:08] #145 closed, assigned to ThomasChan

[2018-07-04 02:11] linhualai commented on #147
来源中文名 应该在 dataset 数据管理中添加.

图表中的计算字段, 是为了快速做图使用的.

[2018-07-04 02:32] zhaosy0415 commented on #135
@wwgracie 是在图表里面的筛选条件中添加的,因为目前你们还不支持表达式.所以单一的筛选是无法满足客户的需求的.

[2018-07-04 02:34] hhmob commented on #160
这个是一个权衡的问题，首先我们满足的是不能因为调整就轻易的破坏了已有的布局，这样肯定就会影响到所谓的“灵活移动”

[2018-07-04 02:37] wwgracie commented on #155
@zhaosy0415  不好意思。
@linhualai  赶快看一下。

[2018-07-04 03:12] wwgracie commented on #132
只有整数、文本才有重复率、活跃率、留存率

[2018-07-04 03:14] linhualai commented on #132
重复率, 活跃率、留存率 讲的是用户维度的统计.

金额从逻辑上谈不上重复率活跃率留存率(金额没有重复访问一说), 所有从产品上隐藏了这个功能, 防止用户误操作. @zhaosy0415

[2018-07-04 03:24] hhmob commented on #149
可以考虑优化这个过滤器的交互

[2018-07-04 03:25] hhmob commented on #148
这个已经在开发计划中了

[2018-07-04 03:30] zhaosy0415 commented on #166
仍无法删除

[2018-07-04 03:34] hhmob commented on #71
这个我们讨论过了，您的需求归类在“分组XXX图”的实现里，这个可能会排在后面再做了

[2018-07-04 03:34] #154 closed, assigned to weishishuo

[2018-07-04 03:35] hhmob commented on #76
这个我们讨论过了，您的需求归类在“分组XXX图”的实现里，这个可能会排在后面再做了

[2018-07-04 03:36] #162 closed, assigned to linhualai

[2018-07-04 03:42] zhaosy0415 commented on #133
问题仍存在
![image](https://user-images.githubusercontent.com/39791844/42255651-58829600-7f7f-11e8-9872-e2195b295cd9.png)

[2018-07-04 03:43] zhaosy0415 commented on #131
验证通过

[2018-07-04 03:43] #131 closed, assigned to imzhangjunjie

[2018-07-04 03:43] wwgracie commented on #126
@zhaosy0415  维度聚合选“时“时，累计计算会出现“天”，可以按天累计计算。
按小时累计还没有加上去，稍后应该会加上去。

[2018-07-04 03:44] #37 closed, assigned to cyberyoung, ThomasChan

[2018-07-04 03:47] hhmob commented on #132
老赖解释的比较到位了，我讲一下使用经验：通常把表示ID的字段（比如身份证号，门店名，员工号，手机号，菜品名，VIP卡号）用来做重复率，活跃率和留存率才是有意义的。大家把握这个大原则做这方面的分析吧。

[2018-07-04 03:47] #132 closed, assigned to linhualai

[2018-07-04 03:51] wwgracie commented on #133
@weishishuo 解释一下

[2018-07-04 03:54] zhaosy0415 commented on #136
验证通过

[2018-07-04 03:54] #136 closed, assigned to ThomasChan

[2018-07-04 03:59] zhaosy0415 opened #170 "杨慧:横向柱状图没有排序按钮?"
![image](https://user-images.githubusercontent.com/39791844/42256087-a0efc3a2-7f81-11e8-8715-f63b42813265.png)

[2018-07-04 06:21] zhaosy0415 commented on #162
@wwgracie
![if isnull](https://user-images.githubusercontent.com/39791844/42260065-966d1f4c-7f95-11e8-88b6-f40370ad1271.gif)

[2018-07-04 06:31] zhaosy0415 opened #171 "邓凯红-公式报错原因不明确"
![image](https://user-images.githubusercontent.com/39791844/42260231-351e23e8-7f96-11e8-91a7-b5b385bde5f6.png)
图中的错误是因为没有添加单引号，或者写成双引号，都会报错，而异常提示没有指明是什么原因

期望：
异常提示提示具体错误

[2018-07-04 06:53] hhmob commented on #77
目前可以通过新增一列来实现你的这个需求

[2018-07-04 06:54] hhmob commented on #72
这个建议比较好，可以考虑加入这个提示功能 @ThomasChan

[2018-07-04 07:02] zhaosy0415 opened #172 "【晓凤】编辑界面显示饼图占比一个90多一个低于10%，但展示界面就显示100%"
![image](https://user-images.githubusercontent.com/39791844/42261521-1a71507e-7f9b-11e8-9ac9-829275615944.png)
http://52.83.102.127:8090/#/app/49/dashboard/57/chart/732

[2018-07-04 07:03] zhaosy0415 commented on #172
![image](https://user-images.githubusercontent.com/39791844/42261615-5bac7fa0-7f9b-11e8-8a4e-87544f6ed8a2.png)

[2018-07-04 07:05] hhmob commented on #95
理论上是可以的，但还要考虑行列小计，和表头的锁定问题

[2018-07-04 07:57] linhualai commented on #162
@zhaosy0415 表达式不能乱写啊.
`{退单理由}` 不是整数吧,
if(xxx, '理由1', 0)
0 和 `'理由1'`  它不是一个类型,
你是不是想要写 `NULL` 或者 `''`?

[2018-07-04 08:00] zhaosy0415 commented on #160
@hhmob仔细看下动图. 我所指的'灵活移动',是在说一个图挪到另一个图的时候,另一个图能左滑到旁边.之前这个功能就可以使用,本来就应该保证不能够因为调整就轻易破坏已有的布局,

[2018-07-04 08:00] wwgracie commented on #170
@zhaosy0415  有的，看图
<img width="1432" alt="2018-07-04 4 00 11" src="https://user-images.githubusercontent.com/38898981/42264506-5e0480b0-7fa3-11e8-95f1-1099f558b040.png">

[2018-07-04 08:03] wwgracie commented on #104
@MarshallChen  看一下。

[2018-07-04 08:15] wwgracie commented on #172
@zhaosy0415
http://52.83.102.127:8090/#/app/49/dashboard/57
应该是加了过滤器，现在看是正确的。
<img width="1432" alt="2018-07-04 4 14 11" src="https://user-images.githubusercontent.com/38898981/42265164-55185286-7fa5-11e8-9ee8-dfdc8e789b4a.png">

[2018-07-04 08:20] #170 closed, assigned to ThomasChan

[2018-07-04 08:21] wwgracie commented on #171
@zhaosy0415
错误消息里的column 30 就是第30个字符，就是“期”这个字符处，缺少一个字符。
之后会让@lailinhua 修改的更明确一些。

[2018-07-04 08:24] hhmob commented on #138
研发这个月已经有issue在跟了

[2018-07-04 08:30] zhaosy0415 commented on #147
@linhualai 这个只是我做这个图的其中一个选择. 有的字段是在数据集中添加后会导致结果不准确.所以就得在图表里面添加.

[2018-07-04 08:32] wwgracie commented on #159
#171  同一个问题。

[2018-07-04 08:33] linhualai commented on #147
这种情况是怎么出现的? 按理是没有区别的呀.

[2018-07-04 08:35] ThomasChan commented on #160
您所说的 “左滑到旁边”   与  “不能够因为调整就因为轻易破坏已有的布局” 是冲突的 ，在您给出的动图中，就算我能把 “外卖来源情况分析”  那张图表挪上去，那 “菜品分类营业额占比” 那张图表 也不会 “自动左滑到旁边”， 它会 “自动下滑到下边去”， 因为那一行已经没有能放下它的位置了，显然  “自动下滑到下边去”
 不是您想要的效果，不知道我描述清楚了吗

[2018-07-04 08:38] weishishuo commented on #167
https://github.com/henglabs/everest/issues/1622 已经fix，更新了就OK了。

[2018-07-04 08:51] zhaosy0415 commented on #139
@iamtianyuan 我们的字段都有互相依赖的关系的.如果该字段被引用多次,然后我们在去空格,按照你这个逻辑,首先的把所有依赖解除,才可以进行去空格.这样给客户展示的时候会显得冗余繁琐.这个去空格本来就不应该有限制.

[2018-07-04 08:53] linhualai commented on #139
如果这一列被识别成了数, 它就谈不上空格了.
如果没有被识别成数, 还是文本, 就可以用trim.

不存在 trim({数字}) 的应用场景.

[2018-07-04 08:54] #134 closed, assigned to ThomasChan

[2018-07-04 09:05] zhaosy0415 commented on #111
@weishishuo  ![image](https://user-images.githubusercontent.com/39791844/42267715-5c75654e-7fac-11e8-8012-255711aa0370.png)

[2018-07-04 09:10] zhaosy0415 commented on #4
@weishishuo 但是一个表里面有很多重复字段,那我还是的一个个的查看哪些是重复的,所以大前提就是无论是隐藏还是修改都得一个个查看哪些是重复的 都会影响客户的使用感受,增加繁琐的操作!!!,所以为什么不直接添加一个'只显示重复字段'快速定位问题,让它显得智能一点呢???

[2018-07-04 10:17] weishishuo commented on #111
这个是当前版本的问题，再升级就好了。

[2018-07-04 10:22] zhaosy0415 commented on #160
@ThomasChan 破坏已有的布局针对的是全局的,就比如之前的图表乱窜.那就是破坏了已有布局,但并不意味着现在就应该钉死在那里.无论是左边还是下边,都应该让它灵活一点,让客户能感受到什么叫'智能'.

[2018-07-04 11:34] wwgracie commented on #166
@weishishuo 能看一下吗？

[2018-07-04 12:13] weishishuo commented on #166
再升级一版就行，今天的版本更新有问题。

[2018-07-04 12:18] linhualai commented on #146
@ThomasChan 文本和整数的count应该可以在这里出现.

[2018-07-04 13:32] linhualai commented on #171
已提供更明确的错误位置.

[2018-07-04 13:33] linhualai commented on #159
已提供更明确的错误位置.

[2018-07-04 13:50] linhualai commented on #144
@ThomasChan 你的filter里面 >= 时间, 时间constant 没有传过来.
<img width="323" alt="image" src="https://user-images.githubusercontent.com/1201463/42280724-2468d2d0-7fd4-11e8-9407-a6462f7f8177.png">

[2018-07-04 14:06] linhualai commented on #16
#117 fixed

[2018-07-04 14:07] linhualai commented on #158
@iamtianyuan 出来走两步

[2018-07-05 02:41] wwgracie commented on #171
@linhualai  错误消息后半部分需要更明确。
<img width="1146" alt="2018-07-05 10 35 06" src="https://user-images.githubusercontent.com/38898981/42299702-29fad714-803f-11e8-9590-ffb3d0daf88b.png">

[2018-07-05 03:45] zhaosy0415 opened #173 "司宇：聚合表创建副本报错"
![image](https://user-images.githubusercontent.com/39791844/42301567-9fda3b6a-8048-11e8-9dc3-312dc08d43c8.png)

步骤：
1. 创建一个聚合表
2. 创建聚合表副本
结果：
报错
期望：
成功创建副本

[2018-07-05 06:03] zhaosy0415 opened #174 "司宇：修改聚合表之后保存，页面空白"
![image](https://user-images.githubusercontent.com/39791844/42305126-13056c8c-805c-11e8-855f-781964a1f95d.png)

[2018-07-05 06:24] zhaosy0415 opened #175 "邓凯红-表格图表中对比维度显示优化"
![image](https://user-images.githubusercontent.com/39791844/42301251-d7f3d0da-8046-11e8-922b-cfe2361b5dce.png)
![image](https://user-images.githubusercontent.com/39791844/42301367-67921abc-8047-11e8-8078-03006f0907cf.png)

步骤：
1.创建表格图表，添加2个对比维度   ‘增减库存（1增加，-1减少）’ 和 ‘单据类型’
我的单据类型和增减库存（1增加，-1减少）是一 一对应的，一个单据类型只可能为1或-1，不会同时出现1、-1
结果：
1.显示结果如图， ‘增减库存（1增加，-1减少）’ 为1时，是不会出现第二张图中的单据类型的
期望：
不多余显示

[2018-07-05 06:39] zhaosy0415 opened #176 "司宇：编辑聚合表，增加合表，然后保存，会增加一个报错的副本，然后又消失"
![image](https://user-images.githubusercontent.com/39791844/42306344-33e9b516-8061-11e8-8d6f-c12068455d20.png)
![image](https://user-images.githubusercontent.com/39791844/42306347-366fc708-8061-11e8-91ff-0f7fdcb1fff5.png)
![image](https://user-images.githubusercontent.com/39791844/42306349-3896eb7e-8061-11e8-9dd6-22cdf69ede77.png)

[2018-07-05 06:52] zhaosy0415 opened #177 "司宇：没有协作的应用，最后编辑是别人的账户"
![image](https://user-images.githubusercontent.com/39791844/42306793-f22014c0-8062-11e8-8953-1ef6a9ed9698.png)
![image](https://user-images.githubusercontent.com/39791844/42306824-09f7bfee-8063-11e8-8482-b53e7930b28c.png)

[2018-07-05 07:19] zhaosy0415 opened #178 "邓凯红-图表可以替换数据源"
![image](https://user-images.githubusercontent.com/39791844/42308066-12469298-8067-11e8-8d9a-0fc6672f2135.png)
步骤：
1.添加新的图表，制作好了，添加了数据等
2.刷新仪表盘
结果：
1.提示找不到资源，没办法修改
期望：
1.添加好的图表，支持替换数据源

[2018-07-05 08:02] zhaosy0415 opened #179 "邓凯红-数字默认展示格式为2位数"
![image](https://user-images.githubusercontent.com/39791844/42309857-6e9dbc74-806c-11e8-924c-10ed1d67c0ab.png)
步骤：
1.新建图表，添加度量字段
结果：
1.数据展示如图
期望：
1.建议数据默认展示格式为2位小数
![image](https://user-images.githubusercontent.com/39791844/42309945-b1596e82-806c-11e8-8e2d-d16d17ead0b2.png)

[2018-07-05 08:11] zhaosy0415 opened #180 "邓凯红-添加时间字段为维度时默认按月"
![image](https://user-images.githubusercontent.com/39791844/42310314-b11a27bc-806d-11e8-9922-ffe2d770d28b.png)
步骤：
1.添加时间字段为维度时，默认是毫秒展示
结果：
1.实际情况是很少会出现以毫米展示维度的需求，所以每次都要修改
期望：
1.添加时间字段为维度时默认按月
![image](https://user-images.githubusercontent.com/39791844/42310540-421ec4d4-806e-11e8-80ed-d84dcf3c6fdf.png)

[2018-07-05 08:24] firelyu opened #181 "不能连上MySQL数据库"
使用命令行可以连上，在页面中不能连上。

[code]

![image](https://user-images.githubusercontent.com/1694674/42311175-cb567a5c-806f-11e8-8b78-020397d4b913.png)

[2018-07-05 08:32] firelyu commented on #181
数据库和BI都在AWS上。
登录BI机器，可以通过命令行连上数据库。
![image](https://user-images.githubusercontent.com/1694674/42311688-0601d1b4-8071-11e8-82ab-857d81443e1e.png)

[2018-07-05 08:37] firelyu commented on #181
在develop.hengshi.io上，使用TiDB，端口改成3306，可以连上。
![image](https://user-images.githubusercontent.com/1694674/42311971-adde3a26-8071-11e8-9db1-1596f517414b.png)

[2018-07-05 08:59] weishishuo commented on #181
为了支持高级计算，mysql需要创建udf的权限，tidb不支持udf，所以才不报错，能不能让他们增加权限？

[2018-07-05 09:01] weishishuo commented on #176
那个是我测试创建副本的bug，我自己删了。。。

[2018-07-05 09:03] weishishuo commented on #174
@zhaojunliRain  看下编辑fusion

[2018-07-05 09:07] ThomasChan commented on #180
首先  @zhaosy0415  你在导入该数据集的时候，在 `配置数据` 那一步，就可以给每个字段选择默认聚合。
其次 @hhmob 我们可以修改一下数据集字段管理页面，加上修改字段默认聚合的下拉选项。

[2018-07-05 09:09] ThomasChan commented on #179
@hhmob  考虑到金融相关的客户，我建议默认至少是 4 位小数。

[2018-07-05 09:16] zhaosy0415 opened #182 "司宇：KPI计数结果不正确"
http://52.83.102.127:8090/#/app/51/dashboard/62/chart/779
http://52.83.102.127:8090/#/app/51/dataset/727
步骤：
1. 使用员工信息表（1）创建KPI图表
2. 选择员工姓名，计数
结果：
显示76
期望：
该表有一千多行数据，没有选择去重，单纯计数应该是一千多而不是76

[2018-07-05 09:22] zhaosy0415 commented on #182
![image](https://user-images.githubusercontent.com/39791844/42314563-e5bdbcc2-8077-11e8-856d-97197f85db40.png)
![image](https://user-images.githubusercontent.com/39791844/42314594-f35c3354-8077-11e8-8ae3-78efd28be06d.png)

[2018-07-05 09:41] zhaosy0415 commented on #182
咱们的系统默认筛选有效时间，可是这个表里的时间没有参考意义，不应该默认进行筛选

[2018-07-05 10:18] zhaosy0415 opened #183 "邓凯红-筛选时间后同比值为空"
![image](https://user-images.githubusercontent.com/39791844/42316907-8d56f48a-807d-11e8-9632-cb373a3f03d6.png)
![image](https://user-images.githubusercontent.com/39791844/42317301-9026ae2a-807e-11e8-8880-3ddd0f85115d.png)
![image](https://user-images.githubusercontent.com/39791844/42317599-5a6bb2de-807f-11e8-88b8-f45e735be5e0.png)

步骤：
1.添加2个计算字段，小计（求和），小计（求和，去年同期值）
2.筛选时间为今年
结果：
1.如图，不显示去年同期值
期望：

[2018-07-05 10:18] zhaosy0415 opened #184 "司宇：柱状图浮窗，字模糊"
![image](https://user-images.githubusercontent.com/39791844/42317755-afeba7aa-807f-11e8-9652-ce5230563ce3.png)
鼠标放在柱上方边边

[2018-07-05 11:38] ThomasChan commented on #182
哈哈咱们系统可没有那么 “智能” 的知道你这个时间字段没有参考意义哦，只有人才知道。

[2018-07-05 11:38] #182 closed, assigned to ThomasChan

[2018-07-05 11:40] ThomasChan commented on #183
。。。。。。。不受时间限制还要时间轴做甚，你就把时间筛选里边的快速过滤选成 “无” 不就好了？

[2018-07-05 12:29] ThomasChan commented on #183
你在 BDP 里那个 “自定义时间段”  选择的是哪段时间呀？

[2018-07-06 02:08] zhaosy0415 opened #185 "邓凯红-时间字段按月统计时，图表坐标轴改为xxxx年x月"
![image](https://user-images.githubusercontent.com/39791844/42356232-f3986ab8-8103-11e8-8b6c-20b8620eb44e.png)
步骤：
1.维度时时间字段，统计方式是按月
结果：
1.坐标轴的显示格式如图
期望：
2018-03-01显示为2018年3月或者其他类似方式，不要显示到具体日
2017-12-01显示为2017年12月或者其他类似方式，不要显示到具体日

[2018-07-06 02:17] zhaosy0415 commented on #179
如果金融客户占比不到10%最好是2位数，真的有金融客户，作图的时候可以手动调增位数，剩下的90%非金融客户，作图的时候就避免调整小数位数了

[2018-07-06 02:19] ThomasChan commented on #185
之前是有个 bug 没有保存住格式，已经改过了，旧的图重新选择一下那个轴吧

[2018-07-06 02:20] MarshallChen commented on #12
https://github.com/henglabs/lhotse/commit/4dd67ed9aa3185b40b9579da20febb60253659db

[2018-07-06 02:24] zhaosy0415 commented on #185
修改成柱状图可以或者折线图，可以显示为xxxx年x月，但是多选柱状图还是显示为2017-12-03这种格式

[2018-07-06 03:04] weishishuo commented on #181
当前mysql连接需要创建udf的权限，参考语句
[code]

[2018-07-06 03:10] zhaosy0415 opened #186 "司宇：筛选的条件和展示的内容不符"
http://52.83.102.127:8090/#/app/51/dashboard/62/chart/802
![image](https://user-images.githubusercontent.com/39791844/42357984-17d342c8-810d-11e8-9bb9-8813ed5f8205.png)
![image](https://user-images.githubusercontent.com/39791844/42357994-25c33834-810d-11e8-9170-4a88df89fdf3.png)
没有在筛选条件中勾选的内容还是显示在图表中

[2018-07-06 03:11] zhaosy0415 commented on #16
请问是在哪个版本修复的。

[2018-07-06 03:11] zhaosy0415 commented on #140
@wwgracie 可以.

[2018-07-06 03:13] #140 closed, assigned to iamtianyuan

[2018-07-06 03:25] wwgracie commented on #74
两个数值的刻度设置相同时，对比就出来了。

[2018-07-06 03:30] zhaosy0415 commented on #182
那咱们系统是怎么“智能”的在我几十个时间字段里面选择一个作为筛选条件呢？
![image](https://user-images.githubusercontent.com/39791844/42358595-f59a7278-810f-11e8-80a2-39f6a65cc1c3.png)

[2018-07-06 03:32] #55 closed, assigned to xuyian252

[2018-07-06 03:39] wwgracie commented on #147
@zhaosy0415 如果有计算不准确的问题，再提一个issue进来，这个问题先关了

[2018-07-06 03:48] wwgracie commented on #167
可以下载了，进度提示后续会改得更友好一些。

[2018-07-06 03:49] wwgracie commented on #159
还有一点小问题，后续会改得更友好。

[2018-07-06 03:55] ThomasChan commented on #182
如果有时间字段的话就选第一个呀😂

[2018-07-06 06:57] wwgracie commented on #186
@zhaosy0415 点下面的“应用”按钮才会生效

[2018-07-06 07:08] wwgracie commented on #185
@ThomasChan 多选柱状图还没改过来

[2018-07-06 07:31] zhaosy0415 commented on #186
![070601](https://user-images.githubusercontent.com/39791844/42365624-990facea-8131-11e8-8d50-51667817ff7b.gif)
是点击了应用之后没有生效才提的bug，能否先验证一下？

[2018-07-06 07:35] zhaosy0415 commented on #182
那也可以一个都不选呀~默认都是无呀~因为选择错误的字段还要再进行修改也蛮麻烦的呢~

[2018-07-06 07:39] wwgracie commented on #186
@ThomasChan  看一下

[2018-07-06 07:47] zhaosy0415 commented on #183
其他条件都是和衡石一样的，bdp选的2018-01-01 00:00:00-至今，衡石的是今年

[2018-07-06 08:36] zhaosy0415 commented on #126
@wwgracie ![new](https://user-images.githubusercontent.com/39791844/42368523-d64332a0-8139-11e8-830e-3200a8ee4ce1.gif)
选择小时,累计计算出现'天'.这个确实出现了.但是后面得累计计算还是按小时累计得,也就是说这个设置并没有生效,把累计计算 粒度改成其他也是如此, 实际上我们希望得是后面的累计计算可以和前面得粒度一样同步.比如说维度选择时间 然后粒度选择月,那么累计计算得时候下拉菜单也要有月.

[2018-07-06 08:37] weishishuo commented on #173
fixed

[2018-07-06 08:44] ThomasChan commented on #126
@hhmob 解释一下这个功能，我被你们说晕了

[2018-07-06 09:59] zhaosy0415 opened #187 "司宇：在图表中使用在数据集中创建的计算字段进行计算，数据集中的计算字段修改后，图表中的计算字段不会随之改变"
步骤：
1. 在数据集中创建计算字段收入、净利和工资
http://52.83.102.127:8090/#/app/51/dataset/727
2. 使用该数据集创建图表，在图表中添加计算字段，人均销售收入，使用数据集中的收入字段进行计算（收入/人数）
http://52.83.102.127:8090/#/app/51/dashboard/62/chart/829
3. 修改数据集中收入的算法
4. 查看图表中的数据
结果：
没有改变
期望：
随之改变

[2018-07-07 06:28] ThomasChan commented on #178
没看明白， 资源未找到是说这个图表被删了？还是仪表盘被删了？还是应用被删了？

[2018-07-09 03:40] im0nk3y opened #188 "追加合并能够允许两个表不同名字的字段进行mapping"
目前欢哥的设计是直接进入新增字段，客户不能够去表达两个不同名字段是一样的。
bdp的做法是可以拖动列对齐来解决。

[2018-07-09 03:45] im0nk3y opened #189 "数字和整数的限制建议放开"
不同类型不能对齐追加，是可以的。
但是数值和整数还是希望可以放开限制。

[2018-07-09 03:57] firelyu commented on #186
去掉“排除”的过滤条件后，“包含”的过滤条件才能正常生效

[2018-07-09 04:15] firelyu commented on #161
新上传的Excel文件中，更改了一列的数据类型。

[2018-07-09 05:27] ThomasChan commented on #187
@hhmob 跟进这个。

[2018-07-09 06:15] firelyu opened #190 "提供所有可用计算公式文档"
1. 奥琦玮需要知道所有计算公式的列表。
2. 可以放在官网或产品中。需要设计@hhmob

[2018-07-09 06:27] firelyu opened #191 "高级表达式选择数字类型，结果为整数"
1. 选择`高级表达式`，数据类型为`数字`。

    ![image](https://user-images.githubusercontent.com/1694674/42433795-67c3408a-8383-11e8-9a9f-f47bcac4d284.png)

2. 输入公式 15 / (2 * 3)
    ![image](https://user-images.githubusercontent.com/1694674/42433843-8afa372a-8383-11e8-9291-9747ebdbe4d0.png)

3. 结果为`整型`，不是`数字`。
    <img width="683" alt="2018-07-09 2 19 56" src="https://user-images.githubusercontent.com/1694674/4243

[2018-07-09 06:35] firelyu commented on #177
1. 上传Excel文件，没有协作。
2. 最后编辑显示错误。

[2018-07-09 07:37] zhaosy0415 opened #192 "杨慧: 设置了两个权限控制条件,结果是交集而不是并集"
添加了两个权限,一个是用户A,但没有选择筛选条件.第二个是用户A,筛选条件为之能看到某一条订单内容.结果A依然只能看到某一条订单的内容.由此可见A的权限是由最小的权限来决定的.

[2018-07-09 11:34] ThomasChan commented on #186
等部署后验证

[2018-07-09 11:53] meredith620 commented on #192
问题确认,下个版本会修复.
是多条规则中, 空规则会被忽略, 容易被理解成"或"关系没有生效.
其实规则间依然是"或"关系, 非空规则可继续使用.

[2018-07-10 02:40] hhmob commented on #180
@MarshallChen thomas的建议不错，我们来看看字段管理页面还可以放下默认聚合的下拉不？

[2018-07-10 03:13] meredith620 commented on #33
截屏的bug在开发分支已经解决了, 在等一个依赖的feature一起合并,预计7月下旬的小版本会提供修复的版本

[2018-07-10 03:52] zhaosy0415 opened #193 "已在仪表盘中使用计算字段可删除-dll"
步骤：
1、添加计算字段A，使用该字段作图
2、新chart中删除计算字段A

结果：
可删除

期望：
不可删除，给提示。

[2018-07-10 04:17] zhaosy0415 opened #194 "邓凯红-是否有类似函数能实现和窗口函数同样的功能"
窗口函数的功能是否能实现
窗口函数基本格式：  函数（）over（partition by 分组字段 order by 排序字段）
现在我们经常用的窗口函数有以下3个
1.累计求和公式
Sum(col_3)over(partition by col_1, month(col_2)  order by col_2 asc )

2.排序字段
Row_number( )over(partition by col_1, month(col_2)  order by col_2 asc )

3.排序字段
rank( )over(partition by col_1, month(col_2), col_4  order by col_2 asc )

上面3个公式在数据集中的计算结果如图（图中左边是原数据集，右边是不同公式计算结果）
![image](https://user-images.gi

[2018-07-10 06:51] zhaosy0415 opened #195 "邓凯红-表关联时一些表无法拖进去？"
![image](https://user-images.githubusercontent.com/39791844/42493529-f277c742-844f-11e8-8b16-46b16dd7e500.png)
![image](https://user-images.githubusercontent.com/39791844/42493681-8cf321a4-8450-11e8-8507-73ceb5d8207f.png)

步骤：
1.把lgt_depotlost_item拖进去后lgt_good表无法拖动
结果：
1.鼠标放那提示如图
期望：
可以关联

[2018-07-10 06:52] #195 closed, assigned to nobody

[2018-07-10 07:04] zhaosy0415 opened #196 "【晓凤】仪表盘内包含图表过多，笔记本加载失败，台式机加载过慢"

[2018-07-10 09:37] zhaosy0415 opened #197 "邓凯红-SQL查询可以引用已建好的数据集"
![image](https://user-images.githubusercontent.com/39791844/42501901-4d9ec19a-8467-11e8-8aa8-ee60c2d44d4f.png)
步骤：
1.新建数据集-SQL查询
结果：
1.直接跳到元数据连接
期望：
1.不要直接跳到元数据连接，可以选择引用：元数据连接或者现有数据集（可以查询下面的数据集）

![image](https://user-images.githubusercontent.com/39791844/42502061-ab8dec72-8467-11e8-8ab6-7f6323ef466d.png)

[2018-07-10 09:54] #171 closed, assigned to linhualai

[2018-07-10 10:25] hhmob commented on #187
这是一个bug，我们的同事已经修复了，请在下一个版本验证

[2018-07-10 10:26] hhmob commented on #179
会改成默认保留2位小数

[2018-07-10 10:44] hhmob commented on #126
累积计算的“重复周期”一定需要大于时间维度的聚合单位的，比如你时间维度是按“天”聚合的，那么重复周期就只支持“周月季年”，这时“天”作重复周期是没意义的。
累积计算“重复周期”的作用是：计算时会根据设置在每个重复周期的起点清零并重新计算。

那么就是说，如果你时间维度选择“月”，累积计算“重复周期”也选成“月”，比如计算方式是“求和”，那么这等价于按“月”“求和”，不需要用到累积计算。BDP也是不支持的。

[2018-07-10 10:55] linhualai commented on #193
@zhaosy0415
从我们设计的出发点, 计算字段是一个 ad-hoc , 自由灵活添加的一个过程.

它能够复用只是一个历史上的“用过”的原因, 给它提供一个快捷方式. 它在逻辑上并没有和正在chart上使用的metric有一个强关联的关系. 所以这个应该不是一个问题.

[2018-07-10 11:33] cyberyoung commented on #196
多少个图表？

[2018-07-11 02:24] zhaosy0415 opened #198 "司宇：柱状图Y轴的起始数值不是0"
数值应该是从0开始，不能从最小值开始
![image](https://user-images.githubusercontent.com/39791844/42547361-4f7641d6-84f4-11e8-95a9-70a44845cfca.png)
![image](https://user-images.githubusercontent.com/39791844/42547409-7c124654-84f4-11e8-936c-a2a790f77985.png)

[2018-07-11 02:52] zhaosy0415 opened #199 "邓凯红-修改聚合表无法删除原来关联的表添加筛选条件后保存出错"
![image](https://user-images.githubusercontent.com/39791844/42548376-51f19438-84f9-11e8-8a79-be1c091272c8.png)
![image](https://user-images.githubusercontent.com/39791844/42548027-8ca9f248-84f7-11e8-8d46-2f3e13b43cba.png)
![image](https://user-images.githubusercontent.com/39791844/42548162-6133a7d4-84f8-11e8-9fa2-d3c2e8aebd39.png)
期望：
1.聚合表可以修改，增加关联表、删除关联表和替换表，如果删除的表已在图表中使用，要提示
替换表的时候，只要新表和被替换的表有同

[2018-07-11 03:00] zhaosy0415 opened #200 "【P0】司宇：柱状图可以显示数值标签"
![image](https://user-images.githubusercontent.com/39791844/42548423-866d0026-84f9-11e8-86ff-2f0af62173dc.png)
![image](https://user-images.githubusercontent.com/39791844/42548434-9151c7b0-84f9-11e8-9c44-bc21b43c155e.png)

[2018-07-11 03:21] zhaosy0415 opened #201 "司宇：柱状图X轴维度名称可以倾斜展示，显示出尽量多的维度"
![image](https://user-images.githubusercontent.com/39791844/42548961-58b207d2-84fc-11e8-83a7-8a2e67039f5e.png)
![image](https://user-images.githubusercontent.com/39791844/42548966-61ed708e-84fc-11e8-810e-2b7c49c30e4f.png)
部分维度展示不出来，客户看着也不方便

[2018-07-11 06:16] zhaosy0415 opened #202 "【P1】司宇：数据集中的数据选择按日期降序排列，排列不正确"
![image](https://user-images.githubusercontent.com/39791844/42553803-e86541c4-8514-11e8-96ec-4e236339eb1c.png)

[2018-07-11 06:28] zhaosy0415 opened #203 "邓凯红-预览追加数据集界面添加一个返回或者上一步"
![image](https://user-images.githubusercontent.com/39791844/42554206-958610b2-8516-11e8-8a88-80982ac33cbc.png)

[2018-07-11 06:37] zhaosy0415 opened #204 "邓凯红-数据集界面添加筛选功能，导出数据默认导出筛选后的数据"
![image](https://user-images.githubusercontent.com/39791844/42554629-2dd10d4e-8518-11e8-9714-d5dd37bfccb0.png)

[2018-07-11 07:01] weishishuo commented on #199
1. 修改聚合表无法删除原来关联的表
这个是我们当前的产品设计如此，我们会考虑改进功能的。
1. 添加筛选条件后保存出错
这个bug @meredith620 fix一下。

[2018-07-11 07:24] zhaosy0415 opened #205 "邓凯红-聚合数据集中添加的字段在chart中使用报错"
![image](https://user-images.githubusercontent.com/39791844/42556466-458ed5fa-851e-11e8-9405-f1f2da51b777.png)

[2018-07-11 07:32] zhaosy0415 commented on #199
![image](https://user-images.githubusercontent.com/39791844/42556755-35b0bee0-851f-11e8-99e7-9b992dedaa5e.png)
经过上面操作的聚合表（添加筛选条件后保存报错），作图的时候添加维度报错，再点击维度就没反应了
![image](https://user-images.githubusercontent.com/39791844/42556913-a9d9c6fe-851f-11e8-8029-4b507ec3449a.png)

[2018-07-11 09:15] zhaosy0415 opened #206 "【P0】司宇：横向柱状图比例不对"
![image](https://user-images.githubusercontent.com/39791844/42562141-8463bf3e-852d-11e8-88e7-8a2123df1cc5.png)
![image](https://user-images.githubusercontent.com/39791844/42562161-946d7488-852d-11e8-95d0-2d5bdfad4dea.png)
![image](https://user-images.githubusercontent.com/39791844/42562207-b15dc64c-852d-11e8-8d02-3dd24c408881.png)
竹荪的数量是898，茼蒿的数量是986，但是柱状图的比例明显大于986：898

[2018-07-11 09:19] weishishuo commented on #205
这个能给我们详细的信息吗？帮忙获取游览器的debug，或者登陆账号能给我们吗？

[2018-07-11 09:28] wwgracie commented on #202
@zhaosy0415  能提供一下数据集链接吗？看了几个数据集，排序是正常的

[2018-07-11 09:33] wwgracie commented on #198
可以修改刻度，从0开始。
<img width="1434" alt="2018-07-11 5 32 36" src="https://user-images.githubusercontent.com/38898981/42563279-734ea030-8530-11e8-95b2-ab097a15f459.png">

[2018-07-11 09:49] wwgracie commented on #196
@zhaosy0415  能提供一下仪表盘的链接吗

[2018-07-11 09:53] hhmob commented on #206
坐标X轴的原点是880，898在x轴上的长度就是898-880=18，986在x轴上的长度就是106
106/18=5.89倍，可见比例是合理的
如果想自己定义x轴的数值范围，可以进入度量的“设置刻度”菜单里，取消“最小值”的“自动”设置，然后手动设为0即可
如图所示：
![image](https://user-images.githubusercontent.com/15355269/42564301-fe00d822-8532-11e8-9fbe-3d9e35403828.png)

[2018-07-11 09:55] weishishuo commented on #205
@linhualai  这种之前不是去掉了吗？group by常量，order by常量。
[code]

[2018-07-11 09:57] zhaosy0415 commented on #206
这种最小值的默认选择的初衷是什么？

[2018-07-11 10:05] hhmob commented on #206
这是一种视觉上的加工方式，能够凸显一些数值之间的差异

[2018-07-11 10:09] zhaosy0415 commented on #202
是用SQL查询出的数据~

[2018-07-11 10:35] wwgracie commented on #202
@zhaosy0415  没理解什么意思？能详细说一下吗？
是在数据库中用sql去查询？不是在http://52.83.102.127:8090/ 这个环境中？

[2018-07-11 13:04] hhmob commented on #135
在整数类型的过滤器中加入包含和不包含的过滤方式 @ThomasChan

[2018-07-11 13:08] hhmob commented on #194
之后的版本会考虑加入窗口函数功能

[2018-07-11 13:10] hhmob commented on #65
可以通过之后给出的跨应用拷贝数据集的功能来实现

[2018-07-11 13:33] weishishuo commented on #181
fixed，下一个版本更新就好了。

[2018-07-11 13:34] weishishuo commented on #173
这个已经修复了，现在还会复现吗？

[2018-07-11 13:35] weishishuo commented on #161
新版本我们提示更明确。下一个版本更新就好了。

[2018-07-11 13:37] hhmob commented on #202
麻烦司宇提供bug的环境，我们看一下

[2018-07-11 13:39] weishishuo commented on #29
我们已对可能对系统造成磁盘大量占用的情况做防护，并提示。小数据量的情况不会做防护和提示，下一个版本会体现。

[2018-07-12 02:00] zhaosy0415 opened #207 "邓凯红-在维度处添加的计算字段，在度量那使用报错"
![image](https://user-images.githubusercontent.com/39791844/42608466-6ba2eadc-85ba-11e8-9e18-2810abc42e4e.png)
![image](https://user-images.githubusercontent.com/39791844/42608471-72e3afca-85ba-11e8-8435-8dfd81de4127.png)

[2018-07-12 04:30] zhaosy0415 commented on #111
![image](https://user-images.githubusercontent.com/39791844/42612693-531eb31e-85cf-11e8-9674-f94e4622f876.png)

[2018-07-12 05:38] hhmob commented on #175
建议很合理，后面的版本可以考虑改进

[2018-07-12 08:20] zhaosy0415 opened #208 "邓凯红-添加计算字段时预览界面显示被计算的字段和新添加的计算字段"
![image](https://user-images.githubusercontent.com/39791844/42620800-93e2f242-85ee-11e8-8c20-0caab4aba861.png)

步骤：
1.图表里添加了维度：仓库ID，度量：count和数量，然后点击“添加计算字段”，
2.公式是mod({货品ID},3)，下一步预览添加，显示如上图
结果：
无法验证添加的字段
期望：
1.至少显示货品ID，计算字段结果

[2018-07-12 08:56] wwgracie commented on #208
@hhmob  看一下

[2018-07-12 10:41] zhaosy0415 opened #209 "司宇：时间不能筛选同一天，需要选择一下日期之后再选择同一天"
![image](https://user-images.githubusercontent.com/39791844/42628533-fc2c317e-8602-11e8-802b-3c790bfe9e89.png)
![image](https://user-images.githubusercontent.com/39791844/42628571-1c37534a-8603-11e8-97ce-3fbbd3799cf8.png)

[2018-07-12 18:29] hhmob commented on #203
追加数据集这个功能的交互会重新设计

[2018-07-13 02:43] zhaojunliRain commented on #174
与issue https://github.com/henglabs/everest/issues/1672 一样，现在问题已经解决，下次更新就不会空白了。

[2018-07-13 02:47] MarshallChen commented on #174
fixed already

[2018-07-13 08:47] zhaosy0415 opened #210 "杨慧:多选柱状图显示结果不正确"
![image](https://user-images.githubusercontent.com/39791844/42682181-663e614a-86bc-11e8-8533-ff4fecdb545d.png)
如图.数值营业额比净收入要大,但是图表显示则是反的.

[2018-07-13 09:59] zhaosy0415 opened #211 "【P1】司宇：动态改变横向柱状图的右边距"
![image](https://user-images.githubusercontent.com/39791844/42685739-64665800-86c6-11e8-9175-59a80b30e627.png)
![image](https://user-images.githubusercontent.com/39791844/42685740-65544236-86c6-11e8-86f5-eb001c00d9cf.png)

[2018-07-15 20:10] hhmob commented on #208
这种表达式我们建议加在数据集上

[2018-07-16 05:34] wwgracie commented on #210
@zhaosy0415  还是因为刻度问题，两个刻度设置成一样的，就不会有这个问题了。

[2018-07-16 06:08] ThomasChan commented on #211
@zhaosy0415 这个其实不是 bug ，是还没有来得及做那个优化，目前可以通过在布局中设置一个右边距来解决，如图
![image](https://user-images.githubusercontent.com/5715335/42744774-6bc233fc-8901-11e8-8b18-a4f345e1578a.png)

[2018-07-16 07:07] zhaosy0415 opened #212 "宋洪彪：重置密码一直显示邮箱或密码错误"
重复多次后，一直显示5分钟后请重试，是否可以倒计时；点击忘记密码，显示：系统没有配置邮箱服务，请找管理员修改密码，是否可以邮箱重置密码

[2018-07-17 00:42] wwgracie commented on #191
@linhualai  看一下

[2018-07-17 01:42] zhaosy0415 opened #213 "邓凯红-协作和发布提示没有权限访问该地址"
![image](https://user-images.githubusercontent.com/39791844/42791943-9db11f3c-89a5-11e8-9591-bdc350be25e4.png)

[2018-07-17 01:49] MarshallChen commented on #212
第一个问题我没明白您的意思；第二个问题是当提示系统没有配置邮箱服务是不能通过邮箱找回密码的，只能管理员修改当前用户密码然后把密码告诉给用户。

[2018-07-17 02:23] zhaosy0415 opened #214 "邓凯红-提示信息不要挡住关闭按钮，不然非要等提示消失才能关闭"
![image](https://user-images.githubusercontent.com/39791844/42793120-3b3748da-89ab-11e8-899d-64af009a84b7.png)
![image](https://user-images.githubusercontent.com/39791844/42793131-4bb7d652-89ab-11e8-8f32-9ff7002f6804.png)

[2018-07-17 02:42] linhualai commented on #191
暂时是这个设计. 整数的运算结果都是整数. 中间过程也都是取整的.
如果现在需要数字的话可以暂时先在计算过程中加入浮点数字, 例如:
`floor(1.0 * 15/ (3 * 2))`

[2018-07-17 02:58] ThomasChan commented on #207
这个问题已经做了处理以及限制。
在维度轴上添加字段有两个限制：
1. 是不可以有聚合算子的
2. 至少有一个字段参与计算

如果有聚合算子或者没有字段参与计算，在点击 `下一步` 时我们会给出错误提示。

[2018-07-17 03:06] ThomasChan commented on #184
请在下次部署后验证

[2018-07-17 03:16] ThomasChan commented on #209
请在下次部署后验证。

[2018-07-17 03:27] ThomasChan commented on #138
在下次部署后验证。

[2018-07-17 08:49] #118 closed, assigned to linhualai

[2018-07-17 09:25] #151 closed, assigned to ThomasChan

[2018-07-17 09:42] #164 closed, assigned to MarshallChen

[2018-07-17 09:54] #133 closed, assigned to weishishuo

[2018-07-17 09:56] #107 closed, assigned to weishishuo

[2018-07-17 09:59] #153 closed, assigned to weishishuo

[2018-07-18 01:49] zhaosy0415 opened #215 "邓凯红-以前添加的计算字段，这次更新后报错，新添加计算字段也报错"
![image](https://user-images.githubusercontent.com/39791844/42854641-666bca48-8a6f-11e8-8921-86e2f56e0302.png)
![image](https://user-images.githubusercontent.com/39791844/42854713-c4186872-8a6f-11e8-8ffe-a786c571fa81.png)
![image](https://user-images.githubusercontent.com/39791844/42854732-e3040962-8a6f-11e8-8a07-2033a04ea23e.png)

[2018-07-18 02:06] #176 closed, assigned to weishishuo

[2018-07-18 02:10] janplus commented on #215
烦请提供一下涉及的数据集以及图表的链接。

[2018-07-18 02:14] #185 closed, assigned to ThomasChan

[2018-07-18 02:34] #74 closed, assigned to ThomasChan

[2018-07-18 02:38] #166 closed, assigned to imzhangjunjie

[2018-07-18 02:55] #169 closed, assigned to ThomasChan

[2018-07-18 03:31] #158 closed, assigned to iamtianyuan

[2018-07-18 03:34] zhaosy0415 opened #216 "邓凯红-concat函数不要限制串联2个字符串，可以串联多个"
![image](https://user-images.githubusercontent.com/39791844/42857826-34f65d84-8a7e-11e8-8def-7f86419722d4.png)

比如 concat(STRING1,STRING2,STRING3,STRING4……)

[2018-07-18 03:36] #159 closed, assigned to linhualai

[2018-07-18 03:48] zhaosy0415 commented on #16
![image](https://user-images.githubusercontent.com/39791844/42858300-7b33ce88-8a80-11e8-9b0f-76482ba71008.png)
未知类型还是无法修改

[2018-07-18 06:10] #198 closed, assigned to ThomasChan

[2018-07-18 06:19] zhaosy0415 commented on #215
http://52.83.102.127:8090/#/app/49/dashboard/57
下图是点进去前，编辑移除后，再添加就报错
http://52.83.102.127:8090/#/app/49/dashboard/57/chart/745

[2018-07-18 06:21] zhaosy0415 commented on #215
![image](https://user-images.githubusercontent.com/39791844/42863442-cc640704-8a95-11e8-97c7-6673c5f571a3.png)

[2018-07-18 06:22] zhaosy0415 commented on #215
数据集：http://52.83.102.127:8090/#/app/49/dataset/677

[2018-07-18 06:28] zhaosy0415 commented on #215
另一处
http://52.83.102.127:8090/#/app/50/dashboard/56/chart/705
![image](https://user-images.githubusercontent.com/39791844/42863727-a18d08ae-8a96-11e8-82ed-bd09929c7757.png)
红框里的都是计算字段现在都报错，按照同样的公式添加新的计算字段时在点击下一步就会报错

[2018-07-18 06:35] janplus commented on #215
应用「外卖Demo」中的「菜品情况」能提供Excel文件给我测试么？

[2018-07-18 06:41] #12 closed, assigned to MarshallChen

[2018-07-18 06:42] #213 closed, assigned to imzhangjunjie

[2018-07-18 06:47] janplus commented on #215
另，我使用 `dll@acewill.cn` 账号登录无法访问 app 49，能把 app 49 协作给 `dll@acewill.cn` 么

[2018-07-18 06:47] zhaosy0415 commented on #215
我提供另外一个Excel吧
在这个Excel创建图表添加计算字段，最简单的sum函数都报错
![image](https://user-images.githubusercontent.com/39791844/42864572-84b1c4d8-8a99-11e8-98e0-085c8f274677.png)

[2018-07-18 07:00] #14 closed, assigned to ThomasChan

[2018-07-18 07:18] zhaosy0415 commented on #123
第一次验证有效果，能累计计算，第二次就又没效果了，这里选年和季度都不累计计算
![image](https://user-images.githubusercontent.com/39791844/42865891-a5ffb330-8a9d-11e8-9852-6f2f8a683258.png)

![image](https://user-images.githubusercontent.com/39791844/42865971-dcdcc23a-8a9d-11e8-916a-0b2a5eabed35.png)

[2018-07-18 07:19] janplus commented on #215
好的，烦请提供一下。

[2018-07-18 07:21] zhaosy0415 commented on #215
1、49已协作给dll
2、怎么把Excel提供给你，你微信是？

[2018-07-18 07:29] zhaosy0415 commented on #66
现在计算已经支持修改了，在添加新的计算字段的时候不能使用已添加好的计算字段
![image](https://user-images.githubusercontent.com/39791844/42866473-30b65c8a-8a9f-11e8-88c8-f365c3ddd1c6.png)

![image](https://user-images.githubusercontent.com/39791844/42866453-23dad518-8a9f-11e8-9936-9f522cae72d7.png)

[2018-07-18 07:33] janplus commented on #215
[中学.xlsx](https://github.com/henglabs/issues/files/2204821/default.xlsx)

像这样点击如下图的按钮直接上传到 issue 里面即可。

![image](https://user-images.githubusercontent.com/3134769/42866707-f2e2d6b2-8a9f-11e8-84c7-2246debe2d7f.png)

[2018-07-18 07:39] zhaosy0415 opened #217 "邓凯红-修改图表中的计算字段公式，已添加到数值中的该计算字段值不随之变化，必须要移除后再添加一次"

[2018-07-18 07:41] zhaosy0415 commented on #123
原因是，只要这张Excel里我添加了计算字段就会出现这种情况
![image](https://user-images.githubusercontent.com/39791844/42867080-12847164-8aa1-11e8-8864-91ec54f00d62.png)

[2018-07-18 07:43] wwgracie opened #218 "不是bug"

[2018-07-18 07:45] #218 closed, assigned to ThomasChan

[2018-07-18 07:51] zhaosy0415 commented on #215
![image](https://user-images.githubusercontent.com/39791844/42867446-39fb77aa-8aa2-11e8-9007-38cc0441cc34.png)
这6个表追加文件上传到衡石的
太大了，不能超过10M

[2018-07-18 07:53] janplus commented on #215
可以邮件到：wujian@hengshi.com

[2018-07-18 07:55] #141 closed, assigned to ThomasChan

[2018-07-18 08:03] zhaosy0415 commented on #215
已发送

[2018-07-18 08:22] #114 closed, assigned to linhualai

[2018-07-18 08:30] zhaosy0415 opened #219 "【P0】宋洪彪--执行SQL报错，但在tidb可以执行，不报错"
`SELECT * FROM   (select substring(b.createtime,1,10)as '时间',c.sname as '商家名称', CASE b.source WHEN 10 THEN '饿了么' WHEN 9
 THEN '美团' WHEN 5 THEN '百度' END  as '平台'  ,sum(b.totalprice) as '营业额',sum(b.shopfee) as '净收入',
convert((sum(b.totalprice)/COUNT(b.amoid)),decimal(12,2))as "客单价" ,COUNT(b.amoid) as "有效订单",sum(a.shop_rate) as '商家承担'  ,
 sum(b.package_fee) as '餐盒费',sum(b.service_money) as '平台佣金' ,su

[2018-07-18 08:32] cyberyoung commented on #219
给一下应用这个sql选择的connection

[2018-07-18 08:33] #209 closed, assigned to ThomasChan

[2018-07-18 08:50] wwgracie commented on #216
@linhualai  函数说明需要改一下。
@zhaosy0415  在高级表达式里，是可以concat多个字符串的，比如concat({zh_name},{director},{prime_genre})

[2018-07-18 09:08] #186 closed, assigned to linhualai

[2018-07-18 09:11] #144 closed, assigned to ThomasChan

[2018-07-18 09:13] hhmob commented on #217
这不是一个bug，而是一个设计上的考虑，不去直接影响图上的计算字段。移除再添加一次就可以了

[2018-07-18 09:17] zhaosy0415 commented on #215
我点击编辑原来的计算字段，发现里面的公式都是空的，所以报错
![image](https://user-images.githubusercontent.com/39791844/42872030-5b2ccb66-8aae-11e8-98c2-4c671ae8ebe1.png)

[2018-07-18 09:19] zhaosy0415 commented on #217
那如果，我做了很多图，每张图里都使用了这个计算字段，我后面发现这个计算字段有误，难道那么多图，我都要去移除一遍再添加一遍吗，你们这样设计是怎么考虑的？

[2018-07-18 09:38] ThomasChan commented on #123
@linhualai

[2018-07-18 10:05] zhaosy0415 opened #220 "邓凯红-计算公式中有括号的，计算优先级"
![image](https://user-images.githubusercontent.com/39791844/42874769-8ea0511a-8ab4-11e8-8e36-4e467b1ea946.png)
![image](https://user-images.githubusercontent.com/39791844/42874923-f1224de8-8ab4-11e8-922e-2fd7f58ed678.png)

库存周转率=Sum({菜品成本})/sum({期初盘点}+{期末盘点})*2*DISTINCT_COUNT(month({审核时间}))
库存周转率1=Sum({菜品成本})/(sum({期初盘点}+{期末盘点})/(2*DISTINCT_COUNT(month({审核时间}))))

这2个公式的计算结果应该一致，在bdp里一样，但是在衡石里面不一样

[2018-07-18 10:48] cyberyoung commented on #219
![2033645310](https://user-images.githubusercontent.com/501691/42877094-2b778c0a-8abb-11e8-86c6-07c324512d6d.jpg)

[2018-07-18 12:06] wwgracie commented on #220
@linhualai  优先看一下。

[2018-07-18 12:59] linhualai commented on #220
[code]
这两者的值结果是不一样的. 我们的计算结果应该是对的.

[2018-07-19 02:04] zhaosy0415 commented on #220
你公式写错了，我的公式应该是下面这样

100

100

[2018-07-19 02:10] zhaosy0415 commented on #220
![image](https://user-images.githubusercontent.com/39791844/42917384-e20db89c-8b3b-11e8-8946-21fd10348823.png)
![image](https://user-images.githubusercontent.com/39791844/42917385-e6c50d9a-8b3b-11e8-975c-8c151392a27e.png)
验证了，你们的第二个公式算出来等于25，应该等于100才对

[2018-07-19 02:23] #216 closed, assigned to linhualai

[2018-07-19 02:45] #210 closed, assigned to ThomasChan

[2018-07-19 02:47] #206 closed, assigned to hhmob

[2018-07-19 03:13] weishishuo commented on #219
这个sql有两个问题，
* 最后的两个条件，字段和and之间需要有空格。
* 这个sql的结果有字段重名。
这个不是一个好习惯，我们系统也不支持字段重名。改成这样就好了：
[code]

[2018-07-19 04:29] zhaosy0415 opened #221 "邓凯红-图表中添加计算字段，if(字段 in（）,1 ,0)这种包含in的计算公式报错"

[2018-07-19 04:43] zhaosy0415 opened #222 "邓凯红-数据集追加合并后可修改，可新添加表也可删除表"

[2018-07-19 06:47] zhaosy0415 opened #223 "邓凯红-已使用的计算字段，应该不能被删除"
下面2中计算字段，如果做图时被使用，表示存在依赖，应该不能删除（点击删除时，提示不能删除）
1.数据集中添加的计算字段
2.在图表中添加的计算字段

[2018-07-19 06:54] #181 closed, assigned to weishishuo

[2018-07-19 07:12] #155 closed, assigned to linhualai

[2018-07-19 07:14] #167 closed, assigned to zhaojunliRain

[2018-07-19 07:20] zhaosy0415 opened #224 "杨慧:表格在计算行总计或者列总计的时候希望能灵活选择不同字段的展示结果"
![image](https://user-images.githubusercontent.com/39791844/42927393-fd152604-8b66-11e8-9152-753d70bd2580.png)

![image](https://user-images.githubusercontent.com/39791844/42927498-4d6d903c-8b67-11e8-8b7f-15abf324c8fe.png)
另外还有一点:某一个字段是计算求出来的,比如翻台率 这种,在列总结的时候希望能显示准确结果,而不是所有的翻台率加起来的总和.如下图.
![image](https://user-images.githubusercontent.com/39791844/42928096-002197b8-8b69-11e8-8608-23cea5b7d65d.png)

[2018-07-19 07:48] hhmob commented on #217
- 如果功能是这样实现话，用户就必须要承担因为改动计算字段，造成的对其他所有使用该计算字段图表的影响。因为改动计算字段很可能会造成图表的完全失效。
- 比如我有个计算字段原本没有聚合函数（{A}+{B}），在图表A的度量轴上使用了聚合，比如sum({A}+{B})；然后我把计算字段直接改为含有聚合函数的（sum({A})/distinct_count({B})），那么图就会挂了,因为 sum(sum({A})/distinct_count({B})) 是错误的
- 这样的话，比如我们有10个图用到了这个计算字段，我在其中一个图里改了计算字段的话，可能会导致另外3张图失效，很有可能我们会在用到那3张图的时候才会发现

[2018-07-19 08:26] zhaosy0415 commented on #217
你们要让他跟着自动变，比如非聚合计算字段拖到度量那默认是求和，聚合的计算字段默认是无
这2中应该做到自动识别吧，根本不应该出现你说的sum(sum({A})
举例
原来是公式=A+B，拖到度量使用求和，现在修改公式=sum(A)+sum(B)，你原来图中使用它的就应该自动变为无吧

[2018-07-19 08:59] janplus commented on #215
几个问题：

1. 图表中聚合新增列报错的问题

这是因为聚合的新增列本身就是一个聚合列，这是不允许的，新版本已经禁止了。

2. 数据集类型问题

http://52.83.102.127:8090/#/app/50/dataset/681 的一些列类型为 unknown，烦请提供下这个Excel我再调试一下问题

3. 编辑原有的计算字段，发现里面的公式是空的

未发现这个情况，如果你那边有这个情况，烦请提供下数据集链接以及列名

[2018-07-19 09:44] zhaosy0415 commented on #215
2、http://52.83.102.127:8090/#/app/50/dataset/681 的Excel文件
[外卖最终做图表标准菜品17 2个月的.xlsx](https://github.com/henglabs/issues/files/2209318/17.2.xlsx)
3、以下图红框中的数据为数据源创建一个图表，可以查看到原来建的计算字段，点击编辑，就会看到里面的公式都是空的
![image](https://user-images.githubusercontent.com/39791844/42935049-45027336-8b7b-11e8-9fb6-36b049fec68e.png)

[2018-07-19 09:46] zhaosy0415 commented on #215
1、图表中聚合新增列报错的问题
这是因为聚合的新增列本身就是一个聚合列，这是不允许的，新版本已经禁止了。

请问这个是什么意思？

[2018-07-19 09:49] janplus commented on #215
这是因为聚合的新增列本身就是一个聚合列，这是不允许的，新版本已经禁止了。
请问这个是什么意思？

如果你新增了一列包含了聚合函数如 sum、 count，那么这一列就不允许作为聚合计算列了。

[2018-07-19 10:02] wwgracie commented on #221
用法: if(in({字段},[值1,值2]), 1, 0)

[2018-07-19 10:07] zhaosy0415 commented on #215
哦，这样啊，这也是我新提的一个bug，你们应该设计为自动识别聚合函数，做度量时让他自动调整为无的，而不是需要我移除再添加一次

[2018-07-20 02:25] wwgracie commented on #123
已fix，等升级后就可以了。

[2018-07-20 02:41] wwgracie commented on #215
这个问题还在fix，下周应该能好。

[2018-07-20 02:49] wwgracie commented on #217
@zhaosy0415  @hhmob
不知道我理解的对不对。
“无”，你说的是“求和”之后的“无”，但是更改为聚合函数（比如sum(A)+sum(B)）后，在“度量”上是不允许“求和”以及其他聚合计算的，如下图所示。
<img width="462" alt="2018-07-20 10 46 02" src="https://user-images.githubusercontent.com/38898981/42980554-710e0dfc-8c0a-11e8-932f-2edfc61c1c30.png">

这个列表里是没有”无“的。

[2018-07-20 03:14] zhaosy0415 commented on #221
嗯，函数说明不够清晰

[2018-07-20 03:14] #221 closed, assigned to linhualai

[2018-07-20 03:25] hhmob commented on #135
由于8月的版本会有“筛选支持表达式”，所以现在的推荐做法是，先针对整数生成一个相同内容的文本类型的列，然后用文本中的包含功能来做

[2018-07-20 03:35] hhmob commented on #204
数据集上的筛选不会影响下载的内容，建议可以下载后在excel中裁剪想要的字段

[2018-07-20 03:54] hhmob commented on #217
我们好好的考虑一下您的建议，谢谢司宇同学，点赞

[2018-07-20 07:05] firelyu commented on #204
客户在数据集的页面，通过筛选条件，筛选出明细数据。
使用这种明细数据，检查图表做出的数据对不对。
比如，通过数据集筛选出来数据条数，与图表中的数据条数对比。

[2018-07-21 07:27] linhualai commented on #220
没有复现.

[code]
这个 `)） ` 有一个是中文括号, 会报语法错误. 所有不太明白了是怎么得出25的.
另外整数运算的时候如果不希望中间的运算被取整的话, 最好还是能够 `* 1.0` 之类的 转化成含小数的运算.

[2018-07-21 07:30] linhualai commented on #205
和 henglabs/everest#1776 是同一问题. 判断常量需要递归判断字段是否是常量.

[2018-07-23 02:11] zhaosy0415 commented on #220
这个例子是中文括号，但是在高级计算里明明是数学符号，我截的图可以看清都是数学括号吧

[2018-07-23 02:13] zhaosy0415 commented on #220
而且，你们都不去验证一下，就说这个不是bug吗？

[2018-07-23 02:13] zhaosy0415 opened #225 "杨慧:[block]数据集为未知类型而且不能修改"
![default](https://user-images.githubusercontent.com/39791844/43053772-04d6600e-8e61-11e8-87b9-53470dca9771.gif)
http://52.83.102.127:8090/#/app/77/dataset/844

[2018-07-23 03:14] zhaosy0415 opened #226 "杨慧:图表中的计算字段在另一个图表中无法做为下一个计算的依赖"
![default](https://user-images.githubusercontent.com/39791844/43055510-801d0062-8e69-11e8-83f2-b97e06856d10.gif)

url:http://52.83.102.127:8090/#/app/77/dashboard/116/chart/1166
ps:图表中的‘就餐人数标准’是一个计算字段

[2018-07-23 08:37] zhaosy0415 opened #227 "杨慧:删除不了某个图表"
url：http://52.83.102.127:8090/#/app/77/dashboard/116/chart/1216

[2018-07-23 08:40] #227 closed, assigned to xuyian252

[2018-07-23 09:11] xuyian252 commented on #227
没找到这个图表，是不是已经删了?
@zhaosy0415

[2018-07-23 09:38] zhaosy0415 opened #228 "杨慧:[block]去重计数结果不准确"
![image](https://user-images.githubusercontent.com/39791844/43069236-30473cb6-8e9f-11e8-99a7-fae68607488b.png)
![image](https://user-images.githubusercontent.com/39791844/43069246-3956c222-8e9f-11e8-99e9-84a552b57657.png)

[2018-07-23 09:54] wwgracie commented on #228
@zhaosy0415  给的图看不出来是否正确，能把数据集连接贴出来吗？

[2018-07-23 12:18] hhmob commented on #223
会认真考虑，这个可以和 #217 一起处理

[2018-07-24 07:35] zhaosy0415 opened #229 "杨慧:折线图打开速度变慢"
http://52.83.102.127:8090/#/app/77/dashboard/116/chart/1177

[2018-07-24 08:18] zhaosy0415 opened #230 "杨慧:数据集中得字段无法在筛选条件中显示"
![default](https://user-images.githubusercontent.com/39791844/43125520-e214232e-8f5c-11e8-859a-28c6b3b3c48a.gif)
url:http://52.83.102.127:8090/#/app/77/dashboard/131/chart/1249

[2018-07-24 11:40] wwgracie commented on #217
@ThomasChan  解决这个问题
你们要让他跟着自动变，比如非聚合计算字段拖到度量那默认是求和，聚合的计算字段默认是无
这2中应该做到自动识别吧，根本不应该出现你说的sum(sum({A})
举例
原来是公式=A+B，拖到度量使用求和，现在修改公式=sum(A)+sum(B)，你原来图中使用它的就应该自动变为无吧

[2018-07-24 11:56] ThomasChan commented on #230
@linhualai  该数据集有 449 个字段   但是在 chart 里你只给了我 223 个字段

[2018-07-24 12:01] wwgracie commented on #228
@zhaosy0415  你是不是在数据集中添加的字段？应该在chart中添加字段，这样就会按分组来计数。

[2018-07-24 14:47] hhmob commented on #226
就餐人数标准 这个字段是怎么算出的?  你准备怎么把它用到生成另一个字段呢？能不能写一下表达式？@zhaosy0415

[2018-07-25 01:54] wwgracie commented on #111
@weishishuo  再看一下

[2018-07-25 02:34] wwgracie commented on #220
@zhaosy0415  等升级后再试一下，现在应该好了。10/(1/(2*5))

[2018-07-25 05:30] ThomasChan commented on #76
- [x] 堆叠柱状图
- [x] 百分比堆叠柱状图
- [x] 横向堆叠柱状图
- [x] 横向百分比堆叠柱状图

[2018-07-25 05:31] ThomasChan commented on #152
在 tooltip 里已加上占比。

[2018-07-25 07:13] linhualai commented on #228
@zhaosy0415 如 @wwgracie 所说的, 在数据集中计算的distinct count计数是整个数据集的计数.
如果要计算每个分组的计数可以在 chart 添加计算指标.

[2018-07-25 08:10] zhaosy0415 opened #231 "【block】司宇：之前创建的应用里所有数据都不见了"
http://52.83.102.127:8090/#/app/82?tab=dashboard
![image](https://user-images.githubusercontent.com/39791844/43187721-d5b89c68-9024-11e8-8602-a6788d8b8ba5.png)
![image](https://user-images.githubusercontent.com/39791844/43187771-fb1dcb04-9024-11e8-864a-d4468016c1c7.png)
![image](https://user-images.githubusercontent.com/39791844/43187833-2722c7c2-9025-11e8-86a5-8690dc1012e0.png)

[2018-07-25 08:12] #231 closed, assigned to cyberyoung

[2018-07-25 08:12] zhaosy0415 commented on #231
失误

[2018-07-25 08:14] zhaosy0415 opened #232 "司宇：仪表盘中的图表突然改变布局"
![image](https://user-images.githubusercontent.com/39791844/43188005-af4e7330-9025-11e8-80a3-765cd6bcf3de.png)
未进行任何操作，但是图表都变成靠左对齐，变得很小，也不能放大

[2018-07-25 08:21] wwgracie commented on #207
@ThomasChan  把错误消息改成简体。

[2018-07-25 08:36] hhmob commented on #200
已经排入8月的开发计划中

[2018-07-25 08:39] hhmob commented on #77
这个7月份的版本会提供，过滤出“全部无效时间”（就是时间为null）数据的功能

[2018-07-25 08:41] hhmob commented on #148
7月的版本可以支持

[2018-07-25 08:42] wwgracie commented on #212
@zhaosy0415  这个问题还能复现吗？

[2018-07-25 08:43] hhmob commented on #72
8月的开发计划中实现

[2018-07-25 08:47] hhmob commented on #197
你的意思是可以在已有的数据集上再运用SQL，这是个很好的建议，但是其中涉及到数据集之间很复杂依赖关系，我们需要好好的考虑

[2018-07-25 08:52] hhmob commented on #4
已经在7月份的开发计划中了，8月就能用了

[2018-07-25 09:16] hhmob commented on #190
现在算子的说明示例都已经加入

[2018-07-25 09:17] hhmob commented on #189
现在的追加是不限制类型的，8月份的版本会进一步的实现数值文本日期的自由转换

[2018-07-25 09:18] hhmob commented on #188
7月底的2.0RC版本中实现

[2018-07-25 09:51] hhmob commented on #194
7月底的版本已经支持上述的窗口函数

[2018-07-25 09:52] hhmob commented on #203
7月底的版本会给出全新的追加数据集的版本

[2018-07-25 09:53] hhmob commented on #65
7月底的版本会支持跨应用的数据集复制

[2018-07-25 09:53] hhmob commented on #49
暂时不动这个功能

[2018-07-25 10:03] hhmob commented on #64
应用内仪表盘和图表的复制功能将在7月底的版本中支持

[2018-07-25 10:05] zhaosy0415 opened #233 "杨慧:[P0]追加合并后的表存在丢失数据的现象"
聚合表url:http://52.83.102.127:8090/#/app/77/dataset/860
追加合并表url:http://52.83.102.127:8090/#/app/77/dataset/865
问题最开始发现是针对上一条issue,首先'订单明细项状态'在聚合表中是有数据的,因为这个是用来筛选的条件,很重要,然后做了一个追加合并表,查看'订单明细项状态'全部都是空的.

[2018-07-25 10:10] hhmob commented on #180
已经可以在字段管理页面调整字段的默认聚合方式，请在下一版本中验证

[2018-07-25 10:12] hhmob commented on #179
已经实现保留2位小数，请验证

[2018-07-25 10:14] hhmob commented on #35
都放到引擎里就可以追加了，7月底的版本支持

[2018-07-25 11:21] imzhangjunjie commented on #230
已经修复,请等待下次部署

[2018-07-25 13:14] janplus commented on #233
看上去是fusion表追加合并的问题， @weishishuo 看下你在处理的问题是不是包括这个

[2018-07-26 01:41] weishishuo commented on #111
麻烦截图的时候截整个页面，这样比较方便我们查是哪个地方出问题，谢谢啦。

[2018-07-26 02:23] zhaosy0415 commented on #232
http://52.83.102.127:8090/#/app/5/dashboard/4

[2018-07-26 02:42] weishishuo commented on #111
收银订单主表0712 这个数据集是之前的bug导致的，历史遗留不会自动修复，手动触发就好了。

[2018-07-26 02:46] weishishuo commented on #168
已经支持取消，编辑追加合表如果一个表都不选，就是取消。

[2018-07-26 02:50] weishishuo commented on #222
追加的数据集，在追加合并的入口点击进去就是编辑呀。可以勾选，也可以取消勾选数据集。我们正在增强追加的功能，建议暂停使用，等下一版发布后再用。

[2018-07-26 03:35] weishishuo commented on #233
### 这个是对数据追加的误解。
数据一点都没少。其实追加后的数据集865（其实我们实现是隐藏的866）是旧的865被859，860追加后生成的。860追加的列数据一点也没有变，但是这个列在859，865的行中当然是空的了。不然拿什么填充呢？数据追加，数据聚合，很容易生成null的数据，需要理解好聚合和追加的概念。
数据详见下面sql结果，第一列是行数，第二列是'订单明细项状态'的状态。
[code]

[2018-07-26 04:06] zhaosy0415 opened #234 "【P0】司宇:图表表格中筛选器不生效"
![1](https://user-images.githubusercontent.com/39791844/43241119-4e8fb6e2-90cc-11e8-9752-16ef38c8bf25.gif)

[2018-07-26 07:42] #190 closed, assigned to hhmob

[2018-07-26 08:12] zhaosy0415 opened #235 "杨慧:聚合表重新添加新的数据集保存不了"
url:http://52.83.102.127:8090/#/app/77/dataset/847/edit/fusion/conf

[2018-07-26 09:25] zhaosy0415 opened #236 "杨慧:列值分组的疑问"
1.要设置一个价格带,希望展示结果如下图所示
![image](https://user-images.githubusercontent.com/39791844/43253930-bcd1bd18-90f8-11e8-88ac-45051b03b2f6.png)
 但实际展示结果只代表了组别
![image](https://user-images.githubusercontent.com/39791844/43253950-ccbc5936-90f8-11e8-81a0-0b4b63adc6c5.png)

[2018-07-26 10:31] wwgracie commented on #236
@zhaosy0415  把列值分组的每个分组名称改成0～8、8～15…… 就可以吧？

[2018-07-27 01:30] weishishuo commented on #235
@zhaojunliRain 看一下。

[2018-07-27 02:35] janplus commented on #215
外卖最终做图表标准菜品17 2个月的.xlsx

这个 excel 文件前1000行都是空行，所以探测不到类型，你可以手动删除前面的空行后上传就不会有问题了

下一个更新版本就不会有这个问题了

[2018-07-27 02:47] janplus commented on #225
和 https://github.com/henglabs/issues/issues/215#issuecomment-408293543 应该是同样的问题

你把上传文件中前面的空行删掉重新上传就没有问题了。

[2018-07-27 03:28] hhmob commented on #236
@zhaosy0415 新建列值分组字段，类型选“文本”，分组的名称改成0～8、8～15……

[2018-07-27 03:43] zhaosy0415 opened #237 "杨慧:数据同步不及时,数据库查询有数据 但BI里面同一天数据显示不出来"
url:http://52.83.102.127:8090/#/app/60/dataset/822
http://52.83.102.127:8090/#/app/60/dataset/839
http://52.83.102.127:8090/#/app/60/dataset/863
http://52.83.102.127:8090/#/app/60/dataset/808
http://52.83.102.127:8090/#/app/60/dataset/798
http://52.83.102.127:8090/#/app/60/dataset/796

有的是直接导进来得表,有的sql查询数据已经更新倒最新 但bi图表展示依然不显示数据

[2018-07-27 03:57] cyberyoung commented on #235
杨慧，能说明一下要添加的新数据集是哪个，和谁在哪个做join吗？

[2018-07-27 07:11] #235 closed, assigned to zhaojunliRain

[2018-07-27 07:39] #236 closed, assigned to hhmob

[2018-07-27 08:13] zhaosy0415 commented on #233
@weishishuo
你现在需要知道是:
1.我搜索 订单明细项状态 这一列我在追加合并表里面有且仅能搜索出来一列,而且这里一列结果没有
2.客户搜不到这个数据,那就不能筛选,不能筛选那就达不到他想要得结果.
3.那就让这个结果显示出来即可.客户不会管底层是怎么实现得.结果就是这一列要有数据,如果没有数据,那就是说明追加合并有问题.不管你sql对出来得数据是怎么样得,客户最终结果没看到数据显示那就是有问题.

[2018-07-27 08:31] weishishuo commented on #233
![image](https://user-images.githubusercontent.com/6984355/43310521-5a5b9c72-91ba-11e8-916c-c39ef368f1fb.png)
追加的示意图是这样的，只有数据集3才有的字段，追加在后面，你只看前面的数据，当然只有空值，这不叫数据丢失。你按那个字段排序自然就能看到了。

[2018-07-27 09:15] weishishuo commented on #233
![image](https://user-images.githubusercontent.com/6984355/43312623-71dc57d2-91c0-11e8-99f3-8844694e21b4.png)
你可以拿这个字段来做列值分组，可以看到并不全都是空，而是有值的。

[2018-07-27 09:47] #228 closed, assigned to linhualai

[2018-07-27 11:07] janplus commented on #237
新版本重新设计实现了刷新管理逻辑，等待下周的更新。

[2018-07-27 11:28] ThomasChan commented on #234
@zhaosy0415 好像没有点击下边的 “应用”？

[2018-07-29 15:50] im0nk3y commented on #233
@weishishuo
我理解你说的数据没有丢失，追加后只有部分行的这一列不为空，所以这里的数据集是正确的。
但是请注意客户的问题是：**没有搜出来，因此无法进行筛选。**

[2018-07-30 01:31] weishishuo commented on #233
我前面解释的是为什么在数据集的数据管理页面，看到'订单明细项状态'这列全部是空的，因为那里展示的不是全部数据，而是前面的1000条。你们说的无法筛选，是说在作图的时候做的筛选吧？我试了一下，你们当前版本确实作图的时候看不到这个字段，这个bug我们同事（ henglabs/everest#1851 ）已经修复了，在下一个版本升级中就好了。

[2018-07-30 03:03] #123 closed, assigned to linhualai

[2018-07-31 11:03] weishishuo commented on #199
https://github.com/henglabs/everest/issues/1937 我们同事已经fix。

[2018-08-02 07:27] zhaosy0415 opened #238 "杨慧: 列值分组范围无法选择小数或者百分数"
![gif1](https://user-images.githubusercontent.com/39791844/43568635-b1e02542-9667-11e8-97bf-504271ac7759.gif)

[2018-08-02 07:32] zhaosy0415 opened #239 "杨慧:sql写进的语句只取年月的话格式默认为文本 ,不能进行修改"
url: http://52.83.102.127:8090/#/app/89/dataset/895
![gif2](https://user-images.githubusercontent.com/39791844/43569138-3c75ff32-9669-11e8-9ab2-e9ae176af245.gif)

[2018-08-02 11:12] wwgracie commented on #212
@zhaosy0415  重置密码时要点保存，保存之后，重置的密码才生效，才可以登录。

[2018-08-03 02:04] linhualai commented on #239
substring 的意思就是取string. 格式只能是文本.
如果需要转时间的话, 需要自己在TiDB中写cast到时间.

[2018-08-03 03:31] zhaosy0415 opened #240 "杨慧：分组柱状图，添加筛选门店之后度量刻度不能自动变化"
![gif3](https://user-images.githubusercontent.com/39791844/43622769-73f9ac18-9710-11e8-9682-65e028508fc2.gif)
选好维度和度量之后，假设只查看某个门店的信息，然后度量的值选择刻度的时候无法进行选择。

[2018-08-03 07:43] zhaosy0415 opened #241 "杨慧:上传本地文件失败"
url:http://52.83.102.127:8090/#/app/89/import/upload
![gif4](https://user-images.githubusercontent.com/39791844/43630780-d75d6880-9733-11e8-9ddb-e59f9be8d033.gif)

[2018-08-04 06:09] weishishuo commented on #241
这个文件能给我们一份吗？ @zhaosy0415 方便我们解决问题。

[2018-08-04 06:11] weishishuo commented on #241
@zhaosy0415 不用了，所有文件都不能上传了。

[2018-08-04 13:34] cyberyoung commented on #241
现在应该好了
下周部署的版本应该再没有这个问题

[2018-08-08 06:10] #241 closed, assigned to cyberyoung

[2018-08-08 08:22] zhaosy0415 commented on #220
![default](https://user-images.githubusercontent.com/39791844/43825351-2265df96-9b27-11e8-9ac3-36eba2cea701.gif)

[2018-08-08 08:25] wwgracie commented on #220
@zhaosy0415
因为都是整数
10/2=5，
5/6=0

如果想获得小数，把其中一个数加上.0，比如10.0/2/(2*3)
或者乘以1.0可以实现。

[2018-08-08 08:28] #205 closed, assigned to linhualai

[2018-08-08 08:31] #193 closed, assigned to linhualai, hhmob

[2018-08-08 08:59] zhaosy0415 commented on #193
![default](https://user-images.githubusercontent.com/39791844/43827374-491dea84-9b2c-11e8-87d9-2c6f8aacbf37.gif)

[2018-08-08 09:54] #173 closed, assigned to weishishuo

[2018-08-08 09:55] #128 closed, assigned to MarshallChen

[2018-08-08 10:04] zhaosy0415 commented on #66
![default](https://user-images.githubusercontent.com/39791844/43831038-713c7b76-9b35-11e8-8cc1-c20ad52a58ab.gif)

[2018-08-08 10:17] zhaosy0415 commented on #29
![image](https://user-images.githubusercontent.com/39791844/43831589-37413220-9b37-11e8-977d-c85b979e4673.png)
![image](https://user-images.githubusercontent.com/39791844/43831612-45762eae-9b37-11e8-8a11-08644ba1d9ad.png)
url:http://52.83.102.127:8090/#/app/77/dataset/844 原表
url:http://52.83.102.127:8090/#/app/77/dataset/970 聚合表

[2018-08-08 10:21] #25 closed, assigned to linhualai

[2018-08-08 10:25] zhaosy0415 commented on #96
![image](https://user-images.githubusercontent.com/39791844/43831943-62001f48-9b38-11e8-9308-d7585bbb6d22.png)

[2018-08-08 10:28] zhaosy0415 commented on #233
今天追加了一下午一直转圈,明天再试试吧.

[2018-08-08 11:17] firelyu commented on #96
不是点击这里，是点击条。@zhaosy0415

[2018-08-08 11:19] MarshallChen commented on #96
点下面的修改是改对应的列值，点击拖动或修改上面的红条是改每个列值对应的范围。

[2018-08-09 02:27] zhaosy0415 opened #242 "升级后协作表报错-dll"
http://52.83.102.127:8090/#/app/49/dashboard/57
code
:
15001
error
:
"error/sql-execution-error"
msg
:
"执行sql失败，原因  SQL: SELECT (cast("hs__c22" as text)) AS "hs_fb02", date_trunc('month', to_timestamp("hs__c11", 'YYYY-MM-DD HH24:MI:ss'))::date AS "hs_3403", (case when (2) != 0 then (sum((case when extract(day from to_timestamp("hs__c11", 'YYYY-MM-DD HH24:MI:ss'))::integer <= 4 and cast("hs__c12" a

[2018-08-09 10:27] xuyian252 commented on #242
过滤器错误 date_trunc('month', to_timestamp("hs__c11", 'YYYY-MM-DD HH24:MI:ss'))::date **IN ()**
@ThomasChan

[2018-08-10 03:15] hhmob commented on #240
已经在新版本里修复

[2018-08-13 06:21] zhaosy0415 opened #243 "刘璐：外卖订单数据TIDB和BI系统里的条数不一致。"
有个部门需要统计分析商户外卖订单数据，每天会有脚本自动抽取前一天的数据导入TIDB,然后BI系统再通过SQL读取TIDB的数据进行展现，现在发现的问题是，相同的查询SQL在TIDB和BI系统返回的结果是不一致的，例如2018-07-24的无效订单数量，TIDB里是22，而BI系统查到的是15.  查询SQL如下：

select substring(b.createtime,1,10)as '时间',COUNT(b.amoid) as "退单数量"
from   alp_merchant_order b LEFT JOIN alp_address c on b.sid = c.sid
   where  c.sname like "鳗鳗的爱%" and b.orderstatus in (8,18)  group by 1 order by 1 DESC

据那个部门的人员反馈，经常会有两

[2018-08-13 06:27] zhaosy0415 opened #244 "【徐晓凤】数据导入时，未勾选该列，导入，发现导入的数据扔包含未勾选的列"

[2018-08-13 06:27] zhaosy0415 opened #245 "【P0】司宇：柱状图等需要在维度上显示缩略轴"
维度内条目过多时，显示不全，需要有缩略轴可以帮助显示全部的数据
![image](https://user-images.githubusercontent.com/39791844/44015728-b513beb8-9f04-11e8-9504-ee1c518ba1d3.png)
![image](https://user-images.githubusercontent.com/39791844/44015793-ef9b4fce-9f04-11e8-8d6c-a18a19a813a0.png)
![image](https://user-images.githubusercontent.com/39791844/44015823-023a530a-9f05-11e8-9e43-1c9910fa2ba1.png)

[2018-08-13 06:44] cyberyoung commented on #243
是否可以给一下BI系统对应的数据集是哪个？谢谢

[2018-08-13 07:18] zhaosy0415 commented on #243
数据集是mmda_open。

[2018-08-13 07:29] cyberyoung commented on #243
[code]
目前起这个名字的数据集有以上3个，麻烦确认是哪个ID？

[2018-08-13 08:21] zhaosy0415 commented on #243
是 916。

[2018-08-13 09:19] wwgracie commented on #244
数据导入时会导入全部的列，勾选只起显示或隐藏的作用。

[2018-08-13 10:14] cyberyoung commented on #243
1. 理论上，这个数据集是custom sql，我们对于custom sql并没有中间处理，直接放到数据源执行的
2. 生成的SQL为```SELECT d.时间, d.商家名称,d.平台,d.营业额,d.净收入,d.有效订单,d.商家承担,d.餐盒费,d.平台佣金,d.配送费,e.退单数量,e.退单金额 FROM (select substring(b.createtime,1,10)as 时间,c.sname as 商家名称, CASE b.source WHEN 10 THEN '饿了么' WHEN 9 THEN '美团' WHEN 5 THEN '百度' END as 平台 ,sum(b.totalprice) as 营业额,sum(b.shopfee) as 净收入,COUNT(b.amoid) as 有效订单,sum(a.shop_rate) as 商家承担 , sum(b.p

[2018-08-14 01:42] zhaosy0415 opened #246 "【晓凤】表格图表中，当选择列数超过11列时，行数只展现10行"
![image](https://user-images.githubusercontent.com/39791844/44067107-53c1540c-9fa6-11e8-87a5-9db4ead7cc67.png)

[2018-08-14 03:20] ThomasChan commented on #245
在我们的 chart -> 布局 中有个选项是 “显示值域漫游” 就是这个功能， @hhmob 可以考虑一下让我们的文案更接地气儿点

[2018-08-14 09:47] zhaosy0415 opened #247 "【晓凤】数据超过1万格时无法导出全部数据"

[2018-08-15 02:22] zhaosy0415 opened #248 "【晓凤】导出csv格式文件没有后缀，需要手工添加后缀并打开"

[2018-08-15 02:38] zhaosy0415 opened #249 "【P0】司宇：饼图放到最大，标签也显示不全"
![image](https://user-images.githubusercontent.com/39791844/44128704-f66181b6-a076-11e8-9377-f85bd76d9e76.png)

放大饼图，文字应该显示完整，可以自主选择指引线是否显示

[2018-08-15 03:16] zhaosy0415 opened #250 "【晓凤】导出仪表盘pdf展示分页请调整，不要将一个图片分成2部分显示"
![image](https://user-images.githubusercontent.com/39791844/44129778-a6a3ee7e-a07c-11e8-99f2-b9d5f32aa6f8.png)

[2018-08-15 03:18] zhaosy0415 opened #251 "【晓凤】单独图片导出成png或者pdf时，页面下部分显示的内容请去掉----请看第二个图片"
![image](https://user-images.githubusercontent.com/39791844/44129825-e24200ec-a07c-11e8-8c80-247483219e37.png)

[2018-08-15 03:19] zhaosy0415 commented on #251
![image](https://user-images.githubusercontent.com/39791844/44129850-06c23efa-a07d-11e8-9418-8a5714d8184f.png)

[2018-08-15 06:57] zhaosy0415 opened #252 "【P0】司宇：CONCAT计算不正确"
![image](https://user-images.githubusercontent.com/39791844/44135384-6dc38d34-a09b-11e8-878b-0465e3cc5116.png)
![image](https://user-images.githubusercontent.com/39791844/44135391-73063652-a09b-11e8-8079-4af9ffd6f803.png)

[2018-08-15 07:29] zhaosy0415 opened #253 "【P0】司宇：图表中CONCAT关联整型报错"
![image](https://user-images.githubusercontent.com/39791844/44136587-e9ed6e58-a09f-11e8-994e-d5f3d84ebc2d.png)
数据集中不报错

[2018-08-15 07:56] zhaosy0415 opened #254 "【P0】司宇：筛选结果不正确"
步骤：
1. 没有任何筛选条件，查看数字
![image](https://user-images.githubusercontent.com/39791844/44137460-22aa6874-a0a3-11e8-9060-a266b4f41d38.png)
![image](https://user-images.githubusercontent.com/39791844/44137562-7012b0a8-a0a3-11e8-8a3d-514a6d58e533.png)
2. 筛选订单状态等于3，查看数字
![image](https://user-images.githubusercontent.com/39791844/44137587-8cee0baa-a0a3-11e8-8f57-06016e708e6f.png)
3. 筛选订单状态不等于3，查看数字
![image](

[2018-08-15 09:02] zhaosy0415 opened #255 "司宇：高级计算页面，报错后点击上一步并不能返回上一步"
![12](https://user-images.githubusercontent.com/39791844/44140529-df377546-a0ac-11e8-9df8-19f44bc2fff2.gif)

[2018-08-15 09:02] wwgracie commented on #252
@zhaosy0415  chart中添加的字段，其值是group by 维度，并按特定聚合方式（数字是sum，文本是count）得到的数字，这里的1就是concat后的文本计数。

[2018-08-15 09:46] wwgracie commented on #254
@zhaosy0415
id,color
1, 红色
1, 绿色

过滤条件color=红色, id去重=1，
过滤条件color!=红色, id去重=1
无过滤条件，id去重=1,
1+1 != 1

结论：去重时得到的结果不是互补的，有一部分是重合的。

[2018-08-15 09:48] wwgracie commented on #253
@ThomasChan  首先要检验目标类型和计算结果是否匹配，匹配之后再进行聚合。

[2018-08-15 09:48] zhaosy0415 commented on #254
你的例子的前提条件是id是重复的，我选择去重的id是不会有重复的

[2018-08-15 10:00] wwgracie commented on #254
@zhaosy0415
我的数值计算的方式也是id**去重**。

你改成“计数”，两者求和就是对的。

[2018-08-15 10:22] ThomasChan commented on #248
Fixed in henglabs/everest#2398;

[2018-08-15 10:23] ThomasChan commented on #249
红框里的文字在最新版里去掉了

[2018-08-15 10:26] ThomasChan commented on #251
@hhmob

[2018-08-15 10:28] ThomasChan commented on #246
首先这不是 bug
其次我们限制了表格总格子的数量
在后续的版本里会对表格进行优化

[2018-08-15 10:55] ThomasChan commented on #247
是说 chart 左边栏的 “导出 csv” 吗？
咱们系统默认限制 1000 条数据的，可以在 “左边栏->配置->限制条数” 里将 1000 修改为 1 万以上。

[2018-08-16 10:23] zhaosy0415 opened #256 "【P0】司宇：在仪表盘维度使用trim，报错"
![image](https://user-images.githubusercontent.com/39791844/44203420-690b4700-a181-11e8-98b6-95a5b823a833.png)

[2018-08-16 10:43] wwgracie opened #257 "substring：报错：function pg_catalog.substring(text, bigint, integer) does not exist"
POST https://develop.hengshi.org/api/apps/861/datasets/2660/fields/verify （jmeter/jmeter)

POST data:
{"options":{"label":"string_comb1","type":"string","visible":true,"originType":"string","expr":{"kind":"formula","op":"substring(trim({director}),length(trim({director}))-2,3)"}}}

{"version":"2.0.0-SNAPSHOT@7801108","code":10013,"msg":"数据库错误","error":"error/db-error","debug":"ERROR: function pg_c

[2018-08-16 10:47] cyberyoung commented on #256
@ThomasChan

henglabs/everest#2425

[2018-08-16 11:18] #257 closed, assigned to linhualai

[2018-08-17 09:12] zhaosy0415 opened #258 "【P0】司宇：追加数据集之后报错"
![1](https://user-images.githubusercontent.com/39791844/44258078-881cde00-a240-11e8-8349-c714bca03f9f.jpg)
![2](https://user-images.githubusercontent.com/39791844/44258079-88b57480-a240-11e8-8093-b78cd35677a3.png)
![3](https://user-images.githubusercontent.com/39791844/44258080-88b57480-a240-11e8-8c61-400f01a0c6d1.png)
![4](https://user-images.githubusercontent.com/39791844/44258082-89e6a180-a240-

[2018-08-17 09:14] zhaosy0415 opened #259 "【P0】司宇：维度不包含空格，但是自动分组，有时候又不复现"
![image](https://user-images.githubusercontent.com/39791844/44258200-dfbb4980-a240-11e8-86d0-2978c5704071.png)
![image](https://user-images.githubusercontent.com/39791844/44258213-e649c100-a240-11e8-8485-c57a7e5e4bf7.png)

[2018-08-17 09:48] janplus commented on #258
看上去是union类型问题，应该已经fix了， @linhualai 确认下

[2018-08-17 10:17] linhualai commented on #259
@ThomasChan  净收入/营收 是一个非聚合值, 需要强制加上 sum/avg/max/min , 不应该可选聚合 `无`

<img width="1192" alt="image" src="https://user-images.githubusercontent.com/1201463/44261233-9e7b6780-a249-11e8-9865-ba72a94f7bff.png">

[2018-08-17 10:23] ThomasChan commented on #259
谁让你把 aggregate function 给改了的，你修了这个问题就好了

[2018-08-24 02:52] zhaosy0415 commented on #259
问题仍复现

[2018-08-24 05:05] cyberyoung commented on #259
图需要重做，以便导入新的配置
客户已操作，目前是正常的，数据库的存储也是对的
可以再观察

[2018-08-30 08:51] #242 closed, assigned to ThomasChan

[2018-08-30 08:53] zhaosy0415 commented on #232
![image](https://user-images.githubusercontent.com/39791844/44841128-38dda100-ac75-11e8-9db0-f7f0adfce8ab.png)

[2018-08-30 08:55] #229 closed, assigned to ThomasChan

[2018-08-30 09:00] zhaosy0415 opened #260 "杨慧:作图就显示系统繁忙"
![image](https://user-images.githubusercontent.com/39791844/44841573-4182a700-ac76-11e8-8e9f-5e300da8c435.png)

[2018-08-30 09:03] #179 closed, assigned to ThomasChan, hhmob

[2018-08-30 09:07] zhaosy0415 commented on #146
![image](https://user-images.githubusercontent.com/39791844/44841970-33815600-ac77-11e8-8ef3-6207e539d8bb.png)

[2018-08-30 09:08] #212 closed, assigned to MarshallChen

[2018-08-30 09:10] #62 closed, assigned to MarshallChen

[2018-08-30 09:12] zhaosy0415 commented on #143
@ThomasChan  不可以使用那就改成可以使用.
![image](https://user-images.githubusercontent.com/39791844/44842224-ddf97900-ac77-11e8-8c04-ee9f79b6b812.png)

[2018-08-30 09:15] zhaosy0415 commented on #147
![image](https://user-images.githubusercontent.com/39791844/44842401-49434b00-ac78-11e8-89ec-6cd3dc019e23.png)

[2018-08-30 09:17] #66 closed, assigned to linhualai

[2018-08-30 09:18] #130 closed, assigned to ThomasChan

[2018-08-30 09:23] #172 closed, assigned to ThomasChan

[2018-08-30 09:24] #137 closed, assigned to hhmob

[2018-08-30 09:27] zhaosy0415 commented on #139
![image](https://user-images.githubusercontent.com/39791844/44843050-f5d1fc80-ac79-11e8-8273-ec113b6e69b1.png)

[2018-08-30 09:39] #126 closed, assigned to ThomasChan

[2018-08-30 09:44] #92 closed, assigned to linhualai

[2018-08-30 09:46] zhaosy0415 commented on #96
![image](https://user-images.githubusercontent.com/39791844/44844137-a93bf080-ac7c-11e8-8c8f-d96bae57bbcd.png)

[2018-08-30 09:49] #56 closed, assigned to MarshallChen

[2018-08-30 09:59] zhaosy0415 commented on #42
不能使用
![image](https://user-images.githubusercontent.com/39791844/44844791-6bd86280-ac7e-11e8-84d2-b2cafae790bd.png)

[2018-08-30 10:18] zhaosy0415 commented on #187
http://52.82.28.138:8090/#/app/77/dashboard/251/chart/3186
![image](https://user-images.githubusercontent.com/39791844/44845790-0fc30d80-ac81-11e8-8022-c11490113973.png)

[2018-08-30 10:22] #180 closed, assigned to MarshallChen, hhmob

[2018-08-30 10:25] #46 closed, assigned to ThomasChan

[2018-08-30 11:44] MarshallChen commented on #42
这不是找到三个包含『测试』关键字的列嘛？

[2018-08-30 11:47] MarshallChen commented on #96
前面两个是点到相应颜色的条上改的，绿色条改第一个分组，蓝色条改第二个分组。

[2018-08-31 02:11] #161 closed, assigned to weishishuo

[2018-08-31 02:20] zhaosy0415 commented on #174
![image](https://user-images.githubusercontent.com/39791844/44889182-71c65600-ad07-11e8-9c81-f44a11153c0f.png)
卡死了在这里

[2018-08-31 02:27] #184 closed, assigned to ThomasChan

[2018-08-31 02:32] zhaosy0415 commented on #207
![image](https://user-images.githubusercontent.com/39791844/44889613-1bf2ad80-ad09-11e8-958c-edafcb49d92e.png) 无法验证

[2018-08-31 02:33] #219 closed, assigned to weishishuo

[2018-08-31 02:41] zhaosy0415 commented on #220
![image](https://user-images.githubusercontent.com/39791844/44889762-fd40e680-ad09-11e8-89db-6010f6332cfc.png)
![image](https://user-images.githubusercontent.com/39791844/44889784-12b61080-ad0a-11e8-970f-665378690c0e.png)

[2018-08-31 02:46] #192 closed, assigned to meredith620

[2018-08-31 02:52] zhaosy0415 commented on #177
![image](https://user-images.githubusercontent.com/39791844/44890200-e3080800-ad0b-11e8-98b1-ab5db5c39128.png)

[2018-08-31 02:55] #33 closed, assigned to meredith620, zhaojunliRain

[2018-08-31 02:58] #76 closed, assigned to ThomasChan, hhmob

[2018-08-31 03:06] zhaosy0415 commented on #152
![image](https://user-images.githubusercontent.com/39791844/44890545-49d9f100-ad0d-11e8-8b4c-d8e1dedde532.png)

显示如下图这种,有小标签的
![image](https://user-images.githubusercontent.com/39791844/44890530-39c21180-ad0d-11e8-9c34-877ac5ecb4b0.png)

[2018-08-31 03:22] zhaosy0415 opened #261 "杨慧:聚合筛选条件一直闪烁 无法搜索"
![831](https://user-images.githubusercontent.com/501691/44891224-c02c2280-ad10-11e8-8cee-f50e5656bf8b.gif)

[2018-08-31 03:26] zhaosy0415 opened #262 "杨慧:追加合并搜索问题"
![831](https://user-images.githubusercontent.com/39791844/44891226-c28e7c80-ad10-11e8-9359-a8f80fd7c32f.gif)

[2018-08-31 03:29] MarshallChen commented on #261
这不是闪烁，这是在你输入的时候就已经在过滤结果了。

[2018-08-31 03:36] #215 closed, assigned to janplus

[2018-08-31 03:38] #225 closed, assigned to janplus

[2018-08-31 03:40] #237 closed, assigned to janplus

[2018-08-31 03:42] #230 closed, assigned to nobody

[2018-08-31 03:44] zhaosy0415 commented on #199
![image](https://user-images.githubusercontent.com/39791844/44891686-45b0d200-ad13-11e8-91f2-2aa7dd9714fb.png)

[2018-08-31 08:10] zhaosy0415 commented on #238
测试了依然不可以

[2018-08-31 08:11] zhaosy0415 commented on #239
用cast依然不行

[2018-08-31 08:15] #234 closed, assigned to ThomasChan

[2018-08-31 08:15] #240 closed, assigned to ThomasChan

[2018-08-31 08:17] zhaosy0415 commented on #4
![image](https://user-images.githubusercontent.com/39791844/44901243-64c25a80-ad39-11e8-913e-2d1a43ca2173.png)

[2018-08-31 08:20] #203 closed, assigned to MarshallChen, hhmob

[2018-08-31 08:27] #245 closed, assigned to ThomasChan, hhmob

[2018-08-31 08:32] #244 closed, assigned to nobody

[2018-08-31 08:32] #243 closed, assigned to cyberyoung

[2018-08-31 08:34] #252 closed, assigned to linhualai

[2018-08-31 08:45] #248 closed, assigned to ThomasChan

[2018-08-31 08:47] zhaosy0415 commented on #254
![default](https://user-images.githubusercontent.com/39791844/44902776-6db52b00-ad3d-11e8-82ed-883d193f092f.gif)
计算器算出来是 46666026.数值依然对不上.实际我们算这个字段最主要的就是去重计数,你们的计数只是计数.去重才是去重计数.但就算你说的改成计数,求和也不对.

[2018-08-31 08:50] #247 closed, assigned to ThomasChan

[2018-08-31 09:05] #259 closed, assigned to cyberyoung

[2018-08-31 09:07] zhaosy0415 commented on #249
![image](https://user-images.githubusercontent.com/39791844/44903879-4318a180-ad40-11e8-8005-65d04cf9dc7f.png)

[2018-09-05 09:22] zhaosy0415 opened #263 "杨慧:聚合表重复字段显示不正确"
![image](https://user-images.githubusercontent.com/39791844/45084181-3e812e00-b130-11e8-9b7b-5c24b0b0698a.png)
url:http://52.83.102.127:8090/#/app/77/dataset/847/edit/fusion/conf

[2018-09-11 09:10] cyberyoung commented on #96
@hhmob 欢哥，这个看看？我之前也很困惑

[2018-09-11 11:31] hhmob commented on #96
应该点击下面的分组区间应该也能选中区间才行

[2018-09-14 08:27] zhaosy0415 opened #264 "【P0】筛选时间后提示图表配置错误"
http://bi.acewill.cn:8090/#/app/131/dashboard/514/chart/4243
![image](https://user-images.githubusercontent.com/39791844/45538601-197c7180-b83a-11e8-9a3b-96b537918280.png)